<template lang='pug'>
  .c-login
    validation-observer.c-login-form.ed-grid.m-grid-2(
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    )
      .m-cols-1
        h3 Iniciar Sesión
      .m-cols-1
        img( src="@/assets/images/business/DonaPepaHeader.png" )
      .m-cols-2.input-group
        input-text(
          type="text"
          rules="required"
          name="username"
          v-model="username"
          placeholder="Usuario"
          @enter="handleSubmit(onSubmit)"
        )
      .m-cols-2.input-group
        input-text(
          type="password"
          rules="required"
          name="password"
          v-model="password"
          placeholder="Contraseña"
          @enter="handleSubmit(onSubmit)"
        )
      .m-cols-2.input-group
        label.e-checkbox
          input(
            type="checkbox",
            name="saveMe"
            v-model="saveAuth"
          )
          span
            i.icon-check
          | Recordar contraseña
      .m-cols-2.input-group
        button.e-btn.e-btn--fullwidth(
          v-if="!isLoadingAuth"
          @click="handleSubmit(onSubmit)"
        ) INGRESAR
        .e-btn.e-btn--fullwidth.e-btn--loading(
          v-else
        )
          i.icon-loading
      .m-cols-2
        p.c-login-form__link ¿Olvidaste tu contraseña?&nbsp;
          a(@click="$modal.show('recover-password')") Ingresa aquí
    modal(
      name="recover-password"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
    )
      .c-recover-pass
        i.icon-lock
        p ¿Olvidaste tu contraseña?
          span Ingresa tu correo para recuperarla
        validation-observer.c-login-form.c-login-form--recover(
          ref="observer"
          v-slot="{ handleSubmit }"
          tag="form"
          @submit.prevent
        )
          .input-group
            input-text(
              icon="user"
              type="email"
              rules="required|email"
              inputStyle="input--gray"
              name="email"
              v-model="emailRecover"
              placeholder="Correo electrónico"
              @enter="handleSubmit(onSubmit)"
            )
          button.e-btn.e-btn--small(
            v-if="!isLoadingAuth"
            @click="handleSubmit(onSubmit)"
          ) Recuperar
          .e-btn.e-btn--fullwidth.e-btn--loading(
            v-else
          )
            i.icon-loading
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    inputText: () => import('@/components/02-molecule/formElements/default'),
    inputCheckbox: () => import('@/components/02-molecule/formElements/checkbox')
    // component
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: false,
      emailRecover: '',
      username: '',
      errorMessage: '',
      password: '',
      saveAuth: false,
      isLoadingAuth: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_LOGIN: 'Auth/A_LOGIN'
    }),
    async onSubmit () {
      this.isLoadingAuth = true
      try {
        await this.A_LOGIN({ usuario: this.username, clave: this.password })
        const data = this.$cookies.get('AUTH_DATA')
        console.log(data.empleado.idCargo)
        if (data.empleado.idCargo === 1) {
          this.$router.push({ name: 'DashboardPage' })
        }
        if (data.empleado.idCargo === 2) {
          this.$router.push({ name: 'SaleswomanNotePage' })
        }
        if (data.empleado.idCargo === 3) {
          this.$router.push({ name: 'DisscountsPage' })
        }
        if (data.empleado.idCargo === 4) {
          this.$router.push({ name: 'BoardReceivedPage' })
        }
        // this.$router.push({ name: 'ReportPage' })
      } catch (error) {
        console.error('LOADING PAGE LOGIN', error)
      }
      this.isLoadingAuth = false
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
