<template lang="pug">
  tbody.c-assignation
    tr
      td {{ num }}
      td {{ item.nombre }}
      td {{ item.direccion }}
      td.e-text-primary( v-if="fullNameSupervidor === 'Pediente'" ) Sin asignar
      td( v-else ) {{ fullNameSupervidor }}
      td {{ countEmployees }} asignados
      td.right
        i(
          :class="active ? 'icon-up': 'icon-down'"
          @click="active = !active"
        )
    tr(v-if="active")
      td(colspan="5")
        .c-assignation__sellers
          h3 Vendedoras / Jalador
          table
            template(
              v-for="(vendedor, key) in item.vendedores"
            )
              tr
                td {{ `${ vendedor.nombres } ${ vendedor.apellidoPaterno } ${ vendedor.apellidoMaterno }` }}
                td {{ vendedor.numeroDocumento }}
                td {{ vendedor.nombreCargo }}
                td
                  a.e-text-error(
                    @click="$modal.show(`asignation-delete-${ vendedor.idAsignacion }`)"
                  ) Eliminar {{ vendedor.nombreCargo }}
              modal(
                :name="'asignation-delete-' + vendedor.idAsignacion"
                :width="450"
                height="auto"
                :adaptive="true"
                class="c-modal"
                :shiftY="0.2"
              )
                form-confirm(
                  :title="'¿Está seguro(a) de eliminar esta asignación?'  + vendedor.idAsignacion"
                  @confirmed="deleteAsignation(vendedor.idAsignacion)"
                  @denied="closeModal('asignation-delete-' + vendedor.idAsignacion)"
                )
        .c-assignation__create
          h3 Agregar vendedora / jaladora:
          .form
            v-select(
              v-model="selectEmployee"
              :options="filters.local"
            )
            .e-btn.info(
              @click="submitAsignation"
            ) AGREGAR VENDEDORA / JALADORA
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    categoryEdit: () => import('@/components/02-molecule/category/edit'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    id: {
      required: true,
      type: Number
    },
    num: {
      required: true,
      type: Number
    },
    employees: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: '',
      active: false,
      selectEmployee: '0',
      countEmployees: 0,
      filters: {
        local: [
          {
            name: 'Escribe el nombre',
            value: '0'
          }
        ]
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    fullNameSupervidor () {
      if (this.item.supervisor) {
        return this.item.supervisor.nombres + ' ' + this.item.supervisor.apellidoPaterno + ' ' + this.item.supervisor.apellidoMaterno
      } else {
        return 'Pediente'
      }
    }
  },

  watch: {
    employees: function (list) {
      list.forEach(employee => {
        this.filters.local.push({
          value: employee.idEmpleado + '',
          name: employee.nombres + ' ' + employee.apellidoPaterno + ' ' + employee.apellidoMaterno
        })
      })
    }
  },
  created () {
    this.countEmployees = this.item.vendedores.length
    this.employees.forEach(employee => {
      this.filters.local.push({
        value: employee.idEmpleado + '',
        name: employee.nombres + ' ' + employee.apellidoPaterno + ' ' + employee.apellidoMaterno
      })
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_DELETE_CATEGORY: 'Category/A_DELETE_CATEGORY',
      A_SET_ASIGNATION: 'Employee/A_SET_ASIGNATION',
      A_DELETE_ASIGNATION: 'Employee/A_DELETE_ASIGNATION',
      A_GET_LOCALS: 'Local/A_GET_LOCALS'
    }),
    closeModal (name) {
      this.$modal.hide(name)
    },
    async deleteItem (id) {
      this.closeModal('category-delete-' + id)
      const res = await this.A_DELETE_CATEGORY(id)
      console.log(res)
    },
    desactiveItem (id) {
      console.log('desactive category')
      this.closeModal('category-desactive-' + id)
    },
    async submitAsignation () {
      try {
        await this.A_SET_ASIGNATION({ asignacion: { idLocal: this.item.idLocal, idEmpleado: this.selectEmployee } })
        this.countEmployees++
        this.A_GET_LOCALS()
      } catch (error) {
        console.error('LOADING PAGE LOGIN', error)
      }
    },
    async deleteAsignation (idAsignacion) {
      try {
        await this.A_DELETE_ASIGNATION({ asignacion: { idAsignacion: idAsignacion } })
        this.countEmployees--
        this.A_GET_LOCALS()
        this.closeModal('asignation-delete-' + idAsignacion)
      } catch (error) {
        console.error('LOADING PAGE LOGIN', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
