<template lang="pug">
  tbody.c-assignation
    tr
      td {{ item.idEmpleado }}
      td {{ item.nombres }}
      td {{ `${ item.apellidoPaterno } ${ item.apellidoMaterno }` }}
      td.right
        i.icon-down(@click="active = !active")
    tr(v-if="active")
      td(colspan="4")
        .c-assignation__store
          v-radio(
            label="¿Todas las tiendas?"
            v-model="store"
            :options="filters.stores"
            name="radio-stores"
            inputStyle="row"
          )
          .tags
            template(
              v-for="localSupervisor in item.locales"
            )
              v-tag(
                :item="{ id: `${localSupervisor.idLocal}`, name: localSupervisor.nombre }"
                @closed="deleteItem(localSupervisor.idLocal)"
                )
          ul
            template(
              v-for="(local, key) in item.localesDisponibles"
            )
              li(@click="addLocal(local)") {{ local.nombre }}
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    categoryEdit: () => import('@/components/02-molecule/category/edit'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    vRadio: () => import('@/components/02-molecule/formElements/radio'),
    vTag: () => import('@/components/02-molecule/formElements/tag')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    id: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: '',
      active: false,
      store: '',
      localesxd: [],
      filters: {
        stores: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_LOCALS: state => state.Local.S_LOCALS
    })
  },

  watch: {
    S_LOCALS: function (list) {
      this.updateDisponibles()
    }
  },
  created () {
    this.updateDisponibles()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_DELETE_CATEGORY: 'Category/A_DELETE_CATEGORY',
      A_SET_SUPERVISOR: 'Employee/A_SET_SUPERVISOR',
      A_DELETE_SUPERVISOR: 'Employee/A_DELETE_SUPERVISOR'
    }),
    updateDisponibles () {
      this.item.localesDisponibles = []
      this.S_LOCALS.forEach(el => {
        if (!this.inArray(el, this.item.locales)) {
          this.item.localesDisponibles.push(el)
        }
      })
    },
    closeModal (name) {
      this.$modal.hide(name)
    },
    async deleteItem (id) {
      try {
        await this.A_DELETE_SUPERVISOR(id)
      } catch (error) {
        console.error('LOADING PAGE LOGIN', error)
      }
      let i = 0
      this.item.locales.forEach(el => {
        if (el.idLocal === id) {
          this.item.locales.splice(i, 1)
        }
        i++
      })
      this.updateDisponibles()
    },
    desactiveItem (id) {
      console.log('desactive category')
      this.closeModal('category-desactive-' + id)
    },
    async addLocal (local) {
      this.item.locales.push(local)
      this.updateDisponibles()
      const asignacion = {
        idSupervisor: this.item.idEmpleado,
        idLocales: []
      }
      this.item.locales.forEach(local => {
        asignacion.idLocales.push(local.idLocal)
      })
      try {
        await this.A_SET_SUPERVISOR({ asignacion })
      } catch (error) {
        console.error('LOADING PAGE LOGIN', error)
      }
    },
    inArray (needle, haystack) {
      var length = haystack.length
      for (var i = 0; i < length; i++) {
        if (haystack[i].idLocal === needle.idLocal) return true
      }
      return false
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
