<template lang="pug">
  tbody.c-assignation
    tr
      td {{ item.idCategoria }}
      td 13-23-12
      td {{ item.nombre }}
      td {{ item.descripcion }}
      td Luis Perez Alva
      td.right
        i.icon-down(@click="active = !active")
    tr(v-if="active")
      td(colspan="6")
        .c-assignation__sellers
          h3 Vendedoras / Jalador
          table
            tr
              td Luisa María Prado Diaz
              td 70454584
              td Vendedora
            tr
              td Luisa María Prado Diaz
              td 70454584
              td Vendedora
            tr
              td Luisa María Prado Diaz
              td 70454584
              td Vendedora
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    categoryEdit: () => import('@/components/02-molecule/category/edit'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    vRadio: () => import('@/components/02-molecule/formElements/radio'),
    vTag: () => import('@/components/02-molecule/formElements/tag')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    id: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: '',
      active: false,
      store: '',
      filters: {
        stores: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ]
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_DELETE_CATEGORY: 'Category/A_DELETE_CATEGORY'
    }),
    closeModal (name) {
      this.$modal.hide(name)
    },
    async deleteItem (id) {
      this.closeModal('category-delete-' + id)
      const res = await this.A_DELETE_CATEGORY(id)
      console.log(res)
    },
    desactiveItem (id) {
      console.log('desactive category')
      this.closeModal('category-desactive-' + id)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
