<template lang="pug">
  .c-page
    v-title(
      title="Lista de clientes"
    )
      router-link.e-btn(
        :to="{ name: 'SaleswomanClientCreatePage' }"
      ) Crear cliente
    .c-page__filters.c-page__filters--multiple
      .c-page__filters--multiple-row
        v-date(
          label="Fecha inicio:"
          inputStyle="row"
          format="YYYY-MM-DD"
          @value="updateDateStart"
          @change="search"
          v-model="currentFilters.dateStart"
        )
        v-date(
          label="Fin:"
          inputStyle="row"
          format="YYYY-MM-DD"
          @value="updateDateEnd"
          @change="search"
          v-model="currentFilters.dateEnd"
        )
        //v-select(
        //  label="Mes"
        //  inputStyle="row"
        //  v-model="currentFilters.categories"
        //  :options="filters.categories"
        //)
        v-search(
          type="search"
          inputStyle="row"
          name="search"
          v-model="currentFilters.search"
          placeholder="Felipe Arias"
          @change="search"
        )
        v-select(
          v-if="G_PRODUCTS"
          label="Producto"
          inputStyle="row"
          v-model="currentFilters.product"
          @change="search"
          :options="G_PRODUCTS"
        )
        //v-select(
        //  label="Regalo"
        //  inputStyle="row"
        //  v-model="currentFilters.gift"
        //  :options="filters.gift"
        //)
        //v-select(
          label="Tipo de cliente:"
          inputStyle="row"
          v-model="currentFilters.client"
          @change="search"
          :options="filters.client"
        //)
        //v-select(
          label="Género"
          inputStyle="row width-min"
          v-model="currentFilters.gender"
          @change="search"
          :options="filters.gender"
        //)
        //input-text(
          label="Total liquidado"
          type="number"
          inputStyle="row width-min"
          rules="integer"
          name="price"
          placeholder="S/. 3500"
          v-model="currentFilters.total"
        //)
    .c-page__body
      table-client(
        :items="S_CLIENTS"
      )
    .c-page__footer
      v-pagination(
        v-if="S_PAGINATE"
        :currentPage="paginate.page"
        :limitPage="paginate.limit"
        :totalPage="S_PAGINATE"
        @leftPage="leftPage"
        @rightPage="rightPage"
      )
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableClient: () => import('@/components/03-organism/tableClient/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        dateStart: '',
        dateEnd: '',
        search: '',
        categories: '',
        product: '',
        gift: '1',
        client: '1',
        gender: 'm'
      },
      filters: {
        categories: [
          {
            name: 'Enero',
            value: '0'
          },
          {
            name: 'Febrero',
            value: '1'
          },
          {
            name: 'Marzo',
            value: '2'
          },
          {
            name: 'Abril',
            value: '3'
          },
          {
            name: 'Mayo',
            value: '4'
          },
          {
            name: 'Junio',
            value: '5'
          },
          {
            name: 'Julio',
            value: '6'
          },
          {
            name: 'Agosto',
            value: '7'
          },
          {
            name: 'Septiembre',
            value: '8'
          },
          {
            name: 'Octubre',
            value: '9'
          },
          {
            name: 'Noviembre',
            value: '10'
          },
          {
            name: 'Diciembre',
            value: '11'
          }
        ],
        product: [
          {
            name: 'Tradicional',
            value: '2'
          },
          {
            name: 'Exportación',
            value: '4'
          }
        ],
        gift: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ],
        client: [
          {
            name: 'Al por mayor',
            value: '1'
          },
          {
            name: 'Al por menor',
            value: '0'
          }
        ],
        gender: [
          {
            name: 'M',
            value: 'm'
          },
          {
            name: 'F',
            value: 'f'
          }
        ]
      },
      paginate: {
        page: 1,
        limit: 10
      }
    }
  },

  computed: {
    ...mapState({
      S_CLIENTS: state => state.Client.S_CLIENTS,
      S_PAGINATE: state => state.Client.S_PAGINATE
    }),
    ...mapGetters({
      G_PRODUCTS: 'Product/G_PRODUCTS'
    })
  },

  watch: {},
  created () {
    this.A_GET_PRODUCTS({ idLocal: this.$cookies.get('AUTH_DATA').local.idLocal })
    this.A_GET_CLIENTS({ ...this.paginate, cliente: this.currentFilters.search })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CLIENTS: 'Client/A_GET_CLIENTS',
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS'
    }),
    leftPage (e) {
      this.paginate.page = e
      this.search()
    },
    rightPage (e) {
      this.paginate.page = e
      this.search()
    },
    search () {
      this.cliente = this.currentFilters.search
      this.dateStart = this.currentFilters.dateStart
      this.dateEnd = this.currentFilters.dateEnd
      this.A_GET_CLIENTS({
        ...this.paginate,
        nombre: this.cliente,
        fechaInicio: this.dateStart,
        fechaFinal: this.dateEnd,
        idProducto: this.currentFilters.product
      })
    },
    updateDateStart (e) {
      this.currentFilters.dateStart = e
    },
    updateDateEnd (e) {
      this.currentFilters.dateEnd = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
