<template lang="pug">
  .c-page(v-if="S_CLIENT")
    v-title(
      beforePage
      v-if="S_CLIENT.denominacion"
      :title="S_CLIENT.denominacion"
    )
      router-link.e-btn(
        :to="{ name: 'SaleswomanClientEditPage' }"
      ) Editar
    .c-page__filters.c-page__filters--multiple
      .c-page__filters--multiple-row
        v-date(
          label="Fecha inicio:"
          inputStyle="row"
          format="YYYY-MM-DD"
          @value="updateDateStart"
          v-model="currentFilters.dateStart"
          @change="listPucharses"
        )
        v-date(
          label="Fin:"
          inputStyle="row"
          format="YYYY-MM-DD"
          @value="updateDateEnd"
          v-model="currentFilters.dateEnd"
          @change="listPucharses"
        )
        v-select(
          label="Mes"
          inputStyle="row"
          v-model="currentFilters.categories"
          :options="filters.categories"
          v-if="false"
        )
        v-search(
          type="text"
          inputStyle="row"
          name="search"
          v-model="currentFilters.search"
          placeholder=""
          v-if="false"
        )
        input-text(
          label="Total:"
          type="number"
          inputStyle="row width-min"
          name="price"
          placeholder=""
          v-model="currentFilters.total"
        )
      .c-page__filters--multiple-row
        p(
          v-show="false"
        ) Es un cliente que compra al por mayor y seguido, ofrezcámosle 1 regalo de cortesía.
          a(
            @click="$modal.show('see-script')"
          ) Ver guión
    .c-page__body
      table-client-detail(
        :items="clientList"
      )
    .c-page__footer
      v-pagination
    modal(
      name="see-script"
      :width="550"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
      :disabled="true"
    )
      .c-script
        h2 Guión de ventas
        h3 Cliente Especial
        p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum  lorem ipsum lorem.
        ol
          li Lorem ipsum lorem ipsum lorem ipsum lorem ipsum  lorem ipsum lorem.
          li Lorem ipsum lorem ipsum  lorem ipsum lorem.
        span *Lorem ipsum lorem ipsum lorem ipsum lorem
        .e-btn.e-btn--fullwidth(
          @click="$modal.hide('see-script')"
        ) CERRAR
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableClientDetail: () => import('@/components/03-organism/tableClient/detail'),
    vPagination: () => import('@/components/02-molecule/pagination/default'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        dateStart: null,
        dateEnd: null,
        search: '',
        categories: '0'
      },
      clientList: []
    }
  },

  computed: {
    ...mapState({
      S_CLIENT: state => state.Client.S_CLIENT,
      S_CLIENT_DETAIL: state => state.Client.S_CLIENT_DETAIL
    })
  },

  watch: {},
  async created () {
    await this.A_GET_CLIENT(this.$route.params.dni)
    this.listPucharses()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CLIENT: 'Client/A_GET_CLIENT',
      A_GET_CLIENT_DETAIL: 'Client/A_GET_CLIENT_DETAIL'
    }),
    updateDateStart (e) {
      this.currentFilters.dateStart = e
    },
    updateDateEnd (e) {
      this.currentFilters.dateEnd = e
    },
    async listPucharses () {
      const fechaInicio = this.currentFilters.dateStart
      const fechaFinal = this.currentFilters.dateEnd
      await this.A_GET_CLIENT_DETAIL({ dni: this.$route.params.dni, params: { fechaInicio, fechaFinal } })
      if (this.S_CLIENT_DETAIL) {
        this.clientList = this.S_CLIENT_DETAIL.compras
        this.currentFilters.total = this.S_CLIENT_DETAIL.compras.reduce((acc, el) => acc + parseFloat(el.total), 0).toFixed(2)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
