<template lang="pug">
  .c-page.c-saleswoman-client-create
    v-title(
      beforePage
      v-if="S_CLIENT.denominacion"
      :title="S_CLIENT.denominacion"
    )
    validation-observer.c-page__body(
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    )
      .c-saleswoman-client-create__seccion
        h3 Datos personales
        .ed-grid.m-grid-8
          .m-cols-2
            v-select(
              label="Tipo de documento"
              name="documentType"
              v-model="data.tipoDocumento"
              :options="filters.documentType"
              :selected="data.tipoDocumento"
              @change="changeDocument"
            )
          .m-cols-2
            input-text(
              label="Nro. Documento"
              type="number"
              :rules="`required|integer|digits:${data.digits}`"
              name="document"
              v-model="data.numeroDocumento"
            )
          .m-cols-4
          .m-cols-2
            v-select(
              label="Tipo de cliente"
              v-model="data.clientType"
              :options="filters.clientType"
              :selected="data.clientType"
            )
          .m-cols-2
            input-text(
              label="Nombres del cliente"
              type="text"
              rules="required"
              name="client"
              v-model="data.denominacion"
            )
          .m-cols-2
            v-date(
              label="Fecha de cumpleaños"
              format="YYYY-MM-DD"
              @value="updateDateStart"
              v-model="data.birthday"
            )
          .m-cols-2
            input-text(
              label="Celular"
              type="text"
              rules="required|integer"
              name="phone"
              v-model="data.celular"
            )
          .m-cols-2
            input-text(
              label="Email"
              type="email"
              rules="required|email"
              name="email"
              v-model="data.email"
            )
          .m-cols-2
            input-text(
              label="Familia"
              type="text"
              name="family"
              v-model="data.family"
            )
          .m-cols-2
            input-text(
              label="Edad de hijos"
              type="number"
              name="ageSons"
              placeholder="entre 5 - 8 años"
              v-model="data.ageSons"
            )
      .c-saleswoman-client-create__seccion
        h3 Zona de residencia
        .ed-grid.m-grid-8
          .m-cols-2
            input-text(
              label="Dirección"
              type="text"
              rules="required"
              name="direction"
              placeholder="Av. Carlos Paz 2020"
              v-model="data.direccion"
            )
          .m-cols-2
            input-text(
              label="Distrito"
              type="text"
              rules="required"
              name="district"
              placeholder="Lince"
              v-model="data.district"
            )
          .m-cols-2
            input-text(
              label="Referencias"
              type="text"
              name="reference"
              placeholder="Cruce de la avenida 1 y 2"
              v-model="data.reference"
            )
          .m-cols-2
          .m-cols-2
            v-select(
              label="Provincia"
              v-model="data.province"
              :options="filters.province"
              :selected="data.province"
            )
          .m-cols-2
            v-select(
              label="Código postal"
              v-model="data.postalCode"
              :options="filters.postalCode"
              :selected="data.postalCode"
            )
      .c-saleswoman-client-create__seccion
        h3 Hábitos y aptitudes
        .ed-grid.m-grid-8
          .m-cols-2
            input-text(
              label="Entretenimiento 1"
              type="text"
              name="entertainment1"
              placeholder="Jugar fútbol con amigos"
              v-model="data.entertainment[0]"
            )
          .m-cols-2
            input-text(
              label="Entretenimiento 2"
              type="text"
              name="entertainment2"
              placeholder="Caminar por el mall"
              v-model="data.entertainment[1]"
            )
          .m-cols-2
            input-text(
              label="Entretenimiento 3"
              type="text"
              name="entertainment3"
              placeholder="Ver netflix"
              v-model="data.entertainment[2]"
            )
          .m-cols-2
          .m-cols-2
            v-select(
              label="Deportes"
              v-model="data.sportsPractice"
              :options="filters.sportsPractice"
              :selected="data.sportsPractice"
            )
          .m-cols-2
            input-text(
              label="Deportes"
              type="text"
              name="sport"
              placeholder="Fútbol"
              v-model="data.sport"
            )
          .m-cols-8
            v-radio(
              label="¿Desea recibir publicidad"
              v-model="data.adds"
              :options="filters.adds"
              name="radio-adds"
              inputStyle="row"
            )
          .m-cols-4.m-x-3
              button.e-btn.e-btn--fullwidth(
                v-if="!isLoadingAuth"
                @click="handleSubmit(onSubmit)"
              ) GUARDAR
              .e-btn.e-btn--fullwidth.e-btn--loading(
                v-else
              )
                i.icon-loading
              p.m-center(
                v-if="updated"
                style="padding: 20px;"
              )
                span.center DATOS ACTUALIZADO CORRECTAMENTE
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    vRadio: () => import('@/components/02-molecule/formElements/radio'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        celular: '',
        denominacion: '',
        direccion: '',
        email: '',
        birthday: '',
        numeroDocumento: '',
        tipoDocumento: '1',
        family: '',
        ageSons: '',
        district: '',
        reference: '',
        sport: '',
        province: '0',
        postalCode: '0',
        clientType: '1',
        sportsPractice: '',
        entertainment: ['', '', ''],
        adds: ''
      },
      updated: false,
      isLoadingAuth: false,
      selected: {
        document: null,
        client: '',
        age: null,
        phone: null,
        email: '',
        family: '',
        ageSons: '',
        direction: '',
        district: '',
        reference: '',
        sport: '',
        province: '0',
        postalCode: '0',
        documentType: '1',
        sportsPractice: '',
        entertainment: [
          '',
          '',
          ''
        ],
        adds: ''
      },
      filters: {
        adds: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ],
        sportsPractice: [
          {
            name: 'Sí practico',
            value: '1'
          },
          {
            name: 'No practico',
            value: '0'
          }
        ],
        postalCode: [
          {
            name: 'Lima 13',
            value: '0'
          },
          {
            name: 'Lima 30',
            value: '1'
          },
          {
            name: 'Lima 23',
            value: '2'
          },
          {
            name: 'Lima 23',
            value: '3'
          }
        ],
        province: [
          {
            name: 'Lima',
            value: '0'
          },
          {
            name: 'Ica',
            value: '1'
          },
          {
            name: 'Arequipa',
            value: '2'
          },
          {
            name: 'Loreto',
            value: '3'
          }
        ],
        documentType: [
          {
            name: 'DNI',
            value: '2'
          },
          {
            name: 'RUC',
            value: '1'
          },
          {
            name: 'Carnet de extranjería',
            value: '3'
          }
        ],
        clientType: [
          {
            name: 'Persona natural',
            value: '1'
          },
          {
            name: 'Persona juridica',
            value: '2'
          }
        ]
      },
      placeholder: {
        tipoDocumento: '1'
      }
    }
  },

  computed: {
    ...mapState({
      S_CLIENT: state => state.Client.S_CLIENT
    })
  },
  watch: {},
  async created () {
    this.client = await this.A_GET_CLIENT(this.$route.params.dni)
    this.data = this.client
    this.data.entertainment = ['', '', '']
    this.data.tipoDocumento = this.returnOrEmpty(this.client.tipoDocumento)
    this.data.clientType = this.returnOrEmpty(this.client.tipoCliente)
    this.data.ageSons = this.returnOrEmpty(this.client.edadHijos)
    this.data.celular = this.returnOrEmpty(this.client.celular)
    this.data.family = this.client.familia
    this.data.district = this.client.distrito
    this.data.reference = this.client.referencia
    this.data.province = this.returnOrEmpty(this.client.provincia)
    this.data.postalCode = this.returnOrEmpty(this.client.codigoPostal)
    this.data.sportsPractice = this.returnOrEmpty(this.client.deportes)
    this.data.sport = this.client.nombreDeporte
    this.data.adds = this.returnOrEmpty(this.client.publicidad)
    this.data.entertainment[0] = this.client['entretenimiento-1'] + ''
    this.data.entertainment[1] = this.client['entretenimiento-2'] + ''
    this.data.entertainment[2] = this.client['entretenimiento-3'] + ''
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_UPDATE_CLIENT: 'Client/A_UPDATE_CLIENT',
      A_GET_CLIENT: 'Client/A_GET_CLIENT'
    }),
    changeDocument (e) {
      switch (e) {
        case '1':
          this.data.digits = 11
          break
        case '2':
          this.data.digits = 8
          break
        default:
          this.data.digits = 8
      }
    },
    returnOrEmpty (string) {
      return string === null ? '' : String(string)
    },
    async onSubmit () {
      this.isLoadingAuth = true
      try {
        const client = await this.A_UPDATE_CLIENT({ cliente: this.data })
        console.log('true', client)
        this.isLoadingAuth = false
        this.updated = true
      } catch (error) {
        console.error('LOADING EDITING CLIENT', error)
      }
    },
    updateDateStart (e) {
      this.data.birthday = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
