<template lang="pug">
  .c-page.c-category
    v-title.c-titlex(
      beforePage
      title="Lista de clientes"
      subtitle="(200 de 1000 clientes - 195 habilitados)"
    )
      // a.e-btn.secondary
        i.icon-apple_ico
        | Excel
      a.e-btn(
        v-if="!isLoading"
        @click="clientAdd"
      ) Enviar por Correo
      .e-btn.e-btn--loading(
        v-else
      )
        i.icon-loading
    .c-page__filters.c-page__filters--multiple
      .c-page__filters--multiple-row
        v-date(
          label="Fecha inicio:"
          inputStyle="row"
          format="YYYY-MM-DD"
          @value="updateDateStart"
          v-model="currentFilters.dateStart"
          @change="clientFilter"
        )
        v-date(
          label="Fin:"
          inputStyle="row"
          format="YYYY-MM-DD"
          @value="updateDateEnd"
          v-model="currentFilters.dateEnd"
          @change="clientFilter"
        )
        v-select(
          label="Mes"
          inputStyle="row"
          v-model="currentFilters.month"
          :options="filters.months"
          @change="clientFilter"
        )
        v-select(
          label="Compra"
          inputStyle="row"
          v-model="currentFilters.buys"
          :options="filters.purchases"
          @change="clientFilter"
        )
        v-search(
          type="text"
          inputStyle="row"
          name="search"
          v-model="currentFilters.search"
          placeholder="Felipe Arias"
          @change="clientFilter"
        )
      .c-page__filters--multiple-row
        v-select(
          v-if="G_CATEGORIES.length > 0"
          label="Categoría"
          inputStyle="row"
          v-model="currentFilters.category"
          :options="G_CATEGORIES"
          @change="clientFilter"
        )
        v-select(
          v-if="G_PRODUCTS.length > 0"
          label="Producto"
          inputStyle="row"
          v-model="currentFilters.product"
          :options="G_PRODUCTS"
          @change="clientFilter"
        )
        input-text(
          label="Total inicial"
          type="number"
          inputStyle="row width-min"
          rules="integer"
          name="price"
          placeholder="S/. 800"
          v-model="data.totalInitial"
          @change="clientFilter"
        )
        input-text(
          label="Total final"
          type="number"
          inputStyle="row width-min"
          rules="integer"
          name="price"
          placeholder="S/. 3000"
          v-model="data.totalFinal"
          @change="clientFilter"
        )
    .c-page__body
      table-client(
        :items="data.listClient"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default'),
    tableClient: () => import('@/components/03-organism/tableCampaign/clients'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        frecuency: '0',
        totalInitial: '',
        totalFinal: '',
        listClient: []
      },
      currentFilters: {
        dateStart: '',
        dateEnd: '',
        search: '',
        month: '',
        buys: '',
        categories: '',
        product: ''
      },
      filters: {
        months: [
          {
            name: 'Enero',
            value: '0'
          },
          {
            name: 'Febrero',
            value: '1'
          },
          {
            name: 'Marzo',
            value: '2'
          },
          {
            name: 'Abril',
            value: '3'
          },
          {
            name: 'Mayo',
            value: '4'
          },
          {
            name: 'Junio',
            value: '5'
          },
          {
            name: 'Julio',
            value: '6'
          },
          {
            name: 'Agosto',
            value: '7'
          },
          {
            name: 'Septiembre',
            value: '8'
          },
          {
            name: 'Octubre',
            value: '9'
          },
          {
            name: 'Noviembre',
            value: '10'
          },
          {
            name: 'Diciembre',
            value: '11'
          }
        ],
        purchases: [
          {
            name: 'Seleccione',
            value: ''
          },
          {
            name: 'Sí Compra',
            value: '1'
          },
          {
            name: 'No Compra',
            value: '0'
          }
        ],
        product: [
          {
            name: 'Tradicional',
            value: '0'
          },
          {
            name: 'Nuevo',
            value: '1'
          }
        ]
      },
      isLoading: false
    }
  },

  computed: {
    ...mapState({
      S_CLIENTS: state => state.Client.S_CLIENTS
    }),
    ...mapGetters({
      G_CATEGORIES: 'Category/G_CATEGORIES',
      G_PRODUCTS: 'Product/G_PRODUCTS'
    })
  },

  watch: {},
  async created () {
    await this.A_GET_PRODUCTS()
    const clients = await this.A_GET_CLIENTS()
    this.poblarList(clients)
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CLIENTS: 'Client/A_GET_CLIENTS',
      A_SET_CLIENT_CAMPAIGN: 'Campaign/A_SET_CLIENT_CAMPAIGN',
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS'
    }),
    closeModal (e) {
      console.log(e)
      if (e) {
        this.$modal.hide('category-create')
      }
    },
    updateDateStart (e) {
      this.currentFilters.dateStart = e
    },
    updateDateEnd (e) {
      this.currentFilters.dateEnd = e
    },
    poblarList (clients) {
      this.data.listClient = clients.map(el => ({
        ...el,
        selected: false
      }))
    },
    async clientAdd () {
      this.isLoading = true
      const idClients = this.data.listClient.reduce((acc, el) => {
        if (el.selected === true) {
          acc.push(el.idCliente)
        }
        return acc
      }, [])
      try {
        const result = await this.A_SET_CLIENT_CAMPAIGN({ id: this.$route.params.id, clients: idClients })
        console.log('result:', result)
        this.isLoading = false
        this.$router.push({ name: 'CampaignDetails', params: { id: this.$route.params.id } })
      } catch (error) {
        console.error('LOADING CREATE product campaign', error)
      }
    },
    async clientFilter () {
      const params = {
        fechaInicio: this.currentFilters.dateStart,
        fechaFinal: this.currentFilters.dateEnd,
        mes: this.currentFilters.month,
        compra: this.currentFilters.buys,
        nombre: this.currentFilters.search,
        idCategoria: this.currentFilters.category,
        idProducto: this.currentFilters.product,
        totalInicial: this.data.totalInitial,
        totalFinal: this.data.totalFinal
      }
      const clients = await this.A_GET_CLIENTS(params)
      this.poblarList(clients)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
