<template lang="pug">
  tbody
    tr
      td D{{ padLeft(item.idDescuento, 5) }}
      td {{ item.nombreLocal }}
      td {{ item.nombreProducto }}
      td {{ `${item.nombreEmpleado} ${item.nombreEmapellidoPaternopleado} ${item.apellidoMaternoEmpleado}` }}
      td {{ item.cantidad }}
      td {{ item.porcentaje }}
      td {{ item.precio }}
      td {{ item.total }}
      td {{ item.fecha }}
      td
        template(
          v-if="item.habilitado === 2"
        )
          a.e-btn.success(
            v-if="!isLoading"
            @click="$modal.show(`confirm-discount-${item.idDescuento}`)"
          ) ACEPTAR
          .e-btn.success.e-btn--loading(
            v-else
          )
            i.icon-loading
          a.e-btn.secondary(
            v-if="!isLoading"
            @click="$modal.show(`reject-discount-${item.idDescuento}`)"
          ) RECHAZAR
          .e-btn.secondary.e-btn--loading(
            v-else
          )
            i.icon-loading
        .e-btn.success(
          v-if="item.habilitado === 1"
        ) ACEPTADO
        .e-btn.secondary(
          v-if="item.habilitado === 3"
        ) RECHAZADO
        .e-btn(
          v-if="item.habilitado === 0"
        ) CANCELADO
      modal(
        :name="`confirm-discount-${item.idDescuento}`"
        :width="450"
        height="auto"
        :adaptive="true"
        class="c-modal"
        :shiftY="0.2"
      )
        form-confirm(
          title="Aceptar descuento"
          subtitle="¿Esta seguro de aceptar el descuento?"
          colorConfirm="info"
          textConfirm="SI, ACEPTAR"
          :isLoading="isLoading"
          @confirmed="confirmRequest"
          @denied="closeModal(`confirm-discount-${item.idDescuento}`)"
        )
        p.m-center {{ message }}
      modal(
        :name="`reject-discount-${item.idDescuento}`"
        :width="450"
        height="auto"
        :adaptive="true"
        class="c-modal"
        :shiftY="0.2"
      )
        form-confirm(
          title="Rechazar descuento"
          subtitle="¿Esta seguro de rechazar el descuento?"
          colorConfirm="primary"
          textConfirm="SI, RECHAZAR"
          :isLoading="isLoading"
          @confirmed="rejectRequest"
          @denied="closeModal(`reject-discount-${item.idDescuento}`)"
        )
        p.m-center {{ message }}
      modal(
        :name="`message-discount-${item.idDescuento}`"
        :width="450"
        height="auto"
        :adaptive="true"
        class="c-modal"
        :shiftY="0.2"
      )
        form-confirm(
          title="Descuento ya cancelado"
          subtitle="El descuento ha sido cancelado por el vendedor"
          colorConfirm="info"
          textConfirm="ACEPTAR"
          :btnDeny="false"
          @confirmed="closeModal(`message-discount-${item.idDescuento}`)"
        )
        p.m-center {{ message }}
</template>

<script>
import { mapActions } from 'vuex'
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: {
        countCut: 0
      },
      active: false,
      isLoading: false,
      message: ''
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_CONFIRM_DISCOUNT: 'Discount/A_CONFIRM_DISCOUNT'
    }),
    closeModal (name) {
      this.$modal.hide(name)
    },
    padLeft (value, length) {
      return (value.toString().length < length)
        ? this.padLeft('0' + value, length)
        : value
    },
    async confirmRequest () {
      try {
        this.isLoading = true
        const response = await this.A_CONFIRM_DISCOUNT({ hash: this.item.hash, idSupervisor: this.$cookies.get('AUTH_DATA').empleado.idEmpleado, habilitado: 1 })
        if (response.status) {
          if (response.data) {
            this.item.habilitado = 1
          } else {
            this.item.habilitado = 0
            this.$modal.show(`message-discount-${this.item.idDescuento}`)
          }
        }
        this.isLoading = false
        this.closeModal(`confirm-discount-${this.item.idDescuento}`)
        console.log(response.message)
      } catch (error) {
        console.log('Something a went error:', error)
      }
    },
    async rejectRequest () {
      try {
        this.isLoading = true
        const response = await this.A_CONFIRM_DISCOUNT({ hash: this.item.hash, idSupervisor: this.$cookies.get('AUTH_DATA').empleado.idEmpleado, habilitado: 3 })
        if (response.status) {
          if (response.data) {
            this.item.habilitado = 3
          } else {
            this.item.habilitado = 0
            this.$modal.show(`message-discount-${this.item.idDescuento}`)
          }
        }
        this.isLoading = false
        this.closeModal(`reject-discount-${this.item.idDescuento}`)
        console.log(response.message)
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
