<template lang="pug">
  validation-observer.c-page.c-saleswoman-client-create(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  )
    v-title(
      beforePage
      title="Asignar producto"
    )
      v-select(
        label="Local"
        class="row"
        v-model="data.idLocal"
        :options="selects.locals"
        rules="required|integer|min_value:0"
      )
    .c-page__body
      .c-saleswoman-client-create__seccion
        template(
          v-for="(product, key) in data.productos"
        )
          row-assign(
            :id="key"
            :item="product"
            :idLocal="data.idLocal"
          )
        br
        a(
          @click="addRow"
        ) AGREGAR PRODUCTO
      br
      button.e-btn.info(
        v-if="!isLoading"
        @click="handleSubmit(onSubmit)"
      ) ENVIAR
      .e-btn.info.e-btn--loading(
        v-else
      )
        i.icon-loading
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    rowAssign: () => import('@/components/02-molecule/boardProduct/rowAssign')

  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        idLocal: '',
        productos: [
          {
            idProducto: '',
            cantidad: '',
            stock: ''
          }
        ]
      },
      selects: {
        locals: [
          {
            name: 'Seleccione',
            value: '0'
          }
        ]
      },
      isLoading: false
    }
  },

  computed: {},

  watch: {},
  async created () {
    this.A_GET_PRODUCTS({ onlyStore: 1 })
    const locals = await this.A_GET_LOCALS()
    this.selects.locals = locals.map(el => ({ name: el.nombre, value: String(el.idLocal) }))
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_LOCALS: 'Local/A_GET_LOCALS',
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS',
      A_SET_STOCK: 'Stock/A_SET_STOCK'
    }),
    addRow () {
      this.data.productos.push({
        idProducto: '',
        cantidad: '',
        stock: ''
      })
    },
    async onSubmit () {
      try {
        this.isLoading = true
        const data = await this.A_SET_STOCK(this.data)
        if (data.status) {
          this.$router.push({ name: 'BoardProductPage' })
        }
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
