<template lang="pug">
  .c-page.c-category
    v-title(
      title="PRODUCTOS"
    )
      a.e-btn(
        :href="`https://apidona.globoazul.pe/index.php/api/tableros/producto/exportPdf?onlyStore=1&search=${this.currentFilters.search}&idLocal=${this.currentFilters.local}&idCategory=${this.currentFilters.typeProduct}`" target="_blank"
      )
        i.icon-printer
        | PDF
      a.e-btn.secondary(
        :href="`https://apidona.globoazul.pe/index.php/api/tableros/producto/reporteExcel?onlyStore=1&search=${this.currentFilters.search}&idLocal=${this.currentFilters.local}&idCategory=${this.currentFilters.typeProduct}`" target="_blank"
      )
        i.icon-excel_ico
        | Excel
      router-link.e-btn.info(
        :to="{ name: 'BoardProductRegisterPage' }"
      ) REGISTRAR INGRESO DE PRODUCTO
    .c-page__filters
      v-search(
        label="Buscar"
        type="text"
        inputStyle="row"
        name="search"
        @change="search"
        v-model="currentFilters.search"
      )
      v-select(
        label="Local"
        inputStyle="row"
        v-model="currentFilters.local"
        @change="search"
        :options="filters.locales"
      )
      v-select(
        label="Tipo de producto"
        inputStyle="row"
        v-model="currentFilters.typeProduct"
        @change="search"
        :options="filters.typesProduct"
      )
      router-link.e-btn.inforouter-link.e-btn.info(
        :to="{ name: 'BoardProductAssignPage' }"
      ) ENVIAR
    .c-page__body
      table-product(
        :items="S_PRODUCTS"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableProduct: () => import('@/components/03-organism/tableBoardProduct/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        search: '',
        local: '0',
        typeProduct: '0',
        producto: '0'
      },
      filters: {
        locales: [
          {
            name: 'Peppa Pig',
            value: '0'
          }
        ],
        typesProduct: [
          {
            name: 'Interno',
            value: '0'
          }
        ],
        productos: [
          {
            name: 'Lorem ipsum',
            value: '0'
          }
        ],
        presentaciones: [
          {
            name: 'Lorem ipsum',
            value: '0'
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_PRODUCTS: state => state.Product.S_PRODUCTS
    })
  },

  watch: {},
  created () {
    this.A_GET_PRODUCTS({ onlyStore: 1 })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS'
    }),
    updateDateSend (e) {
      this.currentFilters.dateEnvio = e
    },
    search () {
      this.A_GET_PRODUCTS({
        search: this.currentFilters.search,
        idLocal: this.currentFilters.idLocal,
        idCategory: this.currentFilters.typeProduct
      })
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
