<template lang="pug">
  .c-page.c-saleswoman-client-create
    v-title(
      beforePage
      title="Registrar ingreso de productos"
    )
    validation-observer.c-page__body(
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    )
      .c-saleswoman-client-create__seccion
        h3 Nuevo producto
        .ed-grid.m-grid-10
          .m-cols-2
            v-select(
              label="#COD / Nombre del producto"
              v-model="data.idProducto"
              :options="G_PRODUCTS"
              @change="getProduct"
            )
          .m-cols-2
            input-text(
              label="Tipo de producto"
              type="text"
              name="typeProduct"
              disabled
              v-model="data.nombreCategoria"
            )
          .m-cols-2
            input-text(
              label="Presentacion"
              type="text"
              name="presentation"
              disabled
              v-model="data.labelPresentacion"
            )
          .m-cols-1
            input-text(
              label="Cantidad"
              type="number"
              rules="required|integer"
              name="cantidad"
              placeholder="0"
              v-model="data.cantidad"
            )
          .m-cols-3
            v-date(
              label="Fecha de vencimiento:"
              format="YYYY-MM-DD"
              @value="updateDateEnd"
              v-model="data.fechaVencimiento"
            )
        .ed-grid.m-grid-10
          .m-cols-2
            input-text(
              label="Empresa proveedora"
              type="text"
              rules="required"
              name="proveedor"
              v-model="data.proveedor"
            )
          .m-cols-1
            input-text(
              label="Lote (opcional)"
              type="text"
              name="lote"
              v-model="data.loteProveedor"
            )
          .m-cols-2
            input-text(
              label="N° de guía de ingreso"
              type="text"
              name="guia"
              v-model="data.nroGuia"
            )
          .m-cols-2
            input-text(
              label="Precio de compra"
              type="number"
              name="precioCompra"
              disabled=true
              v-model="data.precioCompra"
            )
          .m-cols-2
            input-text(
              label="Precio de venta"
              type="number"
              name="precioVenta"
              disabled=true
              v-model="data.precioVenta"
            )
        .ed-grid.m-grid-10
          .m-cols-2
            v-date(
              label="Fecha de ingreso:"
              format="YYYY-MM-DD"
              @value="updateDateAdmission"
              v-model="data.fechaIngreso"
            )
        button.e-btn.info(
          v-if="!isLoading"
          @click="handleSubmit(onSubmit)"
        ) REGISTRAR
        .e-btn.info.e-btn--loading(
          v-else
        )
          i.icon-loading
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        idProducto: '',
        nombreCategoria: '',
        labelPresentacion: '',
        cantidad: '',
        fechaVencimiento: '',
        proveedor: '',
        loteProveedor: '',
        nroGuia: '',
        precioCompra: '0',
        precioVenta: '0',
        fechaIngreso: ''
      },
      isLoading: false
    }
  },

  computed: {
    ...mapState({
      S_PRODUCTS: state => state.Product.S_PRODUCTS
    }),
    ...mapGetters({
      G_PRODUCTS: 'Product/G_PRODUCTS'
    })
  },

  watch: {},
  created () {
    this.A_GET_PRODUCTS({ notCategory: 1 })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS',
      A_GET_PRODUCT: 'Product/A_GET_PRODUCT',
      A_SET_LOTE: 'Lote/A_SET_LOTE'
    }),
    async getProduct (id) {
      const { data } = await this.A_GET_PRODUCT({ id })
      this.data.nombreCategoria = data.nombreCategoria
      this.data.labelPresentacion = data.labelPresentacion
      this.data.precioVenta = data.precioVenta
    },
    async onSubmit () {
      try {
        this.isLoading = true
        const response = await this.A_SET_LOTE(this.data)
        if (response.status) {
          this.$router.push({ name: 'BoardProductPage' })
        } else {
          console.log('Something a went error:', response.message)
        }
      } catch (error) {
        console.log('Something a went error on submit:', error)
      }
    },
    updateDateAdmission (e) {
      this.data.fechaIngreso = e
    },
    updateDateEnd (e) {
      this.data.fechaVencimiento = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
