<template lang="pug">
  .c-page.c-category
    v-title(
      title="ENVÍO A LOCALES"
    )
      a.e-btn(
        href="https://apidona.globoazul.pe/index.php/api/tableros/envios/exportPdf"
        target="_blank"
      )
        i.icon-printer
        | Pdf
      a.e-btn.secondary(
        href="https://apidona.globoazul.pe/index.php/api/envios/reportExcel"
        target="_blank"
      )
        i.icon-excel_ico
        | Excel
    .c-page__filters
      v-search(
        label="Buscar"
        type="text"
        inputStyle="row"
        name="search"
        v-model="currentFilters.search"
        @change="search"
      )
      v-select(
        label="Producto"
        inputStyle="row"
        v-model="currentFilters.producto"
        :options="filters.productos"
      )
      v-select(
        label="Presentacion"
        inputStyle="row"
        v-model="currentFilters.presentacion"
        :options="filters.presentaciones"
      )
      v-select(
        label="Local"
        inputStyle="row"
        v-model="currentFilters.local"
        :options="filters.locales"
      )
      v-date(
        label="Fecha de envío:"
        inputStyle="row"
        format="YYYY-MM-DD"
        @value="updateDateSend"
        v-model="currentFilters.dateEnvio"
      )
    .c-page__body
      table-send(
        :items="S_STOCKS"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableSend: () => import('@/components/03-organism/tableSend/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        search: '',
        dateVencimiento: '',
        dateCut: '',
        local: '0',
        typeProduct: '0',
        producto: '0',
        presentacion: '0'
      },
      filters: {
        locales: [
          {
            name: 'Peppa Pig',
            value: '0'
          }
        ],
        typesProduct: [
          {
            name: 'Interno',
            value: '0'
          }
        ],
        productos: [
          {
            name: 'Lorem ipsum',
            value: '0'
          }
        ],
        presentaciones: [
          {
            name: 'Lorem ipsum',
            value: '0'
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_STOCKS: state => state.Stock.S_STOCKS
    })
  },

  watch: {},
  created () {
    this.A_GET_STOCKS()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_STOCKS: 'Stock/A_GET_STOCKS'
    }),
    search () {
      this.A_GET_STOCKS({
        search: this.currentFilters.search,
        marca: this.currentFilters.brands
      })
    },
    updateDateSend (e) {
      this.currentFilters.dateEnvio = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
