<template lang="pug">
  tbody
    tr
      td {{ item.codigo }}
      td {{ item.local }}
      td {{ item.fecha }}
      td {{ item.vendedora }}
      td
        i(
          :class="active ? 'icon-up':'icon-down'"
          @click="active = !active"
        )
    tr(
      v-if="active"
    )
      td(colspan="5")
        table
          tr
            th #COD
            th Categoría
            th Tipo de producto
            th Presentación
            th Cantidad
            th
            th
          tr(
            v-for="(product, key) in item.productos"
          )
            td {{ product.codigo }}
            td {{ product.categoria }}
            td {{ product.tipoProducto }}
            td {{ product.presentacion }}
            td {{ product.cantidad }}
            td
              a.e-btn.e-btn--icon.secondary(
                v-if="product.state === '1'"
              ) LLEGÓ COMPLETO
              a.e-btn.tertiary.e-btn--icon(
                v-if="product.state === '2'"
              ) LLEGÓ INCOMPLETO
              a.e-btn.e-btn--icon(
                v-if="product.state === '3'"
              ) NO LLEGÓ
            td
              input-text(
                v-if="product.state === '2'"
                type="text"
                name="faltante"
                disabled=true
                v-model="product.faltante"
              )
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      active: false
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
