<template lang="pug">
  .o-table
    table
      thead
        tr
          th
            span #
            i.icon-sort
          th
            span Tipo
            i.icon-sort
          th
            span Nro Documento
            i.icon-sort
          th
            span Producto
            i.icon-sort
          th
            span Cantidad
            i.icon-sort
          th
            span Precio Unitario
            i.icon-sort
          th
            span Precio Total
            i.icon-sort
          th
            span Estado
            i.icon-sort
      template(
        v-for="(item, key) in list"
      )
        row-liquidation(
          :key="key"
          :item="item"
          :position="key"
          :typeDoc="data.type"
        )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    rowLiquidation: () => import('@/components/02-molecule/liquidation/row')
  },
  props: {
    // propierty: { required: false, type: String },
    items: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: {
        total: 0
      },
      stateRow: false
    }
  },

  computed: {
    list () {
      const lista = []
      const paraLiquidar = []
      let total = 0
      this.items.forEach(item => {
        item.detalle.forEach(detalle => {
          detalle.type = item.tipoDocumento
          detalle.nroDoc = item.serie + '-' + item.numero
          lista.push(detalle)
          if (detalle.liquidado !== 1) {
            total = total + parseFloat(detalle.total)
            paraLiquidar.push(detalle)
          }
        })
      })
      this.$emit('calcTotal', total.toFixed(2), paraLiquidar)
      return lista
    }
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
