.o-form {
  margin-left: 0;
  margin-right: 0;
  width: 100%;

  &__title {
    text-align: center;
    font-weight: 600;
    color: $g-text-darker;
    font-size: 1.5rem;
  }
  &__footer {
    margin-top: 3rem;;
  }
}