.o-table {
  thead {
    background-color: #F0F0F0;
  }
  .o-head {
    background-color: white;
  }
  tbody {
    tr {
      &:hover {
        background-color: white;
      }
    }
    thead tr:hover {
      background-color: #F0F0F0;
    }
  }
  .e-btn {
    margin-right: .2rem;
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
}