<template lang="pug">
  .c-page.c-saleswoman-client-create
    v-title(
      beforePage
      title="Registrar cortes"
    )
    validation-observer.c-page__body(
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    )
      .c-saleswoman-client-create__seccion
        h3 Nuevo corte
        .ed-grid.m-grid-10
          .m-cols-2
            v-select(
              label="#COD (Tablero)"
              v-model="data.idTablero"
              :options="selects.boards"
              @change="getBoard"
            )
          .m-cols-2
            input-text(
              label="Tipo de tablero"
              type="text"
              name="typeBoard"
              placeholder=""
              disabled
              v-model="data.tipoTablero"
            )
          .m-cols-2
            input-text(
              :label="`Cantidad max:( ${data.stock} )`"
              type="number"
              name="cantidad"
              placeholder="0"
              :rules="`required|integer|between:1,${data.stock}`"
              v-model="data.cantidad"
            )
          .m-cols-2
            v-date(
              label="Fecha de corte:"
              format="YYYY-MM-DD"
              @value="updateDateCorte"
              v-model="data.fechaCorte"
            )
          .m-cols-2
            v-date(
              label="Fecha de vencimiento:"
              format="YYYY-MM-DD"
              @value="updateDateEnd"
              v-model="data.fechaVencimiento"
            )
        .ed-grid.m-grid-10
          .m-cols-2
            v-select(
              label="Tipo de corte"
              v-model="data.idTipoCorte"
              :options="selects.typesCut"
              @change="getTypeCutDistribution"
            )
          .m-cols-6.u-m__0
            .ed-grid.m-grid-6(
              v-for="(corte, key) in data.tipoCorteDistribucion"
            )
              .m-cols-2
                input-text(
                  v-if="key === 0"
                  label="Kilaje"
                  type="number"
                  rules="required|decimal"
                  name="kilaje"
                  placeholder="0"
                  disabled
                  v-model="corte.kilaje"
                )
                input-text(
                  v-else
                  type="number"
                  rules="required|decimal"
                  name="kilaje"
                  placeholder="0"
                  disabled
                  v-model="corte.kilaje"
                )
              .m-cols-2
                input-text(
                  v-if="key === 0"
                  label="Unidades"
                  type="number"
                  rules="required|integer"
                  name="unidades"
                  placeholder="0"
                  disabled
                  v-model="corte.cantidad"
                )
                input-text(
                  v-else
                  type="number"
                  rules="required|integer"
                  name="unidades"
                  placeholder="0"
                  disabled
                  v-model="corte.cantidad"
                )
              .m-cols-2
                input-text(
                  v-if="key === 0"
                  label="Presentación"
                  type="text"
                  rules="required"
                  name="presentacion"
                  placeholder=""
                  disabled
                  v-model="corte.presentacion"
                )
                input-text(
                  v-else
                  type="text"
                  rules="required"
                  name="presentacion"
                  placeholder=""
                  disabled
                  v-model="corte.presentacion"
                )
        button.e-btn.info(
          v-if="!isLoadingAuth"
          @click="handleSubmit(onSubmit)"
        ) AGREGAR TABLERO
        .e-btn.e-btn--fullwidth.e-btn--loading(
          v-else
        )
          i.icon-loading
</template>

<script>
import { mapActions } from 'vuex'
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        idTablero: '',
        tipoTablero: '',
        cantidad: '1',
        fechaCorte: '',
        fechaVencimiento: '',
        idTipoCorte: '',
        tipoCorteDistribucion: []
      },
      selects: {
        boards: [
          {
            name: 'Seleccione',
            value: '0'
          }
        ],
        typesCut: [
          {
            name: 'Seleccione',
            value: '0'
          }
        ]
      },
      isLoadingAuth: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  async created () {
    const getBoards = await this.A_GET_BOARDS()
    const boards = getBoards.map(el => ({ name: 'T' + this.padLeft(el.idTablero, 5), value: String(el.idTablero) }))
    boards.unshift({ name: 'Seleccione', value: '0' })
    this.selects.boards = boards
    this.data.stock = '1'
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_BOARDS: 'Board/A_GET_BOARDS',
      A_GET_BOARD: 'Board/A_GET_BOARD',
      A_GET_TYPECUTS: 'Cut/A_GET_TYPECUTS',
      A_GET_TYPECUTDISTRIBUTIONS: 'Cut/A_GET_TYPECUTDISTRIBUTIONS',
      A_SET_CUT: 'Cut/A_SET_CUT'
    }),
    padLeft (value, length) {
      return (value.toString().length < length)
        ? this.padLeft('0' + value, length)
        : value
    },
    async getBoard (e) {
      if (e !== '0') {
        const board = await this.A_GET_BOARD(e)
        this.data.tipoTablero = board.nombreTipoTablero
        this.data.stock = String(board.cantidad)
        const tipoCorte = await this.A_GET_TYPECUTS(board.idTipoTablero)
        this.selects.typesCut = tipoCorte.map(el => ({ name: el.nombre, value: String(el.idTipoCorte) }))
        this.selects.typesCut.unshift({ name: 'Seleccione', value: '0' })
      }
    },
    async getTypeCutDistribution (e) {
      if (e !== '0') {
        const tipoCorteDistribucion = await this.A_GET_TYPECUTDISTRIBUTIONS(this.data.idTipoCorte)
        this.data.tipoCorteDistribucion = tipoCorteDistribucion.map(el => {
          el.kilaje = String(el.kilaje)
          el.cantidad = String(el.cantidad)
          return el
        })
      }
    },
    async onSubmit () {
      try {
        this.data.fecha = this.data.fechaCorte
        this.data.fecha_vencimiento = this.data.fechaVencimiento
        await this.A_SET_CUT(this.data)
        this.$router.push({ name: 'BoardCutPage' })
      } catch (error) {
        console.log('Your have a went error:', error)
      }
    },
    updateDateCorte (e) {
      this.data.fechaCorte = e
    },
    updateDateEnd (e) {
      this.data.fechaVencimiento = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
