<template lang="pug">
  .c-page.c-category
    v-title(
      title="Corte de tableros"
      subtitle="(200 de 1000 tableros)"
    )
      a.e-btn(
        :href="`https://apidona.globoazul.pe/index.php/api/corte/exportAllPdf?typeTable=${currentFilters.types}&typeCut=${currentFilters.typeCut}&dateVencimiento=${currentFilters.dateVencimiento}&dateCut=${currentFilters.dateCut}`"
        target="_blank"
      )
        i.icon-printer
        | PDF
      a.e-btn.secondary(
        v-if="!isLoadingExcel"
        :href="`https://apidona.globoazul.pe/index.php/api/corte/exportExcel?typeTable=${currentFilters.types}&typeCut=${currentFilters.typeCut}&dateVencimiento=${currentFilters.dateVencimiento}&dateCut=${currentFilters.dateCut}`"
        target="_blank"
      )
        i.icon-excel_ico
        | Excel
      .e-btn.secondary.e-btn--loading(
        v-else
      )
        i.icon-loading
      router-link.e-btn.info(
        :to="{ name: 'BoardCutCreatePage' }"
      ) NUEVO CORTE
    .c-page__filters
      v-select(
        label="Tipo de tablero"
        inputStyle="row"
        v-model="currentFilters.types"
        @change="search"
        :options="filters.types"
      )
      v-select(
        label="Tipo de corte"
        inputStyle="row"
        v-model="currentFilters.typeCut"
        @change="search"
        :options="filters.typesCut"
      )
      v-date(
        label="Vencimiento:"
        inputStyle="row"
        format="YYYY-MM-DD"
        @value="updateDateVencimiento"
        @change="search"
        v-model="currentFilters.dateVencimiento"
      )
      v-date(
        label="Fecha de corte:"
        inputStyle="row"
        format="YYYY-MM-DD"
        @value="updateDateCut"
        @change="search"
        v-model="currentFilters.dateCut"
      )
    .c-page__body
      table-cut(
        :items="S_CUTS"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableCut: () => import('@/components/03-organism/tableCut/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        dateVencimiento: '',
        dateCut: '',
        types: '',
        typeCut: ''
      },
      filters: {
        types: [
          {
            name: 'Selecccionar',
            value: ''
          },
          {
            name: 'Tradicional',
            value: '1'
          },
          {
            name: 'Especial',
            value: '2'
          },
          {
            name: 'Exportacion',
            value: '3'
          }
        ],
        typesCut: [
          {
            name: 'Seleccionar',
            value: ''
          },
          {
            name: 'Puros Kilos',
            value: '1'
          }
        ]
      },
      isLoadingExcel: false
    }
  },

  computed: {
    ...mapState({
      S_CUTS: state => state.Cut.S_CUTS
    })
  },

  watch: {},
  async created () {
    await this.A_GET_CUTS()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CUTS: 'Cut/A_GET_CUTS'
    }),
    updateDateVencimiento (e) {
      this.currentFilters.dateVencimiento = e
    },
    updateDateCut (e) {
      this.currentFilters.dateCut = e
    },
    search () {
      this.A_GET_CUTS({
        typeTable: this.currentFilters.types,
        typeCut: this.currentFilters.typeCut,
        dateVencimiento: this.currentFilters.dateVencimiento,
        dateCut: this.currentFilters.dateCut
      })
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
