<template lang="pug">
  .c-page
    v-title(
      title="Reportes  Administrador/ Ventas"
    )
      // a.e-btn.disabled
        i.icon-paper
        | Copiar
      // a.e-btn.tertiary
        i.icon-paper
        | Imprimir
      // a.e-btn.secondary
        i.icon-paper
        | Excel
    .c-page__tabs
      ul
        li(
          :class="currentFilters.type === 'active' ? 'active': ''"
          @click="currentFilters.type = 'active'"
        ) Activos
        li(
          :class="currentFilters.type === 'anulate' ? 'active': ''"
          @click="currentFilters.type = 'anulate'"
        ) Anulados
    .c-page__filters.c-page__filters--multiple.regular
      .c-page__filters--multiple-row
        v-date(
          label="Fecha inicio:"
          inputStyle="row"
          format="YYYY-MM-DD"
          @value="updateDateStart"
          v-model="currentFilters.dateStart"
          @change="applyFilter"
        )
        v-date(
          label="Fin:"
          inputStyle="row"
          format="YYYY-MM-DD"
          @value="updateDateEnd"
          v-model="currentFilters.dateEnd"
          @change="applyFilter"
        )
        v-select(
          label="Vendedoras"
          inputStyle="row"
          name="'demo'"
          v-model="currentFilters.saleswoman"
          :options="filters.saleswoman"
          @change="applyFilter"
        )
        v-select(
          label="Venta mensual"
          inputStyle="row"
          v-model="currentFilters.month"
          :options="filters.month"
          v-if="false"
        )
        v-search(
          type="text"
          inputStyle="row"
          name="search"
          v-model="currentFilters.search"
          placeholder="Annie"
          v-if="false"
        )
        v-select(
          label="Producto:"
          inputStyle="row"
          v-model="currentFilters.products"
          :options="filters.products"
          @change="applyFilter"
        )
      .c-page__filters--multiple-row
        v-select(
          label="Métodos de pago:"
          inputStyle="row"
          v-model="currentFilters.methods"
          :options="filters.methods"
          v-if="false"
        )
        v-tabs(
          label="Ventas por medio de:"
          inputStyle="row"
          v-model="currentFilters.redes"
          :options="filters.redes"
          v-if="false"
        )
        v-select(
          label="Locales:"
          inputStyle="row"
          v-model="currentFilters.locals"
          :options="filters.locals"
          v-if="false"
        )
    .c-page__body
      table-report-sale(
        :items="listSale"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    vTabs: () => import('@/components/02-molecule/formElements/tabs'),
    tableReportSale: () => import('@/components/03-organism/tableSale/report'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        type: 'active',
        dateStart: '',
        dateEnd: '',
        month: '',
        saleswoman: '',
        search: '',
        methods: '',
        locals: '',
        products: '',
        redes: '1'
      },
      filters: {
        saleswoman: [{
          value: '0',
          name: 'Todos'
        }],
        month: [
          {
            name: 'Enero',
            value: '0'
          },
          {
            name: 'Febrero',
            value: '1'
          },
          {
            name: 'Marzo',
            value: '2'
          },
          {
            name: 'Abril',
            value: '3'
          },
          {
            name: 'Mayo',
            value: '4'
          },
          {
            name: 'Junio',
            value: '5'
          },
          {
            name: 'Julio',
            value: '6'
          },
          {
            name: 'Agosto',
            value: '7'
          },
          {
            name: 'Septiembre',
            value: '8'
          },
          {
            name: 'Octubre',
            value: '9'
          },
          {
            name: 'Noviembre',
            value: '10'
          },
          {
            name: 'Diciembre',
            value: '11'
          }
        ],
        methods: [
          {
            name: 'Transferencia',
            value: '0'
          },
          {
            name: 'Pago Efectivo',
            value: '1'
          }
        ],
        locals: [
          {
            name: 'Al por mayor',
            value: '0'
          },
          {
            name: 'Al por menor',
            value: '1'
          }
        ],
        products: [{
          name: 'Todos',
          value: '0'
        }],
        redes: [
          {
            name: 'th-large',
            value: '0'
          },
          {
            name: 'whatsapp',
            value: '1'
          },
          {
            name: 'phone',
            value: '2'
          },
          {
            name: 'world',
            value: '3'
          },
          {
            name: 'person',
            value: '4'
          }
        ]
      },
      listSale: []
    }
  },

  computed: {
    ...mapState({
      S_PROFILE: state => state.Auth.S_PROFILE,
      S_EMPLOYEES: state => state.Employee.S_EMPLOYEES,
      S_PRODUCTS: state => state.Product.S_PRODUCTS
    })
  },

  watch: {},
  async created () {
    const employees = await this.A_GET_EMPLOYEES({ idPosition: 2 })
    employees.map(item => {
      this.filters.saleswoman.push({
        value: item.idEmpleado + '',
        name: item.nombres + ' ' + item.apellidoPaterno + ' ' + item.apellidoMaterno
      })
    })
    const products = await this.A_GET_PRODUCTS({ all: 1 })
    products.map(item => {
      this.filters.products.push({
        value: item.idProducto + '',
        name: item.nombre
      })
    })
    await this.applyFilter()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_SALES: 'Report/A_GET_SALES',
      A_GET_EMPLOYEES: 'Employee/A_GET_EMPLOYEES',
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS'
    }),
    updateDateStart (e) {
      this.currentFilters.dateStart = e
    },
    updateDateEnd (e) {
      this.currentFilters.dateEnd = e
    },
    async applyFilter () {
      if (this.currentFilters.dateStart === '') {
        this.currentFilters.dateStart = this.$moment().subtract(7, 'days').format('YYYY-MM-DD')
      }
      if (this.currentFilters.dateEnd === '') {
        this.currentFilters.dateEnd = this.$moment().format('YYYY-MM-DD')
      }
      this.listSale = await this.A_GET_SALES({
        idUsuario: this.currentFilters.saleswoman,
        idProducto: this.currentFilters.products,
        fechaIni: this.currentFilters.dateStart,
        fechaFin: this.currentFilters.dateEnd
      })
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
