<template lang="pug">
  .c-sale
    modal(
      name="type-sale"
      :width="550"
      :scrollable="true"
      height="auto"
      class="c-modal"
      :shiftY="0.2"
    )
      .c-sale-select
        h3 Nueva venta
        p Nulla vestibulum erat eu molestie cursus. Ut semper erat id molestie aliquam.
        v-select(
          label="Tipo de venta"
          v-model="data.sale.tipoDocumento"
          :options="filters.categories"
          @change="changeDocument"
        )
        a.e-btn.e-btn--fullwidth(
          @click="closeModal('type-sale')"
        ) ACEPTAR
    validation-observer(
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    ).c-page
      v-title(
        title="Vendedora / Nueva venta"
      )
      .ed-grid.m-grid-2
        .m-cols-1
          .c-sale__info
            p {{ data.local.nombreEmpresa }}
            span {{ data.local.nombreLocal }}
            span {{ data.local.direccion }}
            span {{ `${data.local.nombreDepartamento} - ${data.local.nombreProvincia}` }}
        .m-cols-1
          .c-sale__code
            span RUC {{ data.local.ruc }}
            p {{ data.sale.nameTipoDocumento }}
            span {{ data.sale.serie }}-{{ data.sale.numero }}
      .c-page__body
        table-sale(
          :items="data.saleList"
          :total="data.sale.total"
          @rowDelete="rowDelete"
          @updateTotal="updateTotal"
          @saleVerify="saleVerify"
        )
      .c-sale__footer(
        v-if="loadedProducts"
      )
        .e-btn.linear(@click="addRow") + AGREGAR PRODUCTO
      .c-sale__gift
        .ed-grid.m-grid-9
          .m-cols-9
            h3 Datos de regalos
          .m-cols-2
            v-select(
              label="Tipo de regalo"
              v-model="data.gift.type"
              :options="filters.type"
            )
          .m-cols-1
            input-text(
              label="Cantidad"
              type="number"
              name="amount"
              v-model="data.gift.amount"
            )
          .m-cols-6
            p *Sugerimos que los regalos no pase de esta cantidad ({{ data.gift.maxGift }})
      .c-sale__client
        .ed-grid.m-grid-4
          .m-cols-2
            h3 Datos del cliente
          .m-cols-2
            h3 Datos de la venta
          .input-group.m-cols-1
            v-select(
              label="Tipo de documento"
              v-model="data.client.type"
              :options="filters.document"
              @change="changeDocument"
            )
          .input-group.m-cols-1
            .e-input
              label
                span Nro. Documento
                div(style="display: flex; width: 100%")
                  input-text(
                    style="width: 100%"
                    type="number"
                    :rules="`required|integer|digits:${data.client.digits}`"
                    name="amount"
                    v-model="data.client.document"
                    @change="searched = false"
                  )
                  .e-tabs
                    ul.e-tabs__options
                      li.active(
                        v-if="!searched"
                        @click="getClientByDni"
                      )
                        i.icon-search
                      li.success(
                        v-else
                      )
                        i.icon-check-1
          .input-group.m-cols-1
            v-date(
              v-if="data.sale.tipoDocumento === '3'"
              label="Fecha"
              format="YYYY-MM-DD"
              rules="required"
              @value="updateDate"
              v-model="data.sale.date"
            )
            input-text(
              v-else
              label="Fecha"
              type="text"
              rules="required"
              name="name"
              v-model="data.sale.date"
              disabled=true
            )
          .m-cols-1
          .input-group.m-cols-1
            input-text(
              label="Nombre del cliente"
              type="text"
              rules="required"
              name="name"
              v-model="data.client.name"
            )
          .m-cols-1
          .input-group.m-cols-1
            v-select(
              label="Moneda"
              v-model="data.sale.currency"
              :options="filters.currency"
            )
          .input-group.m-cols-1
            input-text(
              label="IGV"
              type="text"
              rules="required"
              name="name"
              disabled
              v-model="data.sale.igv"
            )
          .input-group.m-cols-1
            input-text(
              label="Email"
              type="email"
              name="email"
              v-model="data.client.email"
            )
          .input-group.m-cols-1
            input-text(
              label="Celular"
              type="phone"
              name="celular"
              v-model="data.client.celular"
            )
          .input-group.m-cols-1
            v-select(
              label="Condición de pago"
              v-model="data.sale.payCondition"
              :options="filters.method"
            )
          .input-group.m-cols-1
            input-text(
              label="Nro. Operación"
              type="number"
              :rules="`${(data.sale.payCondition !== '1') ? 'required' : ''}`"
              name="operacion"
              v-model="data.sale.operacion"
            )
          .input-group.m-cols-1
            v-select(
              label="Provincia"
              v-model="data.client.province"
              :options="filters.province"
            )
          .m-cols-1
          .input-group.m-cols-1
            v-select(
              label="Canal de venta"
              v-model="data.sale.channel"
              :options="filters.channel"
            )
          .m-cols-1
          .input-group.m-cols-1
            v-radio(
              label="¿Envío por delivery?"
              v-model="data.client.delivery"
              :options="filters.delivery"
              name="radio-sports"
              inputStyle="row"
            )
          .input-group.m-cols-1
            input-text(
              label="Dirección"
              type="text"
              :rules="`${(data.client.delivery === '1') ? 'required' : ''}`"
              name="direction"
              v-model="data.client.direction"
            )
          .input-group.m-cols-1
            input-text(
              label="Referencias"
              type="text"
              name="direction"
              v-model="data.client.reference"
            )
      .c-sale-footer
        .ed-grid.m-grid-6
          .m-x-5.m-cols-1
            p Gravada:
          .m-cols-1
            span {{ (Number(data.sale.total) - Number(data.sale.totalIgv)).toFixed(2) }}
          .m-x-5.m-cols-1
            p Descuento:
          .m-cols-1
            span {{ data.sale.descuento }}
          .m-x-5.m-cols-1
            p IGV (18%):
          .m-cols-1
            span  {{ data.sale.totalIgv }}
          .m-x-5.m-cols-1
            p Delivery:
          .m-cols-1
            span 0.00
          .m-cols-6
            span.c-sale-footer__separator
          .m-x-5.m-cols-1
            span.total Total:
          .m-cols-1
            span.total {{ data.sale.total.toFixed(2) }}
      .ed-grid.m-grid-4
        .m-cols-1
          .e-btn.disabled.e-btn--fullwidth(
            @click="$modal.show('sale-preview')"
          ) PREVISUALIZAR
        .m-x-3.m-cols-1
          button.e-btn.linear.e-btn--fullwidth(
            v-if="!isLoading"
            @click="data.sale.habilitado = 3;handleSubmit(onSubmit)"
          ) GUARDAR EN BORRADOR
          .e-btn.e-btn--fullwidth.e-btn--loading(
            v-else
          )
            i.icon-loading
        .m-cols-1
          button.e-btn.e-btn--fullwidth(
            :class="disabled ? 'disabled' : ''"
            v-if="!isLoading"
            @click="data.sale.habilitado = 1;handleSubmit(onSubmit)"
            :disabled="disabled"
          ) EMITIR
          .e-btn.e-btn--fullwidth.e-btn--loading(
            v-else
          )
            i.icon-loading
    modal(
      :name="'sale-preview'"
      :width="650"
      :scrollable="true"
      height="auto"
      class="c-modal c-modal--report"
      :shiftY="0.2"
    )
      sale-preview(
        :item="data"
      )
    modal(
      name="modal-message"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        :title="modal.title"
        :subtitle="modal.subtitle"
        colorConfirm="info"
        textConfirm="ACEPTAR"
        :btnDeny="false"
        @confirmed="closeModal('modal-message')"
      )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableSale: () => import('@/components/03-organism/tableSale/default'),
    inputText: () => import('@/components/02-molecule/formElements/default'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vRadio: () => import('@/components/02-molecule/formElements/radio'),
    salePreview: () => import('@/components/02-molecule/sale/preview'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        local: {},
        gift: {
          maxGift: 0,
          code: '',
          type: '',
          amount: '0'
        },
        client: {
          type: '1',
          digits: '11',
          document: null,
          name: '',
          email: '',
          celular: '',
          province: '',
          delivery: '1',
          direction: '',
          reference: ''
        },
        sale: {
          date: (new Date()).toLocaleDateString(),
          currency: '',
          method: '',
          igv: '18%',
          code: '',
          channel: '',
          payCondition: '1',
          serie: 'BBB1',
          numero: '',
          descuento: 0.00,
          total: 0.00,
          gravada: 0.00,
          totalIgv: 0.00,
          nameTipoDocumento: 'BOLETA DE VENTA ELECTRÓNICA',
          tipoDocumento: '2',
          habilitado: '0'
        },
        saleList: []
      },
      filters: {
        categories: [
          {
            name: 'NOTA DE VENTA ELECTRONICA',
            value: '3'
          },
          {
            name: 'FACTURA DE VENTA ELECTRONICA',
            value: '1'
          },
          {
            name: 'BOLETA DE VENTA ELECTRONICA',
            value: '2'
          }
        ],
        type: [
          {
            name: 'Regalo muestra',
            value: '0'
          },
          {
            name: 'Regalo cliente',
            value: '1'
          }
        ],
        document: [
          {
            name: 'DNI',
            value: '2'
          },
          {
            name: 'RUC',
            value: '1'
          }
        ],
        currency: [
          {
            name: 'Soles',
            value: '0'
          },
          {
            name: 'Dolares',
            value: '1'
          }
        ],
        method: [
          {
            name: 'Efectivo',
            value: '1'
          },
          {
            name: 'Tarjeta',
            value: '2'
          },
          {
            name: 'Yape',
            value: '3'
          },
          {
            name: 'Tranferencia',
            value: '4'
          }
        ],
        channel: [
          {
            name: 'Web',
            value: '0'
          },
          {
            name: 'Presencial',
            value: '1'
          }
        ],
        province: [
          {
            name: 'Lima',
            value: '0'
          },
          {
            name: 'Ica',
            value: '1'
          }
        ],
        delivery: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ]
      },
      modal: {
        title: '',
        subtitle: ''
      },
      loadedProducts: false,
      searched: false,
      isLoading: false,
      disabled: true
    }
  },

  computed: {
    ...mapState({
      S_PRODUCTS: state => state.Product.S_PRODUCTS,
      S_CLIENT: state => state.Client.S_CLIENT
    })
  },

  watch: {},
  async created () {
    await this.A_GET_PRODUCTS()
    this.loadedProducts = true
    await this.changeVenta(2)
    this.data.local = this.$cookies.get('AUTH_DATA').local
  },
  mounted () {
    this.$modal.show('type-sale')
  },
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS',
      A_GET_CLIENT: 'Client/A_GET_CLIENT',
      A_SET_SALE: 'Sale/A_SET_SALE',
      A_GET_EMPLOYEES: 'Employee/A_GET_EMPLOYEES',
      A_GET_LAST_SALE: 'Sale/A_GET_LAST_SALE'
    }),
    closeModal (modalname) {
      this.$modal.hide(modalname)
    },
    saleVerify () {
      let state = true
      this.data.saleList.forEach(el => {
        console.log('state', el.stateRow)
        if (!el.stateRow) {
          state = false
        }
      })
      if (this.data.saleList.length > 0 && state) {
        this.disabled = false
      } else {
        this.disabled = true
      }
    },
    addRow () {
      const products = this.S_PRODUCTS.map((element) => {
        return ({
          name: String(element.nombre),
          value: String(element.idProducto)
        })
      })
      this.data.saleList.push({
        products,
        cantidad: '1',
        descuento: '0',
        descuentoCodigo: this.data.gift.code,
        descuentoHabilitado: false,
        descuentoPorcentaje: 0,
        descuentoValidado: false,
        idDocumentoVentaDetalle: 1,
        productoCodigo: null,
        productoCodigoInterno: null,
        productoDescripcion: '',
        productoId: 3,
        productoNombre: '',
        productoValorUnitario: 0,
        productoPrecioUnitario: 0,
        subtotal: 0,
        igv: 0,
        total: 0,
        stateRow: false,
        unidadMedida: 'NIU'
      })
      this.saleVerify()
    },
    async getClientByDni () {
      const res = await this.A_GET_CLIENT(this.data.client.document)
      if (res.denominacion) {
        this.data.client.name = res.denominacion
        this.data.client.email = res.email
        this.data.client.celular = res.celular
        this.data.client.direction = res.direccion
        this.searched = true
      } else {
        this.data.client.name = ''
        this.data.client.email = ''
        this.data.client.celular = ''
        this.data.client.direction = ''
        this.modal = { title: 'No hay data', subtitle: 'No se encontró cliente con este número de documento' }
        this.$modal.show('modal-message')
      }
    },
    async onSubmit () {
      this.isLoading = true
      const sale = {
        idJalador: null,
        cantidadRegalo: this.data.gift.amount,
        clienteCelular: this.data.client.celular,
        clienteDenominacion: this.data.client.name,
        clienteDireccion: this.data.client.direction,
        clienteEmail: this.data.client.email,
        clienteNumeroDocumento: this.data.client.document,
        clienteTipoDocumento: this.data.client.type,
        condicionPago: this.data.sale.payCondition,
        fecha: this.$moment(this.data.sale.date, 'D/M/YYYY').format('YYYY-MM-DD'),
        igv: 18,
        moneda: this.data.sale.currency,
        numero: this.data.sale.numero,
        numeroOperacion: this.data.sale.operacion,
        serie: this.data.sale.serie,
        tipoDocumento: this.data.sale.tipoDocumento,
        tipoRegalo: this.data.gift.type,
        total: this.data.sale.total,
        totalDescuento: this.data.sale.descuento,
        totalGravada: this.data.sale.gravada,
        totalIGV: this.data.sale.totalIgv,
        detalle: this.data.saleList,
        habilitado: this.data.sale.habilitado,
        enviarSunat: true,
        enviarCliente: false
      }
      try {
        const result = await this.A_SET_SALE(sale)
        console.log('true', result)
        this.isLoading = false
        this.$router.push({ name: 'SaleswomanReportPage' })
      } catch (error) {
        console.error('LOADING CREATE SALE', error)
      }
    },
    updateDate (e) {
      this.currentFilters.dateStart = e
    },
    rowDelete (id) {
      this.data.saleList.splice(id, 1)
      this.updateTotal()
      this.saleVerify()
    },
    updateTotal () {
      const descuento = Number(this.data.saleList.reduce((acc, el) => acc + Number(el.descuento), 0)).toFixed(2)
      const total = Number(this.data.saleList.reduce((acc, el) => acc + Number(el.total), 0))
      const TotalKilaje = Number(this.data.saleList.reduce((acc, el) => acc + (Number(el.cantidad) * Number(el.kilaje)), 0))
      const gravada = Number(total * 100 / 118)
      const igv = total - gravada

      this.data.sale.descuento = descuento
      this.data.sale.totalIgv = Number(igv.toFixed(2))
      this.data.sale.gravada = Number(gravada.toFixed(2))
      this.data.sale.total = Number(total.toFixed(2))
      this.data.gift.maxGift = Math.trunc(TotalKilaje / 10)
    },
    async changeVenta (e) {
      const lastSale = await this.A_GET_LAST_SALE({ idLocal: this.$cookies.get('AUTH_DATA').local.idLocal, tipoDocumento: e })
      this.data.sale.numero = (lastSale === 0) ? 1 : Number(lastSale.numero) + 1
      switch (e) {
        case '1':
          this.data.sale.nameTipoDocumento = 'FACTURA DE VENTA ELECTRONICA'
          this.data.sale.serie = 'FFF1'
          this.filters.document = [
            {
              name: 'RUC',
              value: '1'
            }
          ]
          break
        case '2':
          this.data.sale.nameTipoDocumento = 'BOLETA DE VENTA ELECTRONICA'
          this.data.sale.serie = 'BBB1'
          break
        case '3':
          this.data.sale.nameTipoDocumento = 'NOTA DE VENTA ELECTRONICA'
          this.data.sale.serie = 'NV03'
          break
      }
    },
    changeDocument (e) {
      switch (this.data.client.type) {
        case '1':
          this.data.client.digits = 11
          break
        case '2':
          this.data.client.digits = 8
          break
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
