<template lang="pug">
  .c-anulation
    .c-anulation__header.ed-grid.m-grid-2
      .m-cols-2
        h3 JARAMILLO TORERO DE PAEZ MANUELA MARIA
      .m-cols-1
        p Av. Tacna Nro. 488
        p Lima - Lima - Lima
        p RUC 10095588986
        p NOTA DE VENTA DE VENTA ELECTRONICA
        h4 NV10-9281
      .m-cols-1
        img(
          src="@/assets/images/logo-vertical.png"
        )
    .c-anulation__body
      h3 ADQUIRIENTE
      p Nro. Documento: {{ item.client.document }}
      p Nombres: {{ item.client.name }}
      p Fecha de emisión: {{ item.sale.date }}
      p Moneda: Soles
      p IGV: {{ item.sale.igv }}
      div
        p {{ 'Dirección: ' + item.client.direction }}
        p {{item.client.reference ? 'Referencia: ' + item.client.reference : ''}}
        h4(v-if="item.client.delivery==='1'") Requiere envío a:
        h4(v-if="item.client.delivery!=='1'") No requiere envío
    .c-anulation__table
      .o-table
        table
          thead
            tr
              th CANTIDAD
              th DESCRIPCIÓN
              th PU
              th TOTAL
          tbody
            template(
              v-for="(sale, key) in item.saleList"
            )
              tr
                td {{ sale.cantidad }}
                td {{ sale.productoNombre }}
                td {{ sale.subtotal }}
                td.right {{ sale.total }}
          tfoot
            tr
              td(colspan="2").right GRAVADA :
              td.right S/
              td.right {{ Number(item.sale.total) - Number(item.sale.totalIgv) }}
            tr
              td(colspan="2").right DESCUENTO :
              td.right S/
              td.right {{ item.sale.descuento }}
            tr
              td(colspan="2").right IGV (18%) :
              td.right S/
              td.right {{ item.sale.totalIgv }}
            tr.last
              td(colspan="2").right Total:
              td.right S/
              td.right {{ item.sale.total }}
    .c-anulation__footer
      p Representación impresa de la
      p NOTA DE VENTA DE VENTA ELECTRONICA.
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
