<template lang="pug">
  tbody
    tr
      td(style="vertical-align:top;")
        div.price {{ id + 1 }}
      td(style="vertical-align:top;")
        v-select(
          v-model="data.code"
          name="code"
          :options="item.products"
          @change="getProduct"
          :disabled="data.discountRequested"
          :class="data.enabled"
          v-on:keyup="keymonitor"
        )
      td(style="vertical-align:top;").center
        input-text(
          type="number"
          :rules="`required|integer|between:1,${item.stock}`"
          name="cantidad"
          v-model="item.cantidad"
          @change="rowCalc"
          :disabled="data.discountRequested"
          :class="data.enabled"
        )
      td(style="vertical-align:top;").center
        .e-input
          label
            div(style="display: flex;")
              input-text(
                rules="required"
                type="number"
                name="descuento"
                v-model="data.descuento"
                :disabled="data.discountRequested"
                :class="data.enabled"
                @change="rowCalc"
              )
      td(style="vertical-align:top;").center
        div.price(
          :class="data.priceActive === 'pu' ? 'thisprice' : ''"
          @click="changePrice('pu')"
        ) {{ data.precioVenta }}
      td(style="vertical-align:top;").center(
        :class="data.discountedPrice"
      )
        div.price(
          :class="data.priceActive === 'pv' ? 'thisprice' : ''"
          @click="changePrice('pv')"
        ) {{ item.productoPrecioUnitario }}
      td(style="vertical-align:top;").center
        div.price {{ item.total }}
      td(style="vertical-align:top;").center(@click="rowDeleteEmit")
        div.price
          i.icon-trash
      td(style="vertical-align:top;")
        .e-tabs
          ul.e-tabs__options()
            .e-btn.e-btn--icon(
              @click="requestDiscount"
              v-show="!data.discountRequested"
              :class="(showButton)? '' : 'hidden'"
            )
              i.icon-right
            .e-btn.e-btn--icon.secondary(
              v-show="data.discountRequested && !data.checked"
              :class="(showButton)? '' : 'hidden'"
            )
              i.icon-lock
            li.active(
              v-show="data.checked"
              :class="(showButton)? '' : 'hidden'"
            )
              i.icon-check
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/default'),
    vSelect: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
    id: {
      required: true,
      type: Number
    },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: {
        code: '',
        valorUnitario: 0,
        precioVenta: '0.00',
        descuento: '0',
        discountedPrice: '',
        discountRequested: false,
        enabled: '',
        interval: 0,
        hash: 0,
        checked: false,
        reject: true,
        priceActive: 'pv'
      },
      showButton: false
    }
  },

  computed: {},

  watch: {},
  created () {
    this.item.products.unshift({
      name: 'Seleccione',
      value: '0'
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCT: 'Product/A_GET_PRODUCT',
      A_SET_DISCOUNT: 'Discount/A_SET_DISCOUNT',
      A_GET_DISCOUNT: 'Discount/A_GET_DISCOUNT',
      A_DELETE_DISCOUNT: 'Discount/A_DELETE_DISCOUNT'
    }),
    changePrice (type) {
      if (!this.data.discountRequested) {
        if (this.data.code !== '') {
          this.data.priceActive = type
          this.item.stateRow = type
          this.rowCalc()
        }
      }
    },
    async getProduct (id) {
      if (id !== '0') {
        const { data } = await this.A_GET_PRODUCT({ id, params: { idLocal: this.$cookies.get('AUTH_DATA').local.idLocal } })
        this.item.productoCodigo = data.codigo
        this.item.productoCodigoInterno = data.codigoInterno
        this.item.productoId = data.idProducto
        this.item.productoNombre = data.nombre
        this.item.productoDescripcion = data.nombre
        this.item.stock = data.stock
        this.item.productoValorUnitario = (Number(data.precioVenta) / 1.18).toFixed(2)
        this.data.valorUnitario = Number(data.precioVenta) / 1.18
        this.data.precioVenta = Number(data.precioVenta).toFixed(2)
        this.item.rango = data.rango
        this.item.kilaje = data.peso
        if (data.stock > 0) {
          this.item.stateRow = true
        }
      } else {
        this.item.productoCodigo = ''
        this.item.productoCodigoInterno = ''
        this.item.productoId = ''
        this.item.productoNombre = ''
        this.item.productoDescripcion = ''
        this.item.productoValorUnitario = '0.00'
        this.item.kilaje = 0
      }
      this.rowCalc()
      this.$emit('saleVerify')
    },
    rowCalc () {
      const cantidad = Number(this.item.cantidad)
      let valorUnitario = 0
      let precioUnitario = 0

      if (cantidad > 0) {
        this.data.discountedPrice = ''
        valorUnitario = Number(this.data.valorUnitario)
        precioUnitario = valorUnitario * 1.18
        this.item.rango.map(range => {
          if (range.desde <= cantidad && range.hasta >= cantidad) {
            const price = Number(range.price)
            if (this.data.priceActive === 'pv') {
              valorUnitario = price / 1.18
            }
            precioUnitario = price
            this.data.discountedPrice = 'text-green'
          }
        })
      }
      const descuento = this.data.descuento / 1.18
      const subtotal = valorUnitario * cantidad - descuento
      const igv = subtotal * 0.18
      const total = subtotal + igv

      this.item.productoValorUnitario = valorUnitario.toFixed(2)
      this.item.productoPrecioUnitario = precioUnitario.toFixed(2)
      this.item.descuento = this.data.descuento
      this.item.subtotal = subtotal.toFixed(2)
      this.item.igv = igv

      this.item.total = total.toFixed(2)

      if (Number(this.data.descuento) > 0 || (this.data.precioVenta !== this.item.productoPrecioUnitario && this.data.priceActive === 'pv')) {
        this.showButton = true
        this.item.stateRow = false
        if (Number(this.data.descuento) === 0 && this.data.precioVenta !== this.item.productoPrecioUnitario && this.data.priceActive === 'pu') {
          this.item.stateRow = true
        }
      } else {
        this.showButton = false
        if (Number(this.data.descuento) === 0) {
          this.item.stateRow = true
        }
      }

      this.$emit('saleVerify')
      this.$emit('updateTotal', true)
    },
    async rowDeleteEmit () {
      if (this.data.hash !== 0) {
        await this.A_DELETE_DISCOUNT({ hash: this.data.hash })
      }
      this.$emit('rowDelete', this.id)
    },
    async requestDiscount () {
      const now = Date.now()
      this.data.hash = now.toString()
      const solicitud = {
        idLocal: this.$cookies.get('AUTH_DATA').local.idLocal,
        idProducto: this.data.code,
        idEmpleado: this.$cookies.get('AUTH_DATA').empleado.idEmpleado,
        porcentaje: this.item.descuento,
        cantidad: this.item.cantidad,
        precio: this.item.productoPrecioUnitario,
        total: this.item.total,
        hash: this.data.hash
      }
      this.data.discountRequested = true
      this.data.enabled = 'disabled'
      await this.A_SET_DISCOUNT({ solicitud })
      this.data.interval = setInterval(function () {
        this.getDiscount()
      }.bind(this), 3000)
    },
    async getDiscount () {
      const res = await this.A_GET_DISCOUNT({ hash: this.data.hash })
      if (res.habilitado === 1) {
        this.data.checked = true
        this.item.stateRow = true
        clearInterval(this.data.interval)
      }
      if (res.habilitado === 3) {
        this.data.discountRequested = false
        this.data.enabled = ''
        this.data.hash = 0
        clearInterval(this.data.interval)
      }
      this.$emit('saleVerify')
    },
    keymonitor () {
      console.log('aki?')
    }

  }
}
</script>

<style lang="css" scoped>
.disabled{
  background-color: #EFEFEF !important;
  color: #444;
}
.text-green{
  color: green;
}
.price {
  cursor: pointer;
  padding: .5rem 1rem;
  border: 1px solid transparent;
}
.thisprice{
  border: 1px solid rgb(205, 228, 4);
}
.hidden{
  opacity: 0;
}
</style>
