<template lang="pug">
  tbody
    tr
      td {{ documento }}
      td {{ item.serie }}
      td {{ item.numero }}
      td {{ item.cliente }}
      td {{ item.categoria }}
      td {{ item.producto }}
      td {{ item.cantidad }}
      td {{ item.descuento }}
      td {{ item.precioUnitarioProducto }}
      td {{ item.vNombre }}
      td {{ item.total }}
      td {{ item.fecha }}
      td {{ item.local }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    documento () {
      let documento = 'Nota: '
      if (this.item.tipoDocumento === '1') {
        documento = 'Factura: '
      }
      if (this.item.tipoDocumento === '2') {
        documento = 'Boleta: '
      }
      return documento
    }
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
