<template lang="pug">
  tbody
    tr
      td {{ item.codigo }}
      td {{ item.nombreCategoria }}
      td {{ item.nombre }}
      td {{ item.stock }}
      td {{ item.precioCompra }}
      td {{ item.precioVenta }}
      td {{ item.fechaVencimiento }}
      td.nowrap
        template(
          v-if="check"
        )
          a.e-btn.e-btn--icon.secondary(
            :class="(confirmed === true) ? '' : 'inactive'"
            @click="confirmed = true"
          )
            i.icon-sort
          a.e-btn.e-btn--icon(
            :class="(confirmed === false) ? '' : 'inactive'"
            @click="confirmed = false"
          )
            i.icon-close
      td
        i(
          :class="active ? 'icon-up':'icon-down'"
          @click="active = !active"
        )
    tr(
      v-if="active"
    )
      td(colspan="7")
        table
          tr
            th Lote
            th.center Stock inicial
            th.center Vendido
            th.center Devuelto
            th.center Stock Disponible
            th Fecha de venc.
            th Empresa proveedora
            th N° guía de ingreso
            th
          tr(
            v-for="(lote, key) in item.lotes"
          )
            td Lote {{ lote.idLote }}
            td.center {{ lote.cantidadStockDetalle }}
            td.center {{ lote.vendido }}
            td.center {{ lote.regresado }}
            td.center {{ lote.cantidadStockDetalle - lote.vendido }}
            td {{ lote.fecha_vencimiento }}
            td {{ lote.proveedor }}
            td {{ lote.nro_guia }}
            td
              input-text(
                v-if="check && confirmed === false"
                label="Cantidad real"
                type="number"
                rules="required|integer"
                name="cantidad"
                v-model="lote.realcantidad"
              )
      td(colspan="2")
        p Producto por vencer
        p 15 días&nbsp;&nbsp;
          span.e-btn.e-btn--icon.e-btn--rounder.warning
            i.icon-loading
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
    check: {
      required: true,
      type: Boolean
    },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      confirmed: null,
      active: false
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
