<template lang="pug">
  tbody
    tr
      td {{ item.idStock }}
      td {{ getFecha() }}
      td {{ (item.habilitado === 2 ) ? 'PENDIENTE' : item.fechaEntrega }}
      td {{ getProcedencia() }}
      td {{ getEmpleado() }}
      td
        a.e-btn.inforouter-link.e-btn.dark(
          v-if="estado === '2'"
        ) PENDIENTE
        a.e-btn.inforouter-link.e-btn.secondary(
          v-else
        ) EN LOCAL
      td
        i(
          :class="active ? 'icon-up':'icon-down'"
          @click="active = !active"
        )
    tr(
      v-if="active"
    )
      td(colspan="8")
        table
          tr
            th #COD
            th Producto
            th Cantidad
            th(
              v-if="estado === '1'"
            ) Recibido
            th
            th
          tr(
            v-for="(product, key) in item.detalle"
          )
            td {{ product.idProducto }}
            td {{ product.producto }}
            td {{ product.ingreso }}
            td(
              v-if="estado === '1'"
            ) {{ product.cantidad }}
            td(
              v-if="estado === '2'"
            )
              v-select(
                v-model="item.detalle[key].estadoProducto"
                :options="selects.estadosProducto"
                @change="updateCantidad(key)"
              )
            td(
              v-if="estado === '2'"
            )
              input-text(
                v-if="item.detalle[key].estadoProducto === '1'"
                type="number"
                v-model="item.detalle[key].nuevaCantidad"
                @change="updateCantidad(key)"
                name="demo"
              )
          tr(
            v-if="estado === '2'"
          )
            td(colspan="4")
            td
              a.e-btn.e-btn--fullwidth.e-btn.info(
                @click="confirmarCantidad"
              ) CONFIRMAR RECEPCIÓN
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

import Checkbox from '@/components/02-molecule/formElements/checkbox'
import { mapActions, mapState } from 'vuex'
export default {
  components: {
    Checkbox,
    // component
    inputCheckbox: () => import('@/components/02-molecule/formElements/checkbox'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      active: false,
      estado: '2',
      selects: {
        estadosProducto: [
          {
            value: '0',
            name: 'Llegó completo'
          },
          {
            value: '1',
            name: 'Llegó incompleto'
          },
          {
            value: '2',
            name: 'No llegó'
          }
        ],
        estado: [
          {
            value: '1',
            name: 'EN LOCAL'
          },
          {
            value: '2',
            name: 'PENDIENTE'
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_CONFIRM: state => state.Stock.S_CONFIRM
    })
  },
  watch: {},
  created () {
    this.estado = this.item.habilitado + ''
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_CONFIRM_STOCK: 'Stock/A_CONFIRM_STOCK'
    }),
    getFecha () {
      if (this.item.fechaSolicitud) {
        return this.item.fechaSolicitud
      } else {
        return this.item.fecha
      }
    },
    getProcedencia () {
      if (this.item.idSolicitud > 0) {
        return 'Solicitud'
      }
      if (this.item.idTransferencia > 0) {
        return this.item.localOrigen
      }
      return 'Almacén'
    },
    getEmpleado () {
      if (this.item.idEmpleado > 0) {
        return this.item.solicitante
      }
      return '-'
    },
    updateCantidad (index) {
      if (this.item.detalle[index].estadoProducto === '2') {
        this.item.detalle[index].nuevaCantidad = '0'
      }
      if (this.item.detalle[index].estadoProducto === '0') {
        this.item.detalle[index].nuevaCantidad = '' + this.item.detalle[index].cantidad
      }
      console.log('aki: ' + this.item.detalle[index].nuevaCantidad)
    },
    async confirmarCantidad () {
      const productos = []
      this.item.detalle.map(product => {
        let cantidad = product.cantidad
        if (product.nuevaCantidad) {
          cantidad = Number(product.nuevaCantidad)
        }
        productos.push({
          idStockDetalle: product.idStockDetalle,
          cantidad: cantidad
        })
      })
      const params = { idStock: this.item.idStock, productos }
      this.estado = '1'
      this.item.habilitado = 1
      const confirmation = await this.A_CONFIRM_STOCK(params)
      console.log('true', confirmation)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
