$g-primary: #D31A2B;
$g-secondary: #B9B93A;
$g-tertiary: #8A3A8E;
$g-info: #41A6D7;
$g-disabled: #F0F0F0;

$g-text-lighter: #ffffff;
$g-text-light: #aeb8c7;

$g-text-dark: #646464;
$g-text-darker: #222222;

$g-link-color: #3284ef;

$g-light: #ffffff;

$g-body: linear-gradient(to bottom, #040411, #040411 142%);

$g-error: #ef476f;
$g-success: #5bd76f;
$g-warning: #f1c40e;
