<template lang="pug">
  .c-page.c-saleswoman-client-create
    v-title(
      beforePage
      title="Registrar tableros"
    )
    validation-observer.c-page__body(
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    )
      .c-saleswoman-client-create__seccion
        h3 Nuevo tablero regresado / Editar tablero
        .ed-grid.m-grid-8
          .m-cols-2
            input-text(
              v-if="$route.params.id !== '0'"
              label="#COD"
              type="text"
              name="codigo"
              disabled=true
              v-model="data.codigoTablero"
            )
            v-select(
              v-else
              label="#COD"
              v-model="data.idTablero"
              :options="selects.boards"
              @change="getBoard"
            )
          .m-cols-2
            input-text(
              label="Tipo de tablero"
              type="text"
              name="tipoTablero"
              disabled=true
              v-model="data.nombreTipoTablero"
            )
          .m-cols-2
            input-text(
              :label="`Cantidad (${data.cantidadBoard})`"
              type="number"
              :rules="`required|integer|between:1,${data.cantidadBoard}`"
              name="cantidad"
              placeholder="0"
              v-model="data.cantidad"
            )
          .m-cols-2
          .m-cols-2
            v-date(
              label="Fecha de ingreso:"
              format="YYYY-MM-DD"
              @value="updateDateStart"
              disabled=true
              v-model="data.fechaIngreso"
            )
          .m-cols-2
            v-date(
              label="Fecha de producción:"
              format="YYYY-MM-DD"
              @value="updateDateEnd"
              disabled=true
              v-model="data.fechaVencimiento"
            )
          .m-cols-2
            v-date(
              label="Fecha de devolución:"
              format="YYYY-MM-DD"
              @value="updateDateReturned"
              v-model="data.fecha"
            )
        button.e-btn.info(
          v-if="!isLoading"
          @click="handleSubmit(onSubmit)"
        ) REGISTRAR TABLERO
        .e-btn.info.e-btn--loading(
          v-else
        )
          i.icon-loading
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        codigoTablero: 'T' + this.padLeft(this.$route.params.id, 5),
        idTablero: '0',
        nombreTipoTablero: '',
        cantidad: '1',
        fechaIngreso: '',
        fechaVencimiento: '',
        fecha: ''
      },
      selects: {
        boards: [
          {
            name: 'Seleccione tablero',
            value: '0'
          }
        ]
      },
      isLoading: false
    }
  },

  computed: {},

  watch: {},
  async created () {
    const boards = await this.A_GET_BOARDS()
    this.selects.boards = boards.map(el => ({ name: 'T' + this.padLeft(el.idTablero, 5), value: String(el.idTablero) }))
    this.data.idTablero = this.$route.params.id
    if (this.$route.params.id !== '0') {
      this.getBoard(this.$route.params.id)
    }
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_BOARD_RETURNED: 'Board/A_SET_BOARD_RETURNED',
      A_GET_BOARDS: 'Board/A_GET_BOARDS',
      A_GET_BOARD: 'Board/A_GET_BOARD'
    }),
    updateDateStart (e) {
      this.data.fechaIngreso = e
    },
    updateDateEnd (e) {
      this.data.fechaVencimiento = e
    },
    updateDateReturned (e) {
      this.data.fechaDevolucion = e
    },
    padLeft (value, length) {
      return (value.toString().length < length)
        ? this.padLeft('0' + value, length)
        : value
    },
    async getBoard (idTablero) {
      const board = await this.A_GET_BOARD(idTablero)
      this.data.nombreTipoTablero = board.nombreTipoTablero
      this.data.cantidadBoard = String(board.cantidad)
      this.data.fechaIngreso = board.fecha_ingreso
      this.data.fechaVencimiento = board.fecha_vencimiento
    },
    async onSubmit () {
      this.isLoading = true
      try {
        await this.A_SET_BOARD_RETURNED(this.data)
        this.isLoading = false
        this.$router.push({ name: 'BoardReturnedPage' })
      } catch (error) {
        console.error('LOADING RETURNED BOARD', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
