<template lang="pug">
  .c-page.c-category
    v-title(
      title="Tablero regresados"
      subtitle="(200 de 1000 tableros)"
    )
      a.e-btn(
        v-if="!isLoadingExcel"
        href="https://apidona.globoazul.pe/index.php/api/tablero/exportPdfDevuelto"
        target="_blank"
      )
        i.icon-printer
        | Pdf
      a.e-btn.secondary(
        v-if="!isLoadingExcel"
        href="https://apidona.globoazul.pe/index.php/api/tablero/reporteExcelDevueltos?tablero=devuelto"
        target="_blank"
      )
        i.icon-excel_ico
        | Excel
      .e-btn.secondary.e-btn--loading(
        v-else
      )
        i.icon-loading
      router-link.e-btn.info(
        :to="{ name: 'BoardReturnedCreatePage', params: { id: '0' } }"
      ) REGRESAR TABLERO
    .c-page__filters
      v-select(
        label="Tipo de tablero"
        inputStyle="row"
        v-model="currentFilters.type"
        :options="filters.types"
      )
      v-date(
        label="Fecha de ingreso:"
        inputStyle="row"
        format="YYYY-MM-DD"
        @value="updateDateStart"
        v-model="currentFilters.dateStart"
      )
      v-date(
        label="Fecha de producción:"
        inputStyle="row"
        format="YYYY-MM-DD"
        @value="updateDateEnd"
        v-model="currentFilters.dateEnd"
      )
      v-date(
        label="Fecha de devolución:"
        inputStyle="row"
        format="YYYY-MM-DD"
        @value="returnDateEnd"
        v-model="currentFilters.dateReturn"
      )
    .c-page__body
      table-returned(
        :items="S_BOARDS"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableReturned: () => import('@/components/03-organism/tableReturned/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        dateStart: '',
        dateEnd: '',
        dateReturn: '',
        type: '0'
      },
      filters: {
        types: [
          {
            name: 'Tradicional',
            value: '0'
          }
        ]
      },
      isLoadingExcel: false
    }
  },

  computed: {
    ...mapState({
      S_BOARDS: state => state.Board.S_BOARDS
    })
  },

  watch: {},
  created () {
    this.A_GET_BOARD_RETURNED()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_BOARD_RETURNED: 'Board/A_GET_BOARD_RETURNED'
    }),
    updateDateStart (e) {
      this.currentFilters.dateStart = e
    },
    updateDateEnd (e) {
      this.currentFilters.dateEnd = e
    },
    returnDateEnd (e) {
      this.currentFilters.dateReturn = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
