<template lang="pug">
  .c-page.c-category
    v-title(
      title="CONFORMIDAD"
    )
      a.e-btn.secondary(
        :href="`https://apidona.globoazul.pe/index.php/api/`"
        target="_blank"
      )
        i.icon-excel_ico
        | Excel

    .c-page__filters
      v-select(
        label="Local"
        inputStyle="row"
        v-model="currentFilters.local"
        :options="filters.locales"
      )
    .c-page__body
      table-confirm(
        :items="confirms"
      )
    .c-page__footer
      v-pagination
</template>

<script>
// import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableConfirm: () => import('@/components/03-organism/tableConfirm/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        local: '0'
      },
      filters: {
        locales: [
          {
            name: 'Peppa pig',
            value: '0'
          }
        ]
      },
      confirms: [
        {
          id: 1,
          codigo: 'ABC500',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana',
          productos: [
            {
              codigo: 'PROD1',
              categoria: 'Lorem ipsum',
              tipoProducto: 'Lorem ipsum',
              presentacion: 'Lorem ipsum',
              cantidad: '25',
              faltante: '0',
              state: '1'
            },
            {
              codigo: 'PROD2',
              categoria: 'Lorem ipsum',
              tipoProducto: 'Lorem ipsum',
              presentacion: 'Lorem ipsum',
              cantidad: '25',
              faltante: '5',
              state: '2'
            },
            {
              codigo: 'PROD3',
              categoria: 'Lorem ipsum',
              tipoProducto: 'Lorem ipsum',
              presentacion: 'Lorem ipsum',
              cantidad: '25',
              faltante: '0',
              state: '3'
            }
          ]
        },
        {
          id: 2,
          codigo: 'ABC499',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana'
        },
        {
          id: 3,
          codigo: 'ABC498',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana'
        },
        {
          id: 4,
          codigo: 'ABC498',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana'
        },
        {
          id: 5,
          codigo: 'ABC498',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana'
        }
      ]
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    updateDateVencimiento (e) {
      this.currentFilters.dateVencimiento = e
    },
    updateDateCut (e) {
      this.currentFilters.dateCut = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
