<template lang="pug">
  .c-page.c-saleswoman-client-create
    v-title(
      title="Reporte de conformidad de local"
    )
    validation-observer.c-page__body(
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    )
      .c-saleswoman-client-create__seccion
        .ed-grid.m-grid-12(
          v-for="(product, key) in products"
        )
          .m-cols-1
            input-text(
              label="#COD"
              type="text"
              disabled=true
              v-model="product.codigo"
            )
          .m-cols-2
            v-select(
              label="Categoría"
              v-model="product.categoria"
              :options="selects.categorias"
            )
          .m-cols-2
            v-select(
              label="Tipo de producto"
              v-model="product.tipoProducto"
              :options="selects.tiposProducto"
            )
          .m-cols-2
            v-select(
              label="Presentación"
              v-model="product.presentacion"
              :options="selects.presentaciones"
            )
          .m-cols-1
            input-text(
              label="Cantidad"
              type="text"
              name="tipoProducto"
              v-model="product.tipoProducto"
            )
          .m-cols-3
            br
            button.e-btn.secondary.e-btn--fullwidth(
              v-if="product.state === '1'"
            ) LLEGÓ COMPLETO
            button.e-btn.tertiary.e-btn--fullwidth(
              v-if="product.state === '2'"
            ) LLEGÓ INCOMPLETO
            button.e-btn.e-btn--fullwidth(
              v-if="product.state === '3'"
            ) NO LLEGÓ
          .m-cols-1
            br
            input-text(
              v-if="product.state === '2'"
              type="text"
              name="faltante"
              disabled=true
              v-model="product.faltante"
            )
      .m-cols-10
        button.e-btn.info.e-btn--fullwidth(
          v-if="!isLoadingAuth"
          @click="handleSubmit(onSubmit)"
        ) DAR CONFORMIDAD
        .e-btn.e-btn--fullwidth.e-btn--loading(
          v-else
        )
          i.icon-loading
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      selects: {
        categorias: [
          {
            name: '',
            value: '0'
          }
        ],
        tiposProducto: [
          {
            name: '',
            value: '0'
          }
        ],
        presentaciones: [
          {
            name: 'Lorem ipsum',
            value: '0'
          }
        ]
      },
      options: {
        disscount: [
          {
            name: 'Con descuento',
            value: '1'
          },
          {
            name: 'Sin descuento',
            value: '0'
          }
        ]
      },
      products: [
        {
          codigo: 'PROD1',
          categoria: '0',
          tipoProducto: '0',
          presentacion: '0',
          cantidad: '',
          faltante: '0',
          state: '1'
        },
        {
          codigo: 'PROD2',
          categoria: '0',
          tipoProducto: '0',
          presentacion: '0',
          cantidad: '',
          faltante: '15',
          state: '2'
        },
        {
          codigo: 'PROD3',
          categoria: '0',
          tipoProducto: '0',
          presentacion: '0',
          cantidad: '',
          faltante: '0',
          state: '3'
        }
      ],
      isLoadingAuth: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
