.c-anulation {
  .ed-grid {
    width: 100%;
    margin: 0;
  }
  p {
    font-weight: 300;
  }
  &__header, &__body, &__footer {
    padding: 2rem 3rem;
  }
  &__header {
    background-color: #F0F0F0;

    h3 {
      color: $g-text-darker;
      font-weight: 500;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: .5rem;
    }
    img {
      display: block;
      margin-left: auto;
    }
    h4 {
      margin-top: 2rem;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
  &__body {
    h3 {
      font-weight: 500;
      color: $g-text-darker;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: .5rem;
    }
  }
  &__table {
    thead {
      tr {
        &:hover {
          background-color: #F0F0F0;
        }
      }
    }
    tfoot {
      border-top: 1px solid lighten($g-text-dark, 45);
      border-bottom: 1px solid lighten($g-text-dark, 45);
      tr {
        &:hover {
          background-color: transparent;
        }
        td:not(:last-child) {
          color: $g-text-darker;
          font-weight: 400;
        }
        &.last {
          font-size: 1.7rem;
          border-top: 1px solid lighten($g-text-dark, 45);
          
          td {
            padding-top: 2rem;
            padding-bottom: 2rem;
            font-weight: 600;
          }
        }
      }
    }
  }
  &__footer {
    text-align: center;
  }
  &-delete {
    text-align: center;
    font-weight: 300;

    h3 {
      font-size: 2rem;
      font-weight: 500;
      color: $g-text-darker;
      margin-bottom: 2rem;
    }
    > span {
      display: block;
      font-size: 2rem;
      font-weight: 600;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
    .e-btn {
      margin-top: 1rem;
    }
    label {
      align-items: center;
    }
  }
}