.c-assignation {
  h3 {
    color: $g-text-darker;
    font-weight: 400;
  }
  &__sellers, &__create, &__store {
    padding: 3rem 0;
    border-top: 1px solid rgba(#707070, .2);
  }
  &__sellers {
    @include from(lg) {
      table {
        width: 50%;
      }
    }
  }
  &__create {
    .form {
      display: flex;
      flex-direction: column;

      @include from(lg) {
        flex-direction: row;
      }

      > div:first-child {
        width: 100%;
        margin-bottom: 1rem;

        @include from(lg) {
          width: 20rem;
          margin-right: 1rem;
          margin-bottom: 0;
        }
      }
    }
  }
  &__store {
    .tags {
      padding: 2rem 0;
    }
    ul {
      padding-left: 0;
      list-style: none;

      li {
        padding: .5rem;
        border-top: 1px solid rgba(#707070, .2);

        &:last-child {
          border-bottom: 1px solid rgba(#707070, .2);
        }
      }
    }
  }
}