.c-campaign {
  &__store {
    .tags {
      padding: 2rem 0;
    }
    ul {
      padding-left: 0;
      list-style: none;

      li {
        padding: .5rem;
        border-top: 1px solid rgba(#707070, .2);

        &:last-child {
          border-bottom: 1px solid rgba(#707070, .2);
        }
      }
    }
  }
  &__table, &__footer {
    padding: 3rem 0 2rem;
    border-top: 1px solid rgba(#707070, .2);
  }
  &__footer {
    padding-top: 2rem;
    p {
      font-size: 1.2rem;
      font-weight: 600;

      span {
        font-weight: 300;
        margin-left: 1rem;
      }
    }
  }
}