.c-login-form {
  background-color: #FAFAFA;
  padding: 1.5rem 1.5rem 1rem;
  border-radius: .25rem;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  
  .e-btn {
    margin: 1.5rem 0;
  }
  &__link {
    text-align: center;

    a {
      cursor: pointer;
    }
  }
  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: $g-text-darker;
    margin-top: 1rem;
  }
}
