.c-modal {
  .vm--modal {
    padding: 1rem;
    border-radius: 4px;
    background-color: #FAFAFA;

    @include from(m) {
      padding: 2rem 4rem;
    }
    @include from(lg) {
      padding: 4rem 6rem;
    }
  }
  &--form {
    .vm--modal {
      @include from(lg) {
        padding: 4rem 4rem;
      }
    } 
  }
  &--report {
    .vm--modal {
      padding: 0;
    }
  }
}
