.c-layout-dashboard__navbar {
  width: 50px;
  
  &> i {
    position: fixed;
    z-index: 101;
    cursor: pointer;
    font-size: 1.5rem;
    left: 190px;
    top: 1.5rem;
  }
  &.active {
    width: 230px;
    .c-navbar{
      width: 230px;
    }
    .item-title{
      display: inline;
    }
  }
  &:not(.active) {
    &> i {
      display: none;
    }
    width: 50px;
    .c-navbar{
      width: 50px;
      &> a:nth-child(1) {
        img {
          display: none;
        }
      }
    }
    .item-title{
      display: inline;
    }
    .content-icon p {
      color: transparent;
    }
    .c-navbar__sublist a {
      color: transparent;
    }

  }
  .c-navbar {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  
    &> a:nth-child(1) {
      height: 5rem;
      background-color: white;
      padding: .5rem;
    }
    ul {
      margin-bottom: 0;
      list-style: none;
    }
    a, span {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 300;
      display: block;
    }
    
    &__list {
      padding-left: 0;
  
      a, span {
        padding: .8rem 1rem;
        position: relative;
        cursor: pointer;
  
        &:before {
          content:'';
          display: block;
          position: absolute;
          width: .15rem;
          height: 100%;
          top: 0;
          left: 0;
          background-color: transparent;
          transition: all .3s;
        }
      }
      > li {
        > a.is-active, > span.is-active {
          background-color: lighten($g-primary, 3);
          &:before {
            background-color: white;
          }
          + .c-navbar__sublist {
            display: block;
          }
        }
      } 
    }
    &__sublist {
      display: none;
      padding: 0;
  
      li {
  
        a {
          padding-left: 3rem;
        }
      }
  
      .is-active {
        font-weight: 500;
        background-color: darkred;
        padding-left: 2rem;
      }
    }
    &__footer {
      margin-top: auto;
    }
    
    i{
      padding-right: 5px;
      font-size: large;
    }
    .logo
    {
      width: 60%;
    }
    .content-icon{
      padding-left:16px;    
    }
  
  }
}

.c-layout-dashboard__navbar:not(.active):hover {
  width: 230px !important;
  &> i {
    display: block;
    transition: display .3s all;
  }
  .c-navbar{
    width: 230px !important;
    &> a:nth-child(1) {
      img {
        display: block;
      }
    }
  }
  .item-title{
    display: inline;
  }
  .is-active {
    width: 100%;
  }
  .content-icon p {
    color: white;
  }
  .c-navbar__sublist a {
    color: white;
  }
}
