.c-pagination {
  align-items: center;

  > span {
    margin-right: 1rem;
  }
  &__navigate {
    display: flex;

    i {
      background-color: #E5E5E5;
      border-radius: 3px;
      display: flex;
      align-items: center;
      padding: 0 .7rem;
      cursor: pointer;
      
      &:before {
        transform: translateY(1px);
      }
    }
    i, .current {
      height: 30px;
    }
    .current {
      border-radius: 3px;
      border: 1px solid #DEDEDE;
      padding: 0 1rem;
      margin: 0 .5rem;
      display: flex;
      align-items: center;
    }
  }
}