.c-page {
  padding: 1rem;

  &__filters {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    
    > div {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
    .e-search {
      input {
        min-width: 20rem;
      }
    }
    .mx-datepicker {
      max-width: 10rem;
    }
    &--multiple {
      flex-direction: column;
      
      > div {
        margin-right: 0;
      }

      &-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        
        > div {
          margin-right: 1rem;
          
          &:last-child {
            margin-right: 0;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        &.start {
          > div:last-child {
            margin-left: 0;
          }
        }
      }
    }
    p {
      margin-bottom: 0;
      display: flex;
      align-items: center;

      a {
        margin-left: 2rem;
      }
    }
    &.regular {
      .e-search {
        input {
          min-width: auto;
        }
      }
    }
  }
  &__tabs {
    ul {
      padding-left: 0;
      list-style: none;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      margin-bottom: 0;

      li {
        color: lighten($g-text-dark, 25);
        padding: .5rem 1rem;
        box-shadow:  0 -1px 0 0 transparent,
                    0 1px 0 0 transparent inset;
        cursor: pointer;
        transition: all .3s;

        &.active {
          color: white;
          background-color: $g-primary;
        }
      }
    }
  }
  &__report {
    h3 {
      color: $g-text-darker;
      font-weight: 400;
      padding-bottom: .5rem;
      border-bottom: 1px solid lighten($g-text-dark, 40);
    }
    ul {
      padding-left: 0;
      list-style: none;
      display: flex;
      margin-top: 1.5rem;
      margin-bottom: 0;

      li {
        width: 33.333%;

        p {
          font-weight: 300;
        }
        span {
          font-weight: 600;
          font-size: 1.5rem;
          color: lighten($g-text-dark, 25);
        }
        &.price {
          span {
            color: $g-text-dark;
          }
        }
      }
    }
  }
  &__footer {
    padding: 4rem 0 2rem;
    display: flex;
    justify-content: flex-end;
  }
}