.c-sale-select {
  text-align: center;
  font-weight: 300;

  p {
    font-weight: 300;
    margin-bottom: 4rem;
  }
  h3 {
    font-size: 2rem;
    font-weight: 500;
    color: $g-text-darker;
    margin-bottom: 2rem;
  }
  > span {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .e-btn {
    margin-top: 1rem;
  }
  ul {
    text-align: left;
  }
}