.c-saleswoman {
  &-client {
    &-create {
      &__seccion {
        padding: 4rem 0;
        border-bottom: 1px solid lighten(#707070, 45);
        
        h3 {
          color: $g-text-dark;
          font-size: 1.5rem;
          font-weight: 300;
          margin-bottom: 2rem;
        }
        .ed-grid {
          > div {
            margin: 1rem 0;
          }
        }
      }
    }
  }
}