.c-sale {
  font-weight: 300;

  .ed-grid {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }

  &__info {
    p {
      font-size: 1.2rem;
      padding-top: 1rem;
    }
    span {
      display: block;
    }
  }
  &__code {
    background-color: white;
    text-align: center;
    padding: 2rem 1rem;

    p {
      margin: .5rem 0;
      font-size: 1.2rem;
    }
  }
  &__gift {
    margin-top: 2rem;
    border-top: 1px solid lighten(#b0b0b0, 20);

    h3 {
      font-weight: 300;
      font-size: 1.3rem;
      margin: 1.5rem 0;
    }
    &__text {
      display: inline-block;
      margin-top: .5rem;
      margin-left: 1rem;
    }
    p {
      display: inline-block;
      margin-top: 2.5rem;
      margin-bottom: 0;
    }
  }
  &__client {
    margin-top: 2rem;
    border-top: 1px solid lighten(#b0b0b0, 20);

    h3 {
      font-weight: 300;
      font-size: 1.3rem;
      margin: 0 0 1.5rem;
    }
  }
  &-footer {
    background-color: #F0F0F0;
    padding: 2rem;
    text-align: right;

    .ed-grid {
      margin: 0;
    }
    p {
      margin: .3rem 0;
      color: $g-text-darker;
      font-weight: 500;
    }
    &__separator {
      border-top: 1px solid lighten(#b0b0b0, 20);
      display: block;
      margin: 1rem 0;
    }
    .total {
      font-size: 1.5rem;
      color: $g-text-darker;
      font-weight: 500;
    }
  }
  .small {
    max-width: 90px;
  }
  .center {
    .e-input {
      margin: 0 auto;
    }
  }
}