.c-script {
  font-weight: 300;
  line-height: 1.7;

  h2, h3, span {
    text-align: center;
    display: block;
  }
  h2 {
    color: $g-text-darker;
    font-weight: 500;
  }
  h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  ol {
    list-style-type: lower-alpha;
    padding-left: 1.2rem;
  }
  span {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
}