.c-store {
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem 0;

  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 1.5rem;
    list-style: none;

    li {
      border-bottom: 1px solid rgba(#707070, .2);
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
  h3 {
    font-weight: 400;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
  p {
    font-weight: 400;
  }
  &__contact {
    width: 30%;
  }
  &__diary {
    width: 70%;
    
    span {
      display: block;
      line-height: 1.8;
    }
  }
  .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}