.c-title {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  border-bottom: 1px solid lighten(#707070, 25);

  h3 {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: $g-text-darker;
  }
  span {
    font-weight: 300;
    margin-left: .5rem;
    margin-bottom: .2rem;
  }
  > i {
    color: $g-text-darker;
    margin-right: 1rem;
    transform:translateY(-2px);
    cursor: pointer;
  }
  &__options {
    margin-left: auto;
    
    .e-btn {
      margin-left: .5rem;
    }
  }
}
.c-title.c-titlex {
  .c-title__options {
    display: flex !important;
  }
}