<template lang="pug">
  .c-page.c-category
    v-title(
      title="Mantenimiento / Categoría"
    )
    .c-page__filters
      v-search(
        type="search"
        label="Buscar"
        inputStyle="row"
        name="search"
        @change="search"
        v-model="currentFilters.search"
      )
      a.e-btn.info(
        @click="$modal.show('category-create')"
      ) + AGREGAR CATEGORÍA
    .c-page__body
      table-category(
        :items="S_CATEGORIES"
      )
    .c-page__footer
      v-pagination
    modal(
      name="category-create"
      :width="550"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      category-create(
        @success="closeModal"
      )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableCategory: () => import('@/components/03-organism/tableCategory/default'),
    categoryCreate: () => import('@/components/02-molecule/category/create'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        search: '',
        categories: '0',
        brands: ''
      },
      filters: {
        categories: [
          {
            name: 'opcion 1',
            value: '0'
          },
          {
            name: 'opcion 2',
            value: '1'
          },
          {
            name: 'opcion 3',
            value: '2'
          }
        ],
        brands: [
          {
            name: 'Doña Pepa',
            value: 'Doña Pepa'
          },
          {
            name: 'San Roque, Lambayecano',
            value: 'San Roque, Lambayecano'
          },
          {
            name: 'Ibérica y otros',
            value: 'Ibérica y otros'
          },
          {
            name: 'Otros',
            value: 'Otros'
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_CATEGORIES: state => state.Category.S_CATEGORIES
    })
  },

  watch: {},
  created () {
    this.A_GET_CATEGORIES()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CATEGORIES: 'Category/A_GET_CATEGORIES'
    }),
    search () {
      this.A_GET_CATEGORIES({
        search: this.currentFilters.search,
        marca: this.currentFilters.brands
      })
    },
    closeModal (e) {
      console.log(e)
      if (e) {
        this.$modal.hide('category-create')
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
