<template lang="pug">
  .c-page.c-category
    v-title(
      beforePage
      title="Inventario / Transferencia"
    )
    .c-page__body
      table-stocktaking
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    tableStocktaking: () => import('@/components/03-organism/tableStocktakingTransfer/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      selects: {
        locales: [
          {
            name: 'Pepa grande',
            value: '0'
          }
        ]
      },
      currentFilters: {
        search: '',
        dateVencimiento: '',
        dateCut: '',
        local: '0',
        typeProduct: '0',
        producto: '0',
        presentacion: '0'
      },
      filters: {
        locales: [
          {
            name: 'Peppa Pig',
            value: '0'
          }
        ],
        typesProduct: [
          {
            name: 'Interno',
            value: '0'
          }
        ],
        productos: [
          {
            name: 'Lorem ipsum',
            value: '0'
          }
        ],
        presentaciones: [
          {
            name: 'Lorem ipsum',
            value: '0'
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_TRANSFERS: state => state.Transfer.S_TRANSFERS
    })
  },

  watch: {},
  created () {
    this.A_GET_TRANSFERS({ idLocalOrigen: this.$cookies.get('AUTH_DATA').local.idLocal })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_TRANSFERS: 'Transfer/A_GET_TRANSFERS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
