<template lang="pug">
  validation-observer(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  ).o-form.ed-grid.m-grid-2
    h3.o-form__title.m-cols-2 Agregar empleado
    .input-group.m-cols-2
      input-text(
        label="Nombres"
        type="text"
        rules="required|alpha_spaces"
        name="name"
        v-model="data.nombres"
      )
    .input-group.m-cols-1
      input-text(
        label="Apellido paterno"
        type="text"
        rules="required|alpha"
        name="lastnameFather"
        v-model="data.apellidoPaterno"
      )
    .input-group.m-cols-1
      input-text(
        label="Apellido materno"
        type="text"
        rules="required|alpha"
        name="lastnameMother"
        v-model="data.apellidoMaterno"
      )
    .input-group.m-cols-1
      v-select(
        v-model="data.tipoDocumento"
        label="Documento de identidad"
        :options="options.document"
      )
    .input-group.m-cols-1
      input-text(
        label="Número de documento"
        type="number"
        rules="required|integer|digits:8"
        name="mothersurname"
        v-model="data.numeroDocumento"
      )
    .input-group.m-cols-1
      input-text(
        label="Num. de carnet de sanidad"
        type="text"
        name="license"
        v-model="data.license"
      )
    .input-group.m-cols-1
      v-date(
        label="Cumpleaños"
        format="YYYY-MM-DD"
        @value="updateDateStart"
        v-model="data.fechaNacimiento"
      )
    .input-group.m-cols-1
      input-text(
        label="Celular"
        type="number"
        rules="required|integer"
        name="phone"
        v-model="data.celular"
      )
    .input-group.m-cols-1
      input-text(
        label="Correo electrónico"
        type="email"
        rules="email"
        name="email"
        v-model="data.email"
      )
    .input-group.m-cols-1
      v-select(
        label="Departamento"
        v-model="data.department"
        :options="G_DEPARTMENTS"
        rules="required"
        @change="provinceList"
      )
    .input-group.m-cols-1
      v-select(
        label="Provincia"
        v-model="data.provincia"
        :options="G_PROVINCES"
        rules="required"
        @change="districtList"
      )
    .input-group.m-cols-2
      v-select(
        label="Distrito"
        v-model="data.distrito"
        :options="G_DISTRICTS"
        rules="required"
      )
    .input-group.m-cols-2
      input-text(
        label="Dirección"
        name="address"
        v-model="data.direccion"
      )
    .input-group.m-cols-2
      input-text(
        label="Interés 1"
        name="interest1"
        v-model="data.interest[0]"
      )
    .input-group.m-cols-2
      input-text(
        label="Interés 2"
        name="interest2"
        v-model="data.interest[1]"
      )
    .input-group.m-cols-2
      input-text(
        label="Interés 3"
        name="interest3"
        v-model="data.interest[2]"
      )
    .input-group.m-cols-1
      v-radio(
        label="¿Realiza deporte?"
        v-model="data.sportsType"
        :options="options.sports"
        name="radio-sports"
        inputStyle="row"
      )
    .input-group.m-cols-1
      input-text(
        v-if="data.sportsType === '1'"
        label="¿Qué deporte?"
        type="text"
        name="sport"
        v-model="data.sports"
      )
    .input-group.m-cols-1
      v-select(
        label="Estado civil"
        v-model="data.civilStatus"
        :options="options.civilStatus"
      )
    .input-group.m-cols-1
      input-text(
        label="Hijos"
        name="sons"
        type="number"
        v-model="data.sons"
        rules="integer"
      )
    .input-group.m-cols-2
      v-select(
        label="Cargo"
        v-model="data.idCargo"
        :options="G_POSITIONS"
      )
    button.e-btn.e-btn--fullwidth.o-form__footer.m-cols-2(
      v-if="!isLoading"
      @click="handleSubmit(onSubmit)"
    ) AGREGAR
    .e-btn.e-btn--fullwidth.e-btn--loading.o-form__footer.m-cols-2(
      v-else
    )
      i.icon-loading
    p.m-cols-2.m-center {{ message }}
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/default'),
    textArea: () => import('@/components/02-molecule/formElements/area'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    vRadio: () => import('@/components/02-molecule/formElements/radio'),
    vDate: () => import('@/components/02-molecule/formElements/date')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        nombres: '',
        apellidoMaterno: '',
        apellidoPaterno: '',
        tipoDocumento: '1',
        numeroDocumento: null,
        license: null,
        fechaNacimiento: '',
        celular: null,
        email: '',
        department: '',
        provincia: '',
        distrito: '',
        direccion: '',
        telefono: '1212312312',
        interest: [
          '',
          '',
          ''
        ],
        sportsType: '',
        sports: '',
        civilStatus: '0',
        sons: '',
        idCargo: ''
      },
      options: {
        sports: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ],
        document: [
          {
            name: 'DNI',
            value: '1'
          },
          {
            name: 'PTP',
            value: '2'
          }
        ],
        province: [{
          name: 'Seleccionar',
          value: '0'
        }],
        distrito: [{
          name: 'Seleccionar',
          value: '0'
        }],
        civilStatus: [
          {
            name: 'Soltero',
            value: '0'
          },
          {
            name: 'Casado',
            value: '1'
          }
        ]
      },
      message: '',
      isLoading: false,
      current: 0
    }
  },

  computed: {
    ...mapGetters({
      G_POSITIONS: 'Position/G_POSITIONS',
      G_DEPARTMENTS: 'Department/G_DEPARTMENTS',
      G_PROVINCES: 'Province/G_PROVINCES',
      G_DISTRICTS: 'District/G_DISTRICTS'
    }),
    ...mapState({
      S_PROVINCES: state => state.Province.S_PROVINCES,
      S_DISTRICTS: state => state.District.S_DISTRICTS
    })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_EMPLOYEE: 'Employee/A_SET_EMPLOYEE',
      A_GET_PROVINCES: 'Province/A_GET_PROVINCES',
      A_GET_DISTRICTS: 'District/A_GET_DISTRICTS'
    }),
    async provinceList (id) {
      const res = await this.A_GET_PROVINCES(id)
      this.data.province = res[0].idProvincia + ''
      this.options.province = []
      res.map(item => {
        this.options.province.push({
          name: item.nombre,
          value: item.idProvincia + ''
        })
      })
    },
    async districtList (id) {
      const res = await this.A_GET_DISTRICTS(id)
      this.data.distrito = res[0].idDistrito + ''
      this.options.distrito = []
      res.map(item => {
        this.options.distrito.push({
          name: item.nombre,
          value: item.idDistrito + ''
        })
      })
    },
    async onSubmit () {
      this.isLoading = true
      try {
        const data = await this.A_SET_EMPLOYEE({ empleado: this.data })
        if (data.status) {
          this.isLoading = false
          this.$emit('success', true)
        } else {
          this.message = data.message
          this.isLoading = false
        }
      } catch (error) {
        console.error('LOADING CREATE EMPLOYEE', error)
      }
    },
    updateDateStart (e) {
      this.data.fechaNacimiento = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
