<template lang="pug">
  validation-observer(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  ).o-form.ed-grid.m-grid-6
    h3.o-form__title.m-cols-6 Editar empleado
    .input-group.m-cols-6
      input-text(
        label="Nombres"
        type="text"
        rules="required|alpha_spaces"
        name="name"
        v-model="data.nombres"
      )
    .input-group.m-cols-3
      input-text(
        label="Apellido paterno"
        type="text"
        rules="required|alpha_spaces"
        name="lastname"
        v-model="data.apellidoPaterno"
      )
    .input-group.m-cols-3
      input-text(
        label="Apellido materno"
        type="text"
        rules="required|alpha_spaces"
        name="mothersurname"
        v-model="data.apellidoMaterno"
      )
    .input-group.m-cols-3
      v-select(
        v-model="data.tipoDocumento"
        label="Documento de identidad"
        :options="options.document"
        :selected="data.tipoDocumento"
      )
    .input-group.m-cols-3
      input-text(
        label="Número de documento"
        type="number"
        rules="required|integer|digits:8"
        name="mothersurname"
        v-model="data.numeroDocumento"
      )
    .input-group.m-cols-3
      input-text(
        label="Num. de carnet de sanidad"
        type="text"
        name="license"
        v-model="data.license"
      )
    .input-group.m-cols-3
      v-date(
        label="Cumpleaños"
        format="YYYY-MM-DD"
        @value="updateDateStart"
        v-model="data.fechaNacimiento"
      )
    .input-group.m-cols-3
      input-text(
        label="Celular"
        type="number"
        rules="required|integer"
        name="phone"
        v-model="data.celular"
      )
    .input-group.m-cols-3
      input-text(
        label="Correo electrónico"
        type="email"
        rules="email"
        name="email"
        v-model="data.email"
      )
    .input-group.m-cols-3
      v-select(
        v-if="G_DEPARTMENTS.length > 0"
        label="Departamento"
        v-model="data.idDepartamento"
        :options="G_DEPARTMENTS"
        @change="provinceList"
        :selected="data.idDepartamento"
        rules="required"
      )
    .input-group.m-cols-3
      v-select(
        v-if="options.provinces.length > 0"
        label="Provincia"
        v-model="data.idProvincia"
        :options="options.provinces"
        @change="districtList"
        :selected="data.idProvincia"
        rules="required"
      )
    .input-group.m-cols-6
      v-select(
        v-if="options.districts.length > 0"
        label="Distrito"
        v-model="data.idDistrito"
        :options="options.districts"
        :selected="data.idDistrito"
        rules="required"
      )
    .input-group.m-cols-6
      input-text(
        label="Dirección"
        name="address"
        v-model="data.direccion"
      )
    .input-group.m-cols-6
      input-text(
        label="Interés 1"
        name="address"
        v-model="data.interest[0]"
      )
    .input-group.m-cols-6
      input-text(
        label="Interés 2"
        name="address"
        v-model="data.interest[1]"
      )
    .input-group.m-cols-6
      input-text(
        label="Interés 3"
        name="address"
        v-model="data.interest[2]"
      )
    .input-group.m-cols-3
      v-radio(
        label="¿Realiza deporte?"
        v-model="data.sportsType"
        :options="options.sports"
        name="radio-sports"
        inputStyle="row"
      )
    .input-group.m-cols-3
      input-text(
        v-if="data.sportsType === '1'"
        label="¿Qué deporte?"
        type="text"
        name="sport"
        v-model="data.sports"
      )
    .input-group.m-cols-3
      v-select(
        label="Estado civil"
        v-model="data.civilStatus"
        :options="options.civilStatus"
        :selected="data.civilStatus"
      )
    .input-group.m-cols-3
      input-text(
        label="Hijos"
        name="sons"
        type="number"
        v-model="data.sons"
        rules="integer"
      )
    .input-group.m-cols-6
      v-select(
        label="Cargo"
        v-model="data.idCargo"
        :options="G_POSITIONS"
        :selected="data.idCargo"
      )
    button.e-btn.e-btn--fullwidth.o-form__footer.m-cols-6(
      v-if="!isLoading"
      @click="handleSubmit(onSubmit)"
    ) ACTUALIZAR
    .e-btn.e-btn--fullwidth.e-btn--loading.o-form__footer.m-cols-6(
      v-else
    )
      i.icon-loading
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/default'),
    textArea: () => import('@/components/02-molecule/formElements/area'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    vRadio: () => import('@/components/02-molecule/formElements/radio'),
    vDate: () => import('@/components/02-molecule/formElements/date')
  },
  props: {
    // propierty: { required: false, type: String },
    employee: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: {
        idEmpleado: null,
        nombres: '',
        apellidoPaterno: '',
        apellidoMaterno: '',
        tipoDocumento: '',
        numeroDocumento: null,
        license: null,
        fechaNacimiento: '',
        celular: null,
        email: '',
        departamento: '',
        provincia: '',
        direccion: '',
        interest: [
          '',
          '',
          ''
        ],
        sportsType: '',
        sports: '',
        civilStatus: '',
        sons: '',
        idCargo: '',
        distrito: null,
        foto: null,
        habilitado: null,
        telefono: null,
        usuario: null,
        idDepartamento: '',
        idDistrito: '',
        idProvincia: ''
      },
      options: {
        sports: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ],
        document: [
          {
            name: 'DNI',
            value: '1'
          },
          {
            name: 'PTP',
            value: '2'
          },
          {
            name: 'OTRO',
            value: '3'
          }
        ],
        provinces: [],
        districts: [],
        civilStatus: [
          {
            name: 'Soltero',
            value: '0'
          },
          {
            name: 'Casado',
            value: '1'
          }
        ]
      },
      isLoading: false
    }
  },

  computed: {
    ...mapGetters({
      G_POSITIONS: 'Position/G_POSITIONS',
      G_DEPARTMENTS: 'Department/G_DEPARTMENTS'
    })
  },

  watch: {},
  async created () {
    this.data.idDepartamento = this.isExist(this.employee.idDepartamento) ? String(this.employee.idDepartamento) : '1'
    await this.provinceList()
    this.data.idEmpleado = this.employee.idEmpleado
    this.data.apellidoMaterno = this.employee.apellidoMaterno
    this.data.apellidoPaterno = this.employee.apellidoPaterno
    this.data.celular = this.employee.celular
    this.data.departamento = this.employee.departamento
    this.data.direccion = this.employee.direccion
    this.data.distrito = this.employee.distrito
    this.data.fechaNacimiento = this.employee.fechaNacimiento
    this.data.foto = this.employee.foto
    this.data.habilitado = this.employee.habilitado
    this.data.idCargo = String(this.employee.idCargo)
    this.data.nombres = this.employee.nombres
    this.data.numeroDocumento = this.employee.numeroDocumento
    this.data.provincia = this.employee.provincia
    this.data.telefono = this.employee.telefono
    this.data.tipoDocumento = String(this.employee.tipoDocumento)
    this.data.usuario = this.employee.usuario
    this.data.license = isNaN(this.employee.carnetSanidad) ? String(this.employee.carnetSanidad) : ''
    this.data.email = this.employee.email
    this.data.interest[0] = this.employee.interes1
    this.data.interest[1] = this.employee.interes2
    this.data.interest[2] = this.employee.interes3
    this.data.sportsType = String(this.employee.tipoDeporte)
    this.data.sports = String(this.employee.deporte)
    this.data.civilStatus = String(this.employee.estadoCivil)
    this.data.sons = String(this.employee.hijos)
    this.data.idDistrito = String(this.employee.idDistrito)
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_UPDATE_EMPLOYEE: 'Employee/A_UPDATE_EMPLOYEE',
      A_GET_PROVINCES: 'Province/A_GET_PROVINCES',
      A_GET_DISTRICTS: 'District/A_GET_DISTRICTS'
    }),
    isExist (el) {
      switch (el) {
        case 0:
          return false
        case null:
          return false
        case undefined:
          return false
        default:
          return true
      }
    },
    async provinceList () {
      const provinces = await this.A_GET_PROVINCES(this.data.idDepartamento)
      if (provinces.length === 0) {
        this.options.provinces = [{ name: 'Sin data', value: '0' }]
      } else {
        this.options.provinces = provinces.map(el => ({ name: el.nombre, value: String(el.idProvincia) }))
        this.data.idProvincia = this.isExist(this.employee.idProvincia) ? String(this.employee.idProvincia) : String(provinces[0].idProvincia)
      }
      await this.districtList()
    },
    async districtList () {
      const districts = await this.A_GET_DISTRICTS(this.data.idProvincia)
      if (districts.length === 0) {
        this.options.districts = [{ name: 'Sin data', value: '0' }]
      } else {
        this.options.districts = districts.map(el => ({ name: el.nombre, value: String(el.idDistrito) }))
      }
    },
    async onSubmit () {
      this.isLoading = true
      try {
        const { data } = await this.A_UPDATE_EMPLOYEE({ empleado: this.data })
        console.log('employe:', data)
        this.isLoading = false
        this.$emit('success', data)
      } catch (error) {
        console.error('LOADING UPDATED EMPLOYEE', error)
      }
    },
    updateDateStart (e) {
      this.data.fechaNacimiento = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
