<template lang="pug">
  tbody
    tr
      td {{ item.idEmpleado }}
      td {{ item.nombres }}
      td {{ item.apellidoPaterno }}
      td {{ item.apellidoMaterno }}
      td {{ item.usuario }}
      td {{ item.idCargo }}
      td {{ item.celular }}
      td.nowrap
        a.e-btn.e-btn--small.info(
          @click="$modal.show(`employee-edit-${ item.idEmpleado }`)"
        ) EDITAR
        a.e-btn.e-btn--small(
          @click="$modal.show(`employee-delete-${ item.idEmpleado }`)"
        ) ELIMINAR
        a.e-btn.e-btn--small.dark(
          v-if="item.habilitado == 1"
          @click="$modal.show(`employee-desactive-${ item.idEmpleado }`)"
        ) DESACTIVAR
        a.e-btn.e-btn--small.secondary(
          v-else
          @click="$modal.show(`employee-active-${ item.idEmpleado }`)"
        ) ACTIVAR
      td
        i(
          :class="active ? 'icon-up':'icon-down'"
          @click="active = !active"
        )
    tr(
      v-if="active"
    )
      td(colspan="9")
        .c-employee-detail.ed-grid.s-grid-1.m-grid-2.l-grid-10
          .s-cols-1.m-cols-1.l-cols-2
            p Documento de identidad
            span {{ item.numeroDocumento }}
          .s-cols-1.m-cols-1.l-cols-2
            p Num. de carnet de sanidad
            span {{ item.carnetSanidad }}
          .s-cols-1.m-cols-1.l-cols-1
            p Cumpleaños
            span {{ item.fechaNacimiento }}
          .s-cols-1.m-cols-1.l-cols-1
            p Celular
            span {{ item.celular }}
          .s-cols-1.m-cols-1.l-cols-2
            p Correo electrónico
            span {{ item.email }}
          .s-cols-1.m-cols-1.l-cols-1
            p Estado civil
            span {{ item.estadoCivil === 0 ? 'Soltero' : 'casado' }}
          .s-cols-1.m-cols-1.l-cols-1
            p Hijos
            span {{ item.hijos }}
          .s-cols-1.m-cols-1.l-cols-2
            p Departamento
            span {{ item.nombreDepartamento }}
          .s-cols-1.m-cols-1.l-cols-2
            p Provincia
            span {{ item.nombreProvincia }}
          .s-cols-1.m-cols-1.l-cols-2
            p Distrito
            span {{ item.nombreDistrito }}
          .s-cols-1.m-cols-1.l-cols-3
            p Dirección
            span {{ item.direccion }}
          .s-cols-1.m-cols-1.l-cols-3
          .s-cols-1.m-cols-1.l-cols-2
            p Interes 1
            span {{ item.interes1 }}
          .s-cols-1.m-cols-1.l-cols-2
            p Interes 2
            span {{ item.interes2 }}
          .s-cols-1.m-cols-1.l-cols-2
            p Interes 3
            span {{ item.interes3 }}
          .s-cols-1.m-cols-1.l-cols-2
            p Deporte
            span {{ item.tipoDeporte }}
    modal(
      :name="'employee-edit-' + item.idEmpleado"
      :width="650"
      :scrollable="true"
      height="auto"
      class="c-modal c-modal--form"
      :shiftY="0.2"
    )
      employee-edit(
        :employee="item"
        @success="updateRow"
      )
    modal(
      :name="'employee-delete-' + item.idEmpleado"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de eliminar este empleado?"
        @confirmed="deleteItem(item.idEmpleado)"
        @denied="closeModal(item.idEmpleado)"
      )
    modal(
      :name="'employee-desactive-' + item.idEmpleado"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de desactivar este empleado?"
        textConfirm="SI, DESACTIVAR"
        @confirmed="desactiveItem(item.idEmpleado)"
        @denied="closeModal(item.idEmpleado)"
      )
    modal(
      :name="'employee-active-' + item.idEmpleado"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de activar este empleado?"
        textConfirm="SI, ACTIVAR"
        @confirmed="activeItem(item.idEmpleado)"
        @denied="closeModal(item.idEmpleado)"
      )
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    employeeEdit: () => import('@/components/02-molecule/employee/edit'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    id: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: '',
      active: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_DELETE_EMPLOYEE: 'Employee/A_DELETE_EMPLOYEE',
      A_DESACTIVE_EMPLOYEE: 'Employee/A_DESACTIVE_EMPLOYEE',
      A_ACTIVE_EMPLOYEE: 'Employee/A_ACTIVE_EMPLOYEE'
    }),
    closeModal (name) {
      console.log('close')
      this.$modal.hide(name)
    },
    async deleteItem (id) {
      console.log('delete employee')
      this.closeModal('employee-delete-' + id)
      const res = await this.A_DELETE_EMPLOYEE(id)
      console.log('deleted employee:', res)
    },
    async desactiveItem (id) {
      console.log('desactive employee')
      this.closeModal('employee-desactive-' + id)
      const res = await this.A_DESACTIVE_EMPLOYEE(id)
      this.item.habilitado = 2
      console.log('desactived employee:', res)
    },
    async activeItem (id) {
      console.log('active employee')
      this.closeModal('employee-active-' + id)
      const res = await this.A_ACTIVE_EMPLOYEE(id)
      this.item.habilitado = 1
      console.log('actived employee:', res)
    },
    updateRow (e) {
      this.item.apellidoMaterno = e.apellidoMaterno
      this.item.apellidoPaterno = e.apellidoPaterno
      this.item.celular = e.celular
      this.item.departamento = e.departamento
      this.item.direccion = e.direccion
      this.item.distrito = e.distrito
      this.item.fechaNacimiento = e.fechaNacimiento
      this.item.foto = e.foto
      this.item.habilitado = e.habilitado
      this.item.idCargo = String(e.idCargo)
      this.item.nombres = e.nombres
      this.item.numeroDocumento = e.numeroDocumento
      this.item.provincia = e.provincia
      this.item.telefono = e.telefono
      this.item.tipoDocumento = String(e.tipoDocumento)
      this.item.usuario = e.usuario
      this.item.carnetSanidad = String(e.carnetSanidad)
      this.item.email = e.email
      this.item.interes1 = e.interes1
      this.item.interes2 = e.interes2
      this.item.interes3 = e.interes3
      this.item.deporte = String(e.deporte)
      this.item.tipoDeporte = e.tipoDeporte
      this.item.estadoCivil = String(e.estadoCivil)
      this.item.idDepartamento = String(e.idDepartamento)
      this.item.idDistrito = String(e.idDistrito)
      this.item.idProvincia = String(e.idProvincia)
      this.item.hijos = String(e.hijos)
      this.item.nombreDepartamento = e.nombreDepartamento
      this.item.nombreProvincia = e.nombreProvincia
      this.item.nombreDistrito = e.nombreDistrito
      this.closeModal('employee-edit-' + this.item.idEmpleado)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
