<template lang="pug">
  tbody
    tr
      td Envío {{ padLeft(item.idStock, 5) }}
      td {{ item.nombreLocal }}
      td {{ item.fechaSolicitud }}
      td {{ (item.solicitante) ? item.solicitante : '-' }}
      td {{ (item.idSolicitud) ? item.idSolicitud : '-' }}
      td
        a.e-btn.e-btn--icon.info(
          :href="`https://apidona.globoazul.pe/index.php/api/envios/exportPdfByLocal?id=${ item.idStock }`"
          target="_blank"
        ) PDF
        i(
          :class="active ? 'icon-up':'icon-down'"
          @click="active = !active"
        )
    tr(
      v-if="active"
    )
      td(colspan="4")
        table
          tr
            th # COD
            th Número de guía
            th Producto
            th Cantidad
            th Fecha de venc.
            th Precio de compra
            th Precio de venta
          tr(
            v-for="(product, key) in item.detalle"
          )
            td {{ product.codigoProducto }}
            td {{ product.nroGuia }}
            td {{ product.producto }}
            td {{ product.cantidad }}
            td {{ product.fechaVencimiento }}
            td {{ product.precioCompra }}
            td {{ product.precioVenta }}
      td(colspan="2")
        // a.e-btn.tertiary
          i.icon-apple_ico
          | Imprimir
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      active: false
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    padLeft (value, length) {
      return (value.toString().length < length)
        ? this.padLeft('0' + value, length)
        : value
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
