<template lang="pug">
  .c-page.c-saleswoman-client-create
    v-title(
      beforePage
      :title="`Devoluciones - SV${padLeft($route.params.id, 5)} (NO ES EDITABLE)`"
    )
      a.e-btn.tertiary(
        v-if="!isLoading"
        @click="closeStockDevolucion"
      ) CERRAR TODO
      .e-btn.tertiary.e-btn--loading(
        v-else
      )
        i.icon-loading
    validation-observer.c-page__body(
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    )
      .c-saleswoman-client-create__seccion
        template(
          v-for="(product, key) in S_STOCKDEVOLUCION.stockVerificacionDetalle"
        )
          row-confirm(
            :item="product"
            :iterator="key"
            @deleteRow="deleteRow"
          )
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    rowConfirm: () => import('@/components/02-molecule/return/rowConfirm')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      isLoading: false
    }
  },

  computed: {
    ...mapState({
      S_STOCKDEVOLUCION: state => state.Stock.S_STOCKDEVOLUCION
    })
  },

  watch: {},
  created () {
    this.A_GET_STOCKDEVOLUCION({ id: this.$route.params.id })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_STOCKDEVOLUCION: 'Stock/A_GET_STOCKDEVOLUCION',
      A_CLOSE_STOCKDEVOLUCION: 'Stock/A_CLOSE_STOCKDEVOLUCION'
    }),
    padLeft (value, length) {
      return (value.toString().length < length)
        ? this.padLeft('0' + value, length)
        : value
    },
    deleteRow (i) {
      this.S_STOCKDEVOLUCION.stockVerificacionDetalle.splice(i, 1)
      if (this.S_STOCKDEVOLUCION.stockVerificacionDetalle.length === 0) {
        this.closeStockDevolucion()
      }
    },
    async closeStockDevolucion () {
      try {
        this.isLoading = true
        const response = await this.A_CLOSE_STOCKDEVOLUCION({ idStockVerificacion: this.$route.params.id })
        if (response.status) {
          this.$router.push({ name: 'BoardReturnPage' })
        } else {
          console.log('response:', response)
        }
      } catch (error) {
        console.log('You have a error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
