<template lang="pug">
  .o-table
    table
      thead
        tr
          th
            span # COD
            i.icon-sort
          th
            span Tipo de producto
            i.icon-sort
          th
            span Producto
            i.icon-sort
          th
            span Stock
            i.icon-sort
          th
            span Precio de compra
            i.icon-sort
          th
            span Precio de venta
            i.icon-sort
          th
            span Fecha de venc.
            i.icon-sort
          th
      template(
        v-for="(item, key) in items"
      )
        row-product(
          :key="key"
          :id="key"
          :item="item"
        )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    rowProduct: () => import('@/components/02-molecule/boardProduct/row')
  },
  props: {
    // propierty: { required: false, type: String },
    items: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: '',
      stateRow: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
