<template lang="pug">
  .c-store__content
    h3.o-form__title Tiendas
    ul.c-store__list
      li(
        v-for="(item, key) in stores"
        :key="key"
      )
        .c-store
          h3 {{ currentLocal(item) ? currentLocal(item).nombre : ''}}
          .c-store__contact
            p Contacto:
            span {{ currentLocal(item) ? currentLocal(item).celular : '' }}
          .c-store__diary
            p Horario de atención:
            span {{ currentLocal(item) ? currentLocal(item).celular : '' }}
          i.icon-close
</template>

<script>
import { mapGetters } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    stores: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: '',
      isLoading: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    ...mapGetters({
      G_LOCAL: 'Local/G_LOCAL'
    })
  },

  watch: {},
  created () {
    console.log(this.G_LOCAL)
  },
  mounted () {},
  updated () {},
  methods: {
    currentLocal (id) {
      console.log(id)
      console.log(this.G_LOCAL(parseInt(id)))
      return this.G_LOCAL(parseInt(id))
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
