<template lang="pug">
    .c-store
      h3 {{ item.name }}
      .c-store__contact
        p Contacto:
        span {{ item.contact }}
      .c-store__diary
        p Horario de atención:
        span(
          v-for="item in item.schedule"
        ) {{ item }}
      i.icon-close
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      active: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
