<template lang="pug">
  tbody
    tr.uppercase
      td {{ id + 1 }}
      td {{ item.tipoDocumento }}
      td.center {{item.serie != '' ? item.serie+'-'+item.numero : 'BORRADOR'}}
      td.center {{ item.cliente }}
      td.center {{ item.totalGravada }}
      td.center {{ item.total }}
      td.center {{ item.fecha }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    id: {
      required: true,
      type: Number
    },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
