::-webkit-scrollbar-track
{
	background-color: white;
}

::-webkit-scrollbar
{
	width: 4px;
	background-color: white;
}

::-webkit-scrollbar-thumb
{
	background-color: $g-text-dark;
}
html {
  font-size: 14px;
}
.ed-container {
  padding: 0 1rem;
}
video {
  width: 100%;
  height: auto;

  &:focus {
    outline: none;
  }
}
a {
  color: $g-link-color;

  &:hover {
    text-decoration: none;
  }
}
.text-rigth{
  text-align: right;
}
