<template lang="pug">
  validation-observer.c-anulation-delete(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  )
    h3 ¿Realmente deseas anular la venta {{ item.serie }}-{{ item.numero }}
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis risus a nulla bibendum feugiat. Nulla vestibulum erat eu molestie cursus. Ut semper erat id molestie aliquam.
    span Total: S/{{ item.total }}
    input-text(
      label="Explica los motivos:"
      type="textarea"
      name="message"
      v-model="item.motivo"
      @enter="handleSubmit(onSubmit)"
    )
    a.e-btn.e-btn--fullwidth(
      v-if="!isLoading"
      @click="handleSubmit(onSubmit)"
    ) ANULAR
    .e-btn.e-btn--fullwidth.e-btn--loading(
      v-else
    )
      i.icon-loading
    a.e-btn.e-btn--fullwidth.disabled(
      @click="close"
    ) CERRAR
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      isLoading: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_ANULATE: 'Sale/A_SET_ANULATE'
    }),
    close () {
      this.$emit('close', this.item.idDocumentoVenta)
    },
    async onSubmit () {
      this.isLoading = true
      await this.A_SET_ANULATE({ documentoVenta: this.item })
      this.$emit('close', this.item.idDocumentoVenta)
      this.isLoading = false
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
