<template lang="pug">
  .c-anulation
    .c-anulation__header.ed-grid.m-grid-2
      .m-cols-2
        h3 JARAMILLO TORERO DE PAEZ MANUELA MARIA
      .m-cols-1
        p Av. Tacna Nro. 488
        p Lima - Lima - Lima
        p RUC 10095588986
        p NOTA DE VENTA DE VENTA ELECTRONICA
        h4 {{ sale.serie }}-{{ sale.numero }}
      .m-cols-1
        img(
          src="@/assets/images/logo-vertical.png"
        )
    .c-anulation__body
      h3 ADQUIRIENTE
      p Nro. Documento: {{ sale.idDocumentoVenta }}
      p RAMIREZ DAMIAN MARITZA PILAR
      p Fecha de emisión: {{ sale.fecha }}
      p Moneda: Soles
      p IGV: 18%
    .c-anulation__table
      .o-table
        table
          thead
            tr
              th CANTIDAD
              th DESCRIPCIÓN
              th PU
              th TOTAL
          tbody
            tr(
              v-for="(item, key) in sale.detalle" :key="key"
            )
              td {{ item.cantidad }}
              td {{ item.nombre }}
              td {{ item.precioUnitarioProducto }}
              td.right {{ item.total }}
          tfoot
            tr
              td(colspan="2").right GRAVADA :
              td.right S/
              td.right {{ sale.totalGravada }}
            tr
              td(colspan="2").right DESCUENTO :
              td.right S/
              td.right {{ sale.totalDescuento }}
            tr
              td(colspan="2").right IGV (18%) :
              td.right S/
              td.right {{ sale.totalIGV }}
            tr.last
              td(colspan="2").right Total:
              td.right S/
              td.right {{ sale.total }}
    .c-anulation__footer
      p Representación impresa de la
      p NOTA DE VENTA DE VENTA ELECTRONICA.
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    sale: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
