<template lang="pug">
  tbody
    tr
      td {{ item.idDocumentoVenta }}
      td {{ item.tipoDocumento }}
      td {{ item.serie }}
      td.center {{ item.numero }}
      td.center {{ item.totalGravada }}
      td.center {{ item.total }}
      td.center
        a.e-btn.e-btn--icon.info(
          @click="$modal.show(`anulation-detail-${ item.idDocumentoVenta }`)"
        )
          i.icon-search
        a.e-btn.e-btn--icon(
          @click="$modal.show(`anulation-delete-${ item.idDocumentoVenta }`)"
        )
          i.icon-close
    modal(
      :name="'anulation-detail-' + item.idDocumentoVenta"
      :width="650"
      :scrollable="true"
      height="auto"
      class="c-modal c-modal--report"
      :shiftY="0.2"
    )
      anulation-detail(
        :sale="item"
      )
    modal(
      :name="'anulation-delete-' + item.idDocumentoVenta"
      :width="550"
      :scrollable="true"
      height="auto"
      class="c-modal"
      :shiftY="0.2"
    )
      anulation-delete(
        :item="item"
        @close="close"
      )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    anulationDetail: () => import('@/components/02-molecule/anulation/detail'),
    anulationDelete: () => import('@/components/02-molecule/anulation/delete')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    id: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    close (e) {
      console.log(e)
      this.$modal.hide('anulation-delete-' + e)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
