<template lang="pug">
  .o-table
    table
      thead
        tr
          th.center
            span #
          th.w-50
            span PRODUCTO
          th.center
            span CANTIDAD
          th.center
            span PROMOCIÓN
          th.center
            span PU
          th.center
            span PV
          th.center
            span TOT.
          th
          th
      template(
        v-for="(item, key) in items"
      )
        row-sale(
          :key="key"
          :id="key"
          :item="item"
          @rowDelete="rowDelete"
          @updateTotal="updateTotal"
          @saleVerify="$emit('saleVerify')"
        )
      tfoot
        tr
          td.right(colspan="6") TOTAL
          td.center {{ total.toFixed(2) }}
          td
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    rowSale: () => import('@/components/02-molecule/sale/row')
  },
  props: {
    // propierty: { required: false, type: String },
    items: {
      required: true,
      type: Array
    },
    total: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: '',
      stateRow: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    rowDelete (id) {
      this.$emit('rowDelete', id)
    },
    updateTotal () {
      this.$emit('updateTotal', true)
    }
  }
}
</script>

<style lang="css" scoped>
.w-50{
  width: 50%;
}
</style>
