<template lang="pug">
  .o-table
    table
      thead
        tr
          th
            span Tipo
          th
            span Serie
          th
            span Número
          th
            span Cliente
          th
            span Categoría
          th
            span Producto
          th
            span Cant.
          th
            span Dscto.
          th
            span P. unit.
          th
            span Vendedor
          th
            span Monto
          th
            span Fecha
          th
            span Local
      template(
        v-for="(item, key) in items"
      )
        row-report(
          :key="key"
          :item="item"
        )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    rowReport: () => import('@/components/02-molecule/sale/rowReport')
  },
  props: {
    // propierty: { required: false, type: String },
    items: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: '',
      stateRow: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
