<template lang="pug">
  .c-layout-dashboard(
    :class="navbarState ? 'active': ''"
  )
    .c-layout-dashboard__navbar(
      :class="navbarState ? 'active': ''"
    )
      i(
        :class="navbarState ? 'icon-close' : 'icon-justify'"
        @click="navbarState = !navbarState"
      )
      navbar
    .c-layout-dashboard__body
      router-view
</template>

<script>
import { mapActions } from 'vuex'

export default {
  components: {
    // component
    navbar: () => import('@/components/02-molecule/navbar/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      navbarState: true
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },
  watch: {},
  async created () {
    const departaments = await this.A_GET_DEPARTMENTS()
    await this.A_GET_PROVINCES(departaments[0].idDepartamento)
    await this.A_GET_CATEGORIES()
    await this.A_GET_BUSINESS()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_DEPARTMENTS: 'Department/A_GET_DEPARTMENTS',
      A_GET_PROVINCES: 'Province/A_GET_PROVINCES',
      A_GET_CATEGORIES: 'Category/A_GET_CATEGORIES',
      A_GET_BUSINESS: 'Local/A_GET_BUSINESS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
