<template lang="pug">
  .o-table
    table
      thead.o-head
        tr
          th Categoría
          th Producto
          th Presentación
          th Cantidad
          th Precio de lista
          th Descuento
          th Precio con dscto.
          th
      template(
        v-for="(product, key) in items"
      )
        row-details(
          :editProduct="editProduct"
          :edititem="edititem"
          :key="key"
          :position="key"
          :item="product"
           @updateEditProduct="$emit('updateEditProduct', true)"
           @deleteProduct="deleteProduct"
        )
      tr(v-if="newProduct")
        td
          v-select(
            v-model="newitem.idCategoria"
            :options="G_CATEGORIES"
            @change="productList"
          )
        td
          v-select(
            v-model="newitem.idProducto"
            :options="data.products"
            @change="getProduct"
          )
        td
          input-text(
            name="presentacion"
            type="text"
            v-model="data.presentacion"
            rules="required"
          )
        td
          input-text(
            name="cantidad"
            type="number"
            v-model="newitem.cantidad"
            rules="required|integer"
          )
        td
          input-text(
            name="precio"
            type="number"
            v-model="newitem.precioLista"
            rules="required|integer"
          )
        td
          v-select(
            v-model="newitem.descuento"
            :options="data.descuentos"
          )
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    rowCurrent: () => import('@/components/02-molecule/campaign/row'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default'),
    rowDetails: () => import('@/components/02-molecule/campaign/rowDetail')
  },
  props: {
    // propierty: { required: false, type: String },
    items: {
      required: false,
      type: Array
    },
    newitem: {
      required: false,
      type: Object
    },
    newProduct: {
      required: true,
      type: Boolean
    },
    edititem: {
      required: true,
      type: Object
    },
    editProduct: {
      required: true,
      type: Boolean
    }
  },

  data () {
    return {
      data: {
        presentacion: '',
        descuentos: [
          { name: 'Dscto', value: '0' }
        ],
        products: [
          {
            name: 'Seleccione',
            value: '0'
          }
        ]
      },
      stateRow: false
    }
  },

  computed: {
    ...mapGetters({
      G_CATEGORIES: 'Category/G_CATEGORIES'
    })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS',
      A_GET_PRODUCT: 'Product/A_GET_PRODUCT'
    }),
    async getProduct (id) {
      const res = await this.A_GET_PRODUCT({ idProduct: id, params: { idLocal: null } })
      this.newitem.precioLista = res.data.precioVenta
    },
    async productList (id) {
      this.data.products = [{
        name: 'Seleccione',
        value: 0
      }]
      const res = await this.A_GET_PRODUCTS({ idCategory: id })
      res.forEach(element => {
        this.data.products.push({
          value: String(element.idProducto),
          name: element.nombre
        })
      })
    },
    deleteProduct (data) {
      this.$emit('deleteProduct', data)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
