<template lang="pug">
  tbody
    tr
      td C{{ padLeft(item.idCorte, 5) }}
      td {{ item.tipoCorte }}
      td {{ item.tipoTablero }}
      td {{ item.kilaje }}
      td {{ data.countCut }}
      td {{ item.distribucion.map(el => el.presentacion).join('-') }}
      td {{ item.fecha }}
      td {{ item.fecha_vencimiento }}
      td.nowrap
        a.e-btn.e-btn--icon.info(
          :href="`https://apidona.globoazul.pe/index.php/api/corte/${item.idCorte}/exportPdf`"
          target="_blank"
        ) Pdf
        a.e-btn.e-btn--icon(
          @click="$modal.show(`confirm-delete-${item.idCorte}`)"
        )
          i.icon-trash
        i(
          :class="active ? 'icon-up':'icon-down'"
          @click="active = !active"
        )
    template(v-if="active")
      tr(
        v-for="(distribucion, key) in item.distribucion"
      )
        td(colspan="3")
        td {{ distribucion.kilaje }}
        td {{ distribucion.cantidad }}
        td {{ distribucion.presentacion }}
        td(colspan="3")
    modal(
      :name="`confirm-delete-${item.idCorte}`"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="Eliminar corte"
        subtitle="¿Esta seguro de eliminar este corte?"
        :isLoading="isLoading"
        @confirmed="deleteCut(item.idCorte)"
        @denied="closeModal(`confirm-delete-${item.idCorte}`)"
      )
      p.m-center {{ message }}
</template>

<script>
import { mapActions } from 'vuex'
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: {
        countCut: 0
      },
      active: false,
      isLoading: false,
      message: ''
    }
  },

  computed: {},

  watch: {},
  created () {
    this.data.countCut = this.item.distribucion.reduce((acc, el) => acc + Number(el.cantidad), 0)
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_DELETE_CUT: 'Cut/A_DELETE_CUT'
    }),
    closeModal (name) {
      this.$modal.hide(name)
    },
    padLeft (value, length) {
      return (value.toString().length < length)
        ? this.padLeft('0' + value, length)
        : value
    },
    async deleteCut (id) {
      try {
        this.isLoading = true
        this.closeModal(`confirm-delete-${id}`)
        const data = await this.A_DELETE_CUT(id)
        console.log(data)
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
