<template lang="pug">
  tbody
    tr
      td T{{ padLeft(item.idTablero, 5) }}
      td {{ item.nombreTipoTablero }}
      td {{ item.cantidad }}
      td {{ item.fecha_ingreso }}
      td {{ item.fecha_vencimiento }}
      td {{ item.fecha }}
      td.nowrap
        a.e-btn.e-btn--icon(
          @click="$modal.show(`confirm-return-${item.idTableroDevuelto}`)"
        )
          i.icon-close
    modal(
      :name="`confirm-return-${item.idTableroDevuelto}`"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="Retornar tablero regresado"
        subtitle="¿Esta seguro de retornar el tablero?"
        @confirmed="removeBoardReturned(item.idTableroDevuelto)"
        :isLoading="isLoading"
        @denied="closeModal(`confirm-return-${item.idTableroDevuelto}`)"
      )
</template>

<script>
import { mapActions } from 'vuex'
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      isLoading: false
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_BOARD__RETURNED_REMOVE: 'Board/A_SET_BOARD__RETURNED_REMOVE'
    }),
    padLeft (value, length) {
      return (value.toString().length < length)
        ? this.padLeft('0' + value, length)
        : value
    },
    closeModal (name) {
      this.$modal.hide(name)
    },
    async removeBoardReturned (idTableroDevuelto) {
      try {
        this.isLoading = true
        this.closeModal(`confirm-return-${this.item.idTableroDevuelto}`)
        const response = await this.A_SET_BOARD__RETURNED_REMOVE({ idTableroDevuelto })
        this.isLoading = false
        console.log(response)
      } catch (error) {
        console.log('You have a error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
