<template lang="pug">
  .base
    .c-page.c-category
      v-title(
        title="Dashboard"
      )
    .c-page__body
      div(style="margin-bottom: 64px;")
        <iframe width="100%" height="640" src="https://app.powerbi.com/view?r=eyJrIjoiZGMwZWU0ZGQtNTk3Yy00YmY5LTkwZGQtODA3MTNkNjc0NTA4IiwidCI6IjgwZjQwY2QyLTE3ZjQtNDIxZS1hMDA0LTkyMTJiY2Y1MmIxZCJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
      div(style="display:flex; padding: 0px 16px;")
        div(style="flex:1; background-color: #F0F0F0")
          div.filter-block
            p.title
              span Visibilidad
              i(
                :class="block.visibilidad ? 'icon-up':'icon-down'"
                @click="block.visibilidad = !block.visibilidad"
              )
            div(
              v-if="block.visibilidad"
            )
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.visibilidad.ventas"
                )
                span
                  i.icon-check
                p Ventas
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.visibilidad.franjas"
                )
                span
                  i.icon-check
                p Franjas horarias
          div.filter-block
            p.title
              span Consideración
              i(
                :class="block.consideracion ? 'icon-up':'icon-down'"
                @click="block.consideracion = !block.consideracion"
              )
            div(
              v-if="block.consideracion"
            )
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.consideracion.ticket"
                )
                span
                  i.icon-check
                p Por ticket promedio
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.consideracion.kilos"
                )
                span
                  i.icon-check
                p Por kilos
          div.filter-block
            p.title
              span Año
              i(
                :class="block.anho ? 'icon-up':'icon-down'"
                @click="block.anho = !block.anho"
              )
            div(
              v-if="block.anho"
            )
              label.e-checkbox
                input(
                  type="checkbox"
                )
                span
                  i.icon-check
                p 2021
              label.e-checkbox
                input(
                  type="checkbox",
                )
                span
                  i.icon-check
                p 2020
              label.e-checkbox
                input(
                  type="checkbox",
                )
                span
                  i.icon-check
                p 2019
          div.filter-block
            p.title
              span Mes
              i(
                :class="block.mes ? 'icon-up':'icon-down'"
                @click="block.mes = !block.mes"
              )
            div(
              v-if="block.mes"
            )
              label.e-checkbox
                input(
                  type="checkbox",
                )
                span
                  i.icon-check
                p Enero
              label.e-checkbox
                input(
                  type="checkbox",
                )
                span
                  i.icon-check
                p Febrero
              label.e-checkbox
                input(
                  type="checkbox",
                )
                span
                  i.icon-check
                p Marzo
          div.filter-block
            p.title
              span Productos
              i(
                :class="block.producto ? 'icon-up':'icon-down'"
                @click="block.producto = !block.producto"
              )
            div(
              v-if="block.producto"
            )
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.productos.tradicional"
                )
                span
                  i.icon-check
                p Tradicional
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.productos.exportacion"
                )
                span
                  i.icon-check
                p Exportación
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.productos.especial"
                )
                span
                  i.icon-check
                p Especial
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.productos.otro"
                )
                span
                  i.icon-check
                p Otros
          div.filter-block
            p.title
              span Provincia
              i(
                :class="block.provincia ? 'icon-up':'icon-down'"
                @click="block.provincia = !block.provincia"
              )
            div(
              v-if="block.provincia"
            )
              label.e-checkbox
                input(
                  type="checkbox"
                )
                span
                  i.icon-check
                p Lima
              label.e-checkbox
                input(
                  type="checkbox"
                )
                span
                  i.icon-check
                p Arequipa
              label.e-checkbox
                input(
                  type="checkbox"
                )
                span
                  i.icon-check
                p Trujillo
              label.e-checkbox
                input(
                  type="checkbox"
                )
                span
                  i.icon-check
                p Otro
          div.filter-block
            p.title
              span Local
              i(
                :class="block.local ? 'icon-up':'icon-down'"
                @click="block.local = !block.local"
              )
            div(
              v-if="block.local"
            )
              label.e-checkbox
                input(
                  type="checkbox"
                )
                span
                  i.icon-check
                p La Limeñita
          div.filter-block
            p.title
              span Tipo de venta
              i(
                :class="block.tipoventa ? 'icon-up':'icon-down'"
                @click="block.tipoventa = !block.tipoventa"
              )
            div(
              v-if="block.tipoventa"
            )
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.tipoventa.factura"
                )
                span
                  i.icon-check
                p Facturación
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.tipoventa.boleta"
                )
                span
                  i.icon-check
                p Boleta
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.tipoventa.nota"
                )
                span
                  i.icon-check
                p Nota
          div.filter-block
            p.title
              span Método de venta
              i(
                :class="block.metodopago ? 'icon-up':'icon-down'"
                @click="block.metodopago = !block.metodopago"
              )
            div(
              v-if="block.metodopago"
            )
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.metodopago.efectivo"
                )
                span
                  i.icon-check
                p Efectivo
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.metodopago.transferencia"
                )
                span
                  i.icon-check
                p Transferencia
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.metodopago.tarjeta"
                )
                span
                  i.icon-check
                p Tarjeta/POS
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.metodopago.yape"
                )
                span
                  i.icon-check
                p Yape
          div.filter-block
            p.title
              span Descuento
              i(
                :class="block.descuento ? 'icon-up':'icon-down'"
                @click="block.descuento = !block.descuento"
              )
            div(
              v-if="block.descuento"
            )
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.descuento.con"
                )
                span
                  i.icon-check
                p Con descuento
              label.e-checkbox
                input(
                  type="checkbox",
                  v-model="filter.descuento.sin"
                )
                span
                  i.icon-check
                p Sin descuento
        div(style="flex:4; padding: 8px 32px;")
          div.block-report(
            v-if="S_SALES_BY_PRODUCT"
          )
            highcharts(
              :constructor-type="'chart'"
              :options="chartOptionsByProduct"
            )
          div.block-report(
            v-if="S_SALES_BY_PRODUCT"
          )
            highcharts(
              :constructor-type="'chart'"
              :options="chartOptionsByLocal"
            )
          div.block-report(
            v-if="S_SALES_BY_MONTH"
          )
            highcharts(
              :constructor-type="'chart'"
              :options="chartOptionsByMonth"
            )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

import Checkbox from '@/components/02-molecule/formElements/checkbox'
import { Chart } from 'highcharts-vue'
import Highcharts from 'highcharts'
import stockInit from 'highcharts/modules/stock'
import { mapActions, mapState } from 'vuex'

export default {
  components: {
    Checkbox,
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    highcharts: Chart
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      block: {
        visibilidad: true,
        consideracion: true,
        anho: true,
        mes: true,
        producto: true,
        provincia: true,
        local: true,
        vendedora: true,
        tipoventa: true,
        metodopago: true,
        descuento: true,
        canal: true,
        marca: true,
        categoria: true
      },
      filter: {
        visibilidad: {
          ventas: false,
          franjas: false
        },
        consideracion: {
          ticket: false,
          kilos: false
        },
        anho: [],
        mes: [],
        productos: {
          tradicional: false,
          exportacion: false,
          especial: false,
          otro: false
        },
        provincia: [],
        locales: [],
        vendedora: [],
        tipoventa: {
          boleta: false,
          factura: false,
          nota: false
        },
        metodopago: {
          efectivo: false,
          transferencia: false,
          tarjeta: false,
          yape: false
        },
        descuento: {
          con: false,
          sin: false
        }
      },
      chartOptionsByProduct: {
        series: [{
          name: 'Ventas',
          colorByPoint: true,
          data: [] // sample data
        }],
        chart: {
          type: 'column'
        },
        title: {
          text: 'Ventas por producto'
        },
        xAxis: {
          type: 'category'
        },
        yAxis: {
          title: {
            text: 'Total de ventas (S/)'
          }

        }
      },
      chartOptionsByLocal: {
        series: [{
          name: 'Ventas',
          colorByPoint: true,
          data: [] // sample data
        }],
        chart: {
          type: 'column'
        },
        title: {
          text: 'Ventas por local'
        },
        xAxis: {
          type: 'category'
        },
        yAxis: {
          title: {
            text: 'Total de ventas (S/)'
          }

        }
      },
      chartOptionsByMonth: {
        series: [{
          name: 'Ventas',
          colorByPoint: true,
          data: [{
            name: 'Enero',
            y: 0,
            drilldown: 'Enero'
          },
          {
            name: 'Febrero',
            y: 0,
            drilldown: 'Febrero'
          },
          {
            name: 'Marzo',
            y: 0,
            drilldown: 'Marzo'
          },
          {
            name: 'Abril',
            y: 0,
            drilldown: 'Abril'
          },
          {
            name: 'Mayo',
            y: 0,
            drilldown: 'Mayo'
          },
          {
            name: 'Junio',
            y: 0,
            drilldown: 'Junio'
          },
          {
            name: 'Julio',
            y: 0,
            drilldown: 'Julio'
          },
          {
            name: 'Agosto',
            y: 0,
            drilldown: 'Agosto'
          },
          {
            name: 'Setiembre',
            y: 0,
            drilldown: 'Setiembre'
          },
          {
            name: 'Octubre',
            y: 0,
            drilldown: 'Octubre'
          },
          {
            name: 'Noviembre',
            y: 0,
            drilldown: 'Noviembre'
          },
          {
            name: 'Diciembre',
            y: 0,
            drilldown: 'Diciembre'
          }] // sample data
        }],
        chart: {
          type: 'column'
        },
        title: {
          text: 'Ventas por local'
        },
        xAxis: {
          type: 'category'
        },
        yAxis: {
          title: {
            text: 'Total de ventas (S/)'
          }

        }
      }
    }
  },

  computed: {
    ...mapState({
      S_SALES_BY_PRODUCT: state => state.Report.S_SALES_BY_PRODUCT,
      S_SALES_BY_LOCAL: state => state.Report.S_SALES_BY_LOCAL,
      S_SALES_BY_MONTH: state => state.Report.S_SALES_BY_MONTH
    })
  },

  watch: {},
  created () {
    stockInit(Highcharts)
    this.initByProduct()
    this.initByLocal()
    this.initByMonth()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_SALES_BY_PRODUCT: 'Report/A_GET_SALES_BY_PRODUCT',
      A_GET_SALES_BY_LOCAL: 'Report/A_GET_SALES_BY_LOCAL',
      A_GET_SALES_BY_MONTH: 'Report/A_GET_SALES_BY_MONTH'
    }),
    async initByProduct () {
      await this.A_GET_SALES_BY_PRODUCT({})
      this.chartOptionsByProduct.series[0].data = []
      this.S_SALES_BY_PRODUCT.map((item) => {
        this.chartOptionsByProduct.series[0].data.push({
          name: item.nombre,
          y: Number(item.total),
          drilldown: item.nombre
        })
      })
    },
    async initByLocal () {
      await this.A_GET_SALES_BY_LOCAL({})
      this.chartOptionsByLocal.series[0].data = []
      this.S_SALES_BY_LOCAL.map((item) => {
        this.chartOptionsByLocal.series[0].data.push({
          name: item.nombre,
          y: Number(item.total),
          drilldown: item.nombre
        })
      })
    },
    async initByMonth () {
      await this.A_GET_SALES_BY_MONTH({})
      this.S_SALES_BY_MONTH.map((item) => {
        console.log(item.month - 1)
        this.chartOptionsByMonth.series[0].data[Number(item.month) - 1].y = Number(item.total)
      })
    }
  }
}
</script>

<style lang="css" scoped>
.filter-block{
  padding: 8px;
}
.filter-block p.title{
  display: flex;
  align-items: center;
  border-bottom: solid 1px #444;
  padding: 4px;
}
.filter-block p span{
  flex: 1;
}
.e-checkbox{
  margin-bottom: 4px;
}
.block-report {
  margin-bottom: 36px;
}
</style>
