<template lang="pug">
  .c-page
    v-title(
      title="Vendedora / Reporte"
    )
    .c-page__tabs
      ul
        li(
          :class="currentFilters.type === 1 ? 'active': ''"
          @click="currentFilter(1)"
        ) Activos
        li(
          :class="currentFilters.type === 2 ? 'active': ''"
          @click="currentFilter(2)"
        ) Anulados
    .c-page__filters.c-page__filters--multiple
      .ed-grid.m-grid-3
        .m-cols-2
          .c-page__filters--multiple-row
            v-date(
              label="Fecha:"
              inputStyle="row"
              format="YYYY-MM-DD"
              @value="updateDateStart"
              v-model="currentFilters.dateStart"
              @change="search"
            )
            v-search(
              type="text"
              inputStyle="row"
              styleClass="uppercase"
              name="search"
              v-model="currentFilters.search"
              @change="search"
            )
            v-select(
              label="Delivery"
              inputStyle="row"
              v-model="currentFilters.delivery"
              :options="filters.delivery"
              @change="search"
            )
          .c-page__filters--multiple-row
            v-select(
              label="Métodos de pago:"
              inputStyle="row"
              v-model="currentFilters.product"
              :options="filters.product"
              @change="search"
            )
            v-select(
              label="Tipo de cliente:"
              inputStyle="row"
              v-model="currentFilters.client"
              :options="filters.client"
              @change="search"
            )
        .m-cols-1
          .c-page__report
            h3 Objetivo del día
            ul
              li
                p Tradicional:
                span 0/40
              li
                p Exportación:
                span 0/30
              li.price
                p Total:
                span S/. {{ data.total.toFixed(2) }}
    .c-page__body
      table-report(
        :items="S_SALES"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableReport: () => import('@/components/03-organism/tableReport/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        total: 0,
        idLocal: this.$cookies.get('AUTH_DATA').local.idLocal
      },
      currentFilters: {
        type: 1,
        dateStart: '',
        dateEnd: '',
        search: '',
        delivery: '0',
        TypeDocument: '1',
        client: '',
        gender: 'm'
      },
      filters: {
        delivery: [
          {
            name: 'Seleccionar',
            value: '0'
          },
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ],
        product: [
          {
            name: 'Seleccionar',
            value: '0'
          },
          {
            name: 'Efectivo',
            value: '1'
          },
          {
            name: 'Tarjeta',
            value: '2'
          },
          {
            name: 'Yape',
            value: '3'
          },
          {
            name: 'Tranferencia',
            value: '4'
          }
        ],
        TypeDocument: [
          {
            name: 'Factura',
            value: '1'
          },
          {
            name: 'Boleta',
            value: '2'
          }
        ],
        client: [
          {
            name: 'Seleccionar',
            value: ''
          },
          {
            name: 'Persona Natural',
            value: '1'
          },
          {
            name: 'Persona Jurídica',
            value: '0'
          }
        ],
        gender: [
          {
            name: 'M',
            value: 'm'
          },
          {
            name: 'F',
            value: 'f'
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_SALES: state => state.Sale.S_SALES
    })
  },

  watch: {},
  created () {
    this.currentFilter(this.currentFilters.type)
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_SALES: 'Sale/A_GET_SALES'
    }),
    updateDateStart (e) {
      this.currentFilters.dateStart = e
    },
    updateDateEnd (e) {
      this.currentFilters.dateEnd = e
    },
    totalCalc (sales) {
      const total = sales.reduce((acc, el) => acc + Number(el.total), 0)
      this.data.total = total
    },
    async currentFilter (type) {
      const state = (type === 1) ? null : 7
      const idLocal = this.$cookies.get('AUTH_DATA').local.idLocal
      const sales = await this.A_GET_SALES({ state, idLocal })
      this.totalCalc(sales)
      this.currentFilters.type = type
    },
    search () {
      this.A_GET_SALES({
        idLocal: this.data.idLocal,
        state: (this.currentFilters.type === 1) ? null : 7,
        nombre: this.currentFilters.search,
        fechaInicio: this.currentFilters.dateStart,
        fechaFinal: this.currentFilters.dateEnd,
        delivery: this.currentFilters.delivery,
        method: this.currentFilters.product,
        typeClient: this.currentFilters.client
      })
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
