<template lang="pug">
  .c-page.c-category
    v-title(
      title="Solicitudes de descuentos"
    )
      a.e-btn(
        :href="`https://apidona.globoazul.pe/index.php/api/descuento/exportPdf?idLocal=${$cookies.get('AUTH_DATA').local.map(el => el.idLocal).join(',')}`" target="_blank"
      )
        i.icon-printer
         | PDF
      a.e-btn.secondary(
        :href="`https://apidona.globoazul.pe/index.php/api/descuento/reporteExcel?idLocal=${$cookies.get('AUTH_DATA').local.map(el => el.idLocal).join(',')}`"
      )
        i.icon-excel_ico
        | Excel
    .c-page__filters
      v-date(
        label="Fecha inicio:"
        inputStyle="row"
        format="YYYY-MM-DD"
        @value="updateDateStart"
        v-model="currentFilters.dateStart"
        @change="applyFilter"
      )
      v-date(
        label="Fin:"
        inputStyle="row"
        format="YYYY-MM-DD"
        @value="updateDateEnd"
        v-model="currentFilters.dateEnd"
        @change="applyFilter"
      )
      v-select(
        v-if="filters.locals.length"
        label="Local"
        inputStyle="row"
        v-model="currentFilters.local"
        :options="filters.locals"
        @change="applyFilter"
      )
      v-select(
        v-if="filters.products.length"
        label="Producto"
        inputStyle="row"
        v-model="currentFilters.product"
        :options="filters.products"
        @change="applyFilter"
      )
      v-select(
        v-if="filters.employees.length"
        label="Empleado"
        inputStyle="row"
        v-model="currentFilters.employee"
        :options="filters.employees"
        @change="applyFilter"
      )
    .c-page__body
      table-discount(
        :items="S_DISCOUNTS"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableDiscount: () => import('@/components/03-organism/tableDiscount/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        dateStart: '',
        dateEnd: '',
        local: '',
        product: '',
        employee: ''
      },
      filters: {
        dateStart: '',
        dateEnd: '',
        locals: [],
        products: [],
        employees: []
      }
    }
  },

  computed: {
    ...mapState({
      S_DISCOUNTS: state => state.Discount.S_DISCOUNTS
    })
  },

  watch: {},
  async created () {
    await this.A_GET_DISCOUNTS()
    const locals = await this.A_GET_LOCALS()
    const products = await this.A_GET_PRODUCTS({ all: 1 })
    const employees = await this.A_GET_EMPLOYEES()
    this.filters.locals = locals.map(el => ({ name: el.nombre, value: String(el.idLocal) }))
    this.filters.locals.unshift({ name: 'Seleccione local', value: '' })
    this.filters.products = products.map(el => ({ name: el.nombre, value: String(el.idProducto) }))
    this.filters.products.unshift({ name: 'Seleccione producto', value: '' })
    this.filters.employees = employees.map(el => ({ name: `${el.nombres} ${el.apellidoPaterno} ${el.apellidoMaterno}`, value: String(el.idEmpleado) }))
    this.filters.employees.unshift({ name: 'Seleccione empleado', value: '' })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_LOCALS: 'Local/A_GET_LOCALS',
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS',
      A_GET_EMPLOYEES: 'Employee/A_GET_EMPLOYEES',
      A_GET_DISCOUNTS: 'Discount/A_GET_DISCOUNTS'
    }),
    updateDateStart (e) {
      this.currentFilters.dateStart = e
    },
    updateDateEnd (e) {
      this.currentFilters.dateEnd = e
    },
    async applyFilter () {
      try {
        await this.A_GET_DISCOUNTS(this.currentFilters)
      } catch (error) {
        console.log('Somwthing went error', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
