<template lang="pug">
  validation-provider(
    :rules="rules"
    v-slot="{ errors }"
    :slim="true"
    tag="div"
  )
    label.e-checkbox(
      :class="[inputStyle,{ 'input--error' : errors[0] || forceSucessMessage !== '' }]"
      @click="setFocusToInput()"
    )
      input(
        :name="name"
        :ref="name"
        type='checkbox'
        v-model="inputValue"
        :disabled="disabled"
      )
      span
        i.icon-check
      p(v-if="label") {{ label }}
    .input__error-caption(
      v-if="forceErrorMessage == '' && errors[0]"
    )
      span(
        v-if="errors[0]"
      ) {{ errors[0] }}
    .input__error-caption(
      v-if="forceSucessMessage !== ''"
    )
      span {{ forceSucessMessage }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    rules: {
      type: String,
      default: ''
    },
    value: Boolean,
    icon: {
      required: false,
      type: String
    },
    inputStyle: {
      required: false,
      type: String
    },
    typeStyle: {
      required: false,
      type: String
    },
    name: {
      required: false,
      type: String
    },
    label: {
      required: false,
      type: String
    },

    placeholder: {
      required: false,
      type: String
    },
    disabled: {
      type: Boolean,
      default: false
    },
    forceErrorMessage: {
      type: String,
      default: ''
    },
    forceSucessMessage: {
      type: String,
      default: ''
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    inputValue: {
      get () {
        return this.value
      },
      set (newVal) {
        this.$emit('input', newVal)
        this.$emit('change', newVal)
      }
    }
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    updateValue (e) {
      this.$emit('input', e.target.value)
    },

    setFocusToInput () {
      this.$refs[this.name].focus()
    }
  }
}
</script>
