<template lang="pug">
  .e-input.e-input--date(
    :class="[inputStyle]"
  )
    label
      span {{ label }}
      date-picker(
        v-model="inputValue"
        :format="format"
        :type="type"
        value-type="format"
        :disabled="disabled"
        :placeholder="placeholder"
      )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    inputStyle: {
      required: false,
      type: String
    },
    label: {
      required: false,
      type: String
    },
    placeholder: {
      required: false,
      type: String
    },
    disabled: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: 'date'
    },
    format: {
      type: String,
      default: 'YYYY-MM-DD'
    },
    value: String
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    inputValue: {
      get () {
        return this.value
      },
      set (newVal) {
        this.$emit('input', newVal)
        this.$emit('change', newVal)
      }
    }
  },

  watch: {
    /* inputValue (newValue) {
      this.$emit('value', newValue)
    } */
  },
  created () {
  },
  mounted () {},
  updated () {},
  methods: {
    updateValue (e) {
      this.$emit('input', e.target.value)
    },
    setFocusToInput () {
      this.$refs[this.name].focus()
    }
  }
}
</script>
