<template lang="pug">
  label.e-file(
    :class="[inputStyle]"
  )
    span.e-file__label(
      v-if="label"
    ) {{ label }}
    .e-file__input
      span Arrastra el archivo
      span o
      span.e-btn.primary.e-btn--fullwidth.linear ADJUNTA AQUÍ
    input(
      :name="name"
      type='file'
      accept="image/png, image/jpeg"
      @change="onFilePicked"
    )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    name: {
      required: false,
      type: String
    },
    inputStyle: {
      required: false,
      type: String
    },
    value: String,
    label: {
      required: false,
      type: String
    }
  },

  data () {
    return {
      data: '',
      image: null
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    inputValue: {
      get () {
        return this.value
      },
      set (newVal) {
        this.$emit('input', newVal)
        this.$emit('change', newVal)
      }
    }
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    hide () {
      this.stateSelect = false
    },
    onPickFile () {
      this.$refs.fileInput.click()
    },
    onFilePicked (e) {
      const files = e.target.files
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.$emit('change', fileReader.result)
        this.inputValue = fileReader.result
      })
      fileReader.readAsDataURL(files[0])
      this.image = files[0]
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
