<template lang="pug">
  validation-provider(
    :rules="rules"
    v-slot="{ errors }"
    :slim="true"
    tag="div"
  )
    .e-select(
      :class="[inputStyle,{ 'input--error' : errors[0] || forceSucessMessage !== '' }]"
      v-click-outside="hide"
    )
      span.e-select__label(
        v-if="label"
        @click="stateSelect = !stateSelect"
      ) {{ label }}
      .e-select__input(
        @click="stateSelect = !stateSelect"
      )
        span {{ currentElement.name }}
        i(
          v-show="!disabled"
          :class="stateSelect ? 'icon-up': 'icon-down'"
        )
        ul.e-select__options(v-show="stateSelect && !disabled")
          li(
            v-for="element in optionsFiltered"
            @click="updateCurrent(element)"
          ) {{ element.name }}
        input(
          :type="type"
          :name="name"
          :ref="name"
          v-model="inputValue"
          :disabled='disabled'
          :placeholder="placeholder"
        )
        input(
          type="text"
          ref="buscador"
          class="hidden"
          rows="0"
          cols="0"
          v-model="textFilter"
          v-show="stateSelect"
        )
      .input__error-caption(
        v-if="forceErrorMessage == '' && errors[0]"
      )
        span(
          v-if="errors[0]"
        ) {{ errors[0] }}
      .input__error-caption(
        v-if="forceSucessMessage !== ''"
      )
        span {{ forceSucessMessage }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    type: {
      type: String,
      default: 'text'
    },
    rules: {
      type: String,
      default: ''
    },
    options: {
      required: true,
      type: Array
    },
    placeholder: {
      required: false,
      type: Object
    },
    disabled: {
      type: Boolean,
      default: false
    },
    name: {
      required: false,
      type: String
    },
    inputStyle: {
      required: false,
      type: String
    },
    value: String,
    label: {
      required: false,
      type: String
    },
    forceErrorMessage: {
      type: String,
      default: ''
    },
    forceSucessMessage: {
      type: String,
      default: ''
    },
    selected: null
  },

  data () {
    return {
      data: '',
      stateSelect: false,
      currentElement: null,
      textFilter: ''
    }
  },

  computed: {
    inputValue: {
      get () {
        return this.value
      },
      set (newVal) {
        this.$emit('input', newVal)
        this.$emit('change', newVal)
      }
    },
    optionsFiltered () {
      if (this.textFilter === '') {
        return this.options
      } else {
        const results = []
        this.options.map(item => {
          if (item.name.toLowerCase().indexOf(this.textFilter) > -1) {
            results.push(item)
          }
        })
        return results
      }
    }
  },

  watch: {
    stateSelect: function (val) {
      if (val) {
        window.addEventListener('keydown', this.keymonitor)
      } else {
        window.removeEventListener('keydown', this.keymonitor)
        this.textFilter = ''
      }
    },
    selected: function (val) {
      this.options.map((item) => {
        if (item.value === val) {
          this.updateCurrent(item)
        }
      })
    }
  },
  created () {
    this.currentElement = this.options[0]
    if (this.inputValue) {
      this.currentElement = this.options.find(i => i.value === this.inputValue)
    }
    if (this.selected) {
      this.options.map((item) => {
        if (item.value === this.selected) {
          this.updateCurrent(item)
        }
      })
    }
  },
  mounted () {},
  updated () {},
  methods: {
    hide () {
      this.stateSelect = false
    },
    updateValue (e) {
      this.$emit('input', e.target.value)
    },
    updateCurrent (e) {
      this.currentElement = e
      this.inputValue = e.value
    },
    keymonitor (e) {
      this.$refs.buscador.focus()
    },
    regex_quote (str) {
      return str.replace(new RegExp('([\\.\\\\\\+\\*\\?\\[\\^\\]\\$\\(\\)\\{\\}\\=\\!\\<\\>\\|\\:\\-])', 'g'), '\\$1')
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
