<template lang="pug">
  .e-tabs(
    :class="[inputStyle]"
    v-click-outside="hide"
  )
    span.e-tabs__label(
      v-if="label"
      @click="stateSelect = !stateSelect"
    ) {{ label }}
    ul.e-tabs__options
      li(
        v-for="element in options"
        @click="updateCurrent(element)"
        :class="inputValue == element.value ? 'active': ''"
      )
        i(
          :class="`icon-${ element.name }`"
        )
    input(
      :type="type"
      :name="name"
      :ref="name"
      v-model="inputValue"
      :disabled='disabled'
      :placeholder="placeholder"
    )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    type: {
      type: String,
      default: 'text'
    },
    options: {
      required: true,
      type: Array
    },
    placeholder: {
      required: false,
      type: Object
    },
    disabled: {
      type: Boolean,
      default: false
    },
    name: {
      required: false,
      type: String
    },
    inputStyle: {
      required: false,
      type: String
    },
    value: String,
    label: {
      required: false,
      type: String
    }
  },

  data () {
    return {
      data: '',
      stateSelect: false,
      currentElement: null
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    inputValue: {
      get () {
        return this.value
      },
      set (newVal) {
        this.$emit('input', newVal)
        this.$emit('change', newVal)
      }
    }
  },

  watch: {},
  created () {
    this.currentElement = this.options[0]
    if (this.inputValue) {
      this.currentElement = this.options.find(i => i.value === this.inputValue)
    }
  },
  mounted () {},
  updated () {},
  methods: {
    hide () {
      this.stateSelect = false
    },
    updateValue (e) {
      this.$emit('input', e.target.value)
    },
    updateCurrent (e) {
      this.currentElement = e
      this.inputValue = e.value
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
