<template lang="pug">
  span.c-tag
    i.icon-close(
      @click="closed"
    )
    | {{ item.name }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    closed () {
      this.$emit('closed', this.item.id)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
