<template lang="pug">
  .c-title
    i.icon-left(
      v-if="beforePage"
      @click="goToPage"
    )
    h3 {{ title }}
    span(
      v-if="subtitle"
    ) {{ subtitle }}
    .c-title__options
      slot
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    title: {
      required: true,
      type: String
    },
    subtitle: {
      required: false,
      type: String
    },
    beforePage: {
      required: false,
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    goToPage () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
