<template lang="pug">
  .c-page
    v-title(
      title="Vendedora / Liquidación"
    )
      // a.e-btn.disabled
        i.icon-printer
        | Copiar
      // a.e-btn.tertiary
        i.icon-printer
        | Imprimir
      // a.e-btn.secondary
        i.icon-printer
        | Excel
    .c-page__filters.c-page__filters--multiple
      .c-page__filters--multiple-row
        v-select(
          label="Métodos de pago:"
          inputStyle="row"
          @change="search"
          v-model="currentFilters.methods"
          :options="filters.methods"
        )
        //v-select(
          label="Tipo de cliente:"
          inputStyle="row"
          v-model="currentFilters.typeClient"
          :options="filters.typeClient"
        //)
        v-search(
          type="text"
          inputStyle="row"
          name="search"
          @change="search"
          v-model="currentFilters.search"
          placeholder="1112231232"
        )
      .c-page__filters--multiple-row
        template(
        v-if="liquidar"
        )
          a.e-btn(
          v-if="!isLoading"
          @click="submitLiquidation"
          ) LIQUIDAR
          .e-btn.e-btn--loading(
            v-else
          )
            i.icon-loading
        input-text(
          label="Total:"
          type="number"
          inputStyle="row width-min"
          rules="integer"
          name="price"
          placeholder="S/. 3500"
          v-model="currentFilters.total"
        )
    .c-page__body
      table-liquidation(
        :items="S_SALES"
        @calcTotal="printTotal"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableLiquidation: () => import('@/components/03-organism/tableLiquidation/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      liquidar: true,
      currentFilters: {
        search: '',
        methods: '0',
        typeClient: '1',
        total: '0'
      },
      list: [],
      filters: {
        methods: [
          {
            name: 'Transferencia',
            value: '0'
          },
          {
            name: 'Efectivo',
            value: '1'
          },
          {
            name: 'Tarjeta',
            value: '2'
          }
        ],
        typeClient: [
          {
            name: 'Al por mayor',
            value: '1'
          },
          {
            name: 'Al por menor',
            value: '0'
          }
        ]
      },
      isLoading: false
    }
  },

  computed: {
    ...mapState({
      S_SALES: state => state.Sale.S_SALES
    })
  },

  watch: {},
  created () {
    const idLocal = this.$cookies.get('AUTH_DATA').local.idLocal
    this.A_GET_SALES({ idLocal, today: 1 })
    this.liquidar = true
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_SALES: 'Sale/A_GET_SALES',
      A_SET_LIQUIDATION: 'Sale/A_SET_LIQUIDATION'
    }),
    printTotal (total, lista) {
      this.currentFilters.total = '' + total
      if (lista.length > 0) {
        this.liquidar = true
        lista.forEach(item => {
          this.list.push(item.idDocumentoVentaDetalle)
        })
      } else {
        this.liquidar = false
      }
    },
    search () {
      this.A_GET_SALES({
        search: this.currentFilters.search,
        method: this.currentFilters.methods,
        liquidado: 0
      })
    },
    async submitLiquidation () {
      try {
        this.isLoading = true
        await this.A_SET_LIQUIDATION({ data: this.list })
        this.A_GET_SALES({ idLocal: this.$cookies.get('AUTH_DATA').local.idLocal, today: 1 })
        this.isLoading = false
      } catch (error) {
        console.error('LOADING PAGE LOGIN', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
