$navbar-size: 230px;

.c-layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-image: url('assets/images/wallpaper.png');
  background-size: cover;
  background-position-x: right;
}
.c-layout-dashboard {
  width: 100%;
  min-height: 100vh;

  &__navbar {
    background: $g-primary;
    width: $navbar-size;
    flex-shrink: 0;
    // 230px
    flex-grow: 0;
    position: relative;
    transition: all .3s;

    .c-navbar {
      position: fixed;
      left: 0;
      transition: all .3s;
      z-index: 100;
      background-color: $g-primary;
      
      &.active {
        .c-navbar {
          left: 0;
        }
      }
    }
  }
  &__body {
    flex-grow: 1;
    margin-left: 50px;

    > div > .ed-grid {
      max-width: 1600px;
    }
  }
  &.active {
    .c-layout-dashboard__body {
      margin-left: 230px;
    }
  }
}
