.c-login {
  width: 90%;
  max-width: 400px;

  &__banner {
    display: flex;
    align-items: center;

    @include to(m) {
      display: none;
    }

    img {
      width: 100%;

      @include from(lg) {
        width: 95%;
      }
    }
  }
}
