<template lang="pug">
  tbody
    tr
      td {{ position + 1 }}
      td {{ item.type }}
      td {{ item.nroDoc }}
      td {{ item.nombre }}
      td {{ item.cantidad }}
      td {{ item.precioUnitarioProducto }}
      td {{ item.total }}
      td {{ (item.liquidado == 1)? 'Liquidado' : 'Por liquidar' }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    position: {
      required: true
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
