<template lang="pug">
  tbody
    tr
      td {{ id + 1 }}
      td {{ item.Empleado }}
      td {{ item.fechaLiquidado }}
      td {{ item.montoLiquidado }}
      td.center
        router-link(
          :to="{ name: 'ReportLiquidationDetailPage', params: { id: id+1 } }"
        ) Ver más
          i.icon-right.u-m__l
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    id: {
      required: true,
      type: Number
    },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
