<template lang="pug">
  .o-form
    h3.o-form__title {{ title }}
    p.s-center {{ subtitle }}
    .e-btn.e-btn--fullwidth.u-m__t(
      v-if="!isLoading"
      :class="colorConfirm"
      @click="confirmed()"
    ) {{ textConfirm }}
    .e-btn.e-btn--fullwidth.e-btn--loading(
      :class="colorConfirm"
      v-else
    )
      i.icon-loading
    .e-btn.e-btn--fullwidth.disabled.u-m__t(
      v-if="btnDeny"
      @click="denied()"
    ) {{ textDeny }}
</template>
<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    title: {
      required: false,
      type: String,
      default: '¿Está seguro(a) de eliminar?'
    },
    subtitle: {
      required: false,
      type: String,
      default: ''
    },
    textConfirm: {
      required: false,
      type: String,
      default: 'SI, ELIMINAR'
    },
    textDeny: {
      required: false,
      type: String,
      default: 'CANCELAR'
    },
    colorConfirm: {
      required: false,
      type: String,
      default: ''
    },
    isLoading: {
      required: false,
      type: Boolean,
      default: false
    },
    btnDeny: {
      required: false,
      type: Boolean,
      default: true
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    denied () {
      console.log('deny')
      this.$emit('denied', true)
    },
    confirmed () {
      console.log('confirm')
      this.$emit('confirmed', true)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
