<template lang="pug">
  .c-page.c-category
    v-title(
      beforePage
      title="Mantenimiento / Asignación / Asignar Supervisor"
    )
      // a.e-btn.disabled
        i.icon-apple_ico
        | Copiar
      // a.e-btn.tertiary
        i.icon-apple_ico
        | Imprimir
      // a.e-btn.secondary
        i.icon-apple_ico
        | Excel
    .c-page__filters
      v-search(
        type="text"
        label="Buscar"
        inputStyle="row"
        name="search"
        v-model="currentFilters.search"
      )
      v-select(
        label="Local"
        inputStyle="row"
        v-model="currentFilters.local"
        :options="filters.local"
      )
    .c-page__body
      table-assignation-create(
        :items="S_EMPLOYEES"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableAssignationCreate: () => import('@/components/03-organism/tableAssignation/create'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        search: '',
        local: '0'
      },
      filters: {
        local: [
          {
            name: 'Pepa Grande',
            value: '0'
          },
          {
            name: 'marca 2',
            value: '1'
          },
          {
            name: 'marca 3',
            value: '2'
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_CATEGORIES: state => state.Category.S_CATEGORIES,
      S_EMPLOYEES: state => state.Employee.S_EMPLOYEES
    })
  },

  watch: {},
  created () {
    this.A_GET_CATEGORIES()
    this.A_GET_EMPLOYEES({ idPosition: 1, local: 1 })
    this.A_GET_LOCALS()
    console.log('hola mundo')
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CATEGORIES: 'Category/A_GET_CATEGORIES',
      A_GET_EMPLOYEES: 'Employee/A_GET_EMPLOYEES',
      A_GET_LOCALS: 'Local/A_GET_LOCALS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
