<template lang="pug">
  .c-page.c-category
    v-title(
      title="Mantenimiento / Asignación"
    )
      // a.e-btn.disabled
        i.icon-apple_ico
        | Copiar
      // a.e-btn.tertiary
        i.icon-apple_ico
        | Imprimir
      // a.e-btn.secondary
        i.icon-apple_ico
        | Excel
      router-link.e-btn.info(
        :to="{ name: 'AssignmentHistoryPage' }"
      )
        i.icon-apple_ico
        | Historial
    .c-page__tabs
      ul
        li(
          :class="currentFilters.type === null ? 'active': ''"
          @click="tabCurrent(null)"
        ) Todos
        li(
          :class="currentFilters.type === 'assigned' ? 'active': ''"
          @click="tabCurrent('assigned')"
        ) Asignados
        li(
          :class="currentFilters.type === 'unassigned' ? 'active': ''"
          @click="tabCurrent('unassigned')"
        ) Sin asignar
    .c-page__filters
      v-search(
        type="text"
        label="Buscar"
        inputStyle="row"
        name="search"
        v-model="currentFilters.search"
        @change="search"
      )
      v-select(
        v-if="filters.locals.length"
        label="Local"
        inputStyle="row"
        v-model="currentFilters.local"
        :options="filters.locals"
        @change="search"
      )
      v-select(
        v-if="this.filters.employees.length"
        label="Vendedora/Jalador/Sup"
        inputStyle="row"
        v-model="currentFilters.employee"
        :options="filters.employees"
        @change="search"
      )
      router-link.e-btn.info.linear(
        :to="{ name: 'AssignmentAssignPage' }"
      ) ASIGNAR SUPERVISOR
    .c-page__body
      table-assignation(
        :items="S_LOCALS"
        :employees="S_EMPLOYEES"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableAssignation: () => import('@/components/03-organism/tableAssignation/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        type: null,
        search: '',
        employee: '',
        local: ''
      },
      filters: {
        employees: [],
        locals: []
      }
    }
  },

  computed: {
    ...mapState({
      S_LOCALS: state => state.Local.S_LOCALS,
      S_EMPLOYEES: state => state.Local.S_EMPLOYEES
    })
  },

  watch: {},
  async created () {
    const locals = await this.A_GET_LOCALS()
    const employees = await this.A_GET_EMPLOYEES_ALL()
    this.filters.locals = locals.map(el => ({ name: el.nombre, value: String(el.idLocal) }))
    this.filters.locals.unshift({ name: 'Seleccione local', value: '' })
    this.filters.employees = employees.map(el => ({ name: `${el.nombres} ${el.apellidoPaterno}`, value: String(el.idEmpleado) }))
    this.filters.employees.unshift({ name: 'Seleccione empleado', value: '' })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_LOCALS: 'Local/A_GET_LOCALS',
      A_GET_EMPLOYEES: 'Local/A_GET_EMPLOYEES',
      A_GET_EMPLOYEES_ALL: 'Employee/A_GET_EMPLOYEES'
    }),
    tabCurrent (type) {
      this.currentFilters.type = type
      this.search()
    },
    async search () {
      try {
        await this.A_GET_LOCALS(this.currentFilters)
      } catch (error) {
        console.log('Somwthing went error', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
