<template lang="pug">
  .c-page
    v-title(
      beforePage
      title="Mantenimiento / Asignación / Historial"
    )
      // a.e-btn.disabled
        i.icon-apple_ico
        | Copiar
      // a.e-btn.tertiary
        i.icon-apple_ico
        | Imprimir
      // a.e-btn.secondary
        i.icon-apple_ico
        | Excel
    .c-page__filters.c-page__filters--multiple
      .c-page__filters--multiple-row.start
        v-search(
          label="Buscar"
          type="text"
          inputStyle="row"
          name="search"
          v-model="currentFilters.search"
          placeholder="Felipe Arias"
        )
        v-select(
          label="Local"
          inputStyle="row"
          v-model="currentFilters.local"
          :options="filters.local"
        )
        v-select(
          label="Vendedora/Jalador/Sup"
          inputStyle="row"
          v-model="currentFilters.sellers"
          :options="filters.sellers"
        )
      .c-page__filters--multiple-row.start
        v-date(
          label="Fecha inicio:"
          inputStyle="row"
          format="YYYY-MM-DD"
          @value="updateDateStart"
          v-model="currentFilters.dateStart"
        )
        v-date(
          label="Fin:"
          inputStyle="row"
          format="YYYY-MM-DD"
          @value="updateDateEnd"
          v-model="currentFilters.dateEnd"
        )
        v-select(
          label="Mes"
          inputStyle="row"
          v-model="currentFilters.month"
          :options="filters.month"
        )
        v-select(
          label="Día"
          inputStyle="row"
          v-model="currentFilters.day"
          :options="filters.day"
        )
    .c-page__body
      table-assignation-history(
        :items="S_CATEGORIES"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableAssignationHistory: () => import('@/components/03-organism/tableAssignation/history'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        dateStart: '',
        dateEnd: '',
        search: '',
        sellers: '0',
        local: '0',
        month: '1',
        day: '1'
      },
      filters: {
        sellers: [
          {
            name: 'Enero',
            value: '0'
          },
          {
            name: 'Febrero',
            value: '1'
          },
          {
            name: 'Marzo',
            value: '2'
          },
          {
            name: 'Abril',
            value: '3'
          },
          {
            name: 'Mayo',
            value: '4'
          },
          {
            name: 'Junio',
            value: '5'
          },
          {
            name: 'Julio',
            value: '6'
          },
          {
            name: 'Agosto',
            value: '7'
          },
          {
            name: 'Septiembre',
            value: '8'
          },
          {
            name: 'Octubre',
            value: '9'
          },
          {
            name: 'Noviembre',
            value: '10'
          },
          {
            name: 'Diciembre',
            value: '11'
          }
        ],
        local: [
          {
            name: 'Tradicional',
            value: '0'
          },
          {
            name: 'Nuevo',
            value: '1'
          }
        ],
        month: [
          {
            name: 'Enero',
            value: '0'
          },
          {
            name: 'Febrero',
            value: '1'
          },
          {
            name: 'Marzo',
            value: '2'
          },
          {
            name: 'Abril',
            value: '3'
          },
          {
            name: 'Mayo',
            value: '4'
          },
          {
            name: 'Junio',
            value: '5'
          },
          {
            name: 'Julio',
            value: '6'
          },
          {
            name: 'Agosto',
            value: '7'
          },
          {
            name: 'Septiembre',
            value: '8'
          },
          {
            name: 'Octubre',
            value: '9'
          },
          {
            name: 'Noviembre',
            value: '10'
          },
          {
            name: 'Diciembre',
            value: '11'
          }
        ],
        day: [
          {
            name: 'Lunes',
            value: '1'
          },
          {
            name: 'Martes',
            value: '0'
          },
          {
            name: 'Miercoles',
            value: '3'
          },
          {
            name: 'Jueves',
            value: '4'
          },
          {
            name: 'Viernes',
            value: '5'
          },
          {
            name: 'Sabado',
            value: '6'
          },
          {
            name: 'Domingo',
            value: '2'
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_CATEGORIES: state => state.Category.S_CATEGORIES
    })
  },

  watch: {},
  created () {
    this.A_GET_CATEGORIES()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CATEGORIES: 'Category/A_GET_CATEGORIES'
    }),
    updateDateStart (e) {
      this.currentFilters.dateStart = e
    },
    updateDateEnd (e) {
      this.currentFilters.dateEnd = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
