<template lang="pug">
  .c-page.c-category
    v-title(
      title="Campañas"
    )
      // a.e-btn.disabled
        i.icon-apple_ico
        | Copiar
      // a.e-btn.tertiary
        i.icon-apple_ico
        | Imprimir
      // a.e-btn.secondary
        i.icon-apple_ico
        | Excel
    .c-page__tabs
      ul
        li(
          :class="currentFilters.type === 'current' ? 'active': ''"
          @click="currentFilter('current')"
        ) Vigentes
        li(
          :class="currentFilters.type === 'past' ? 'active': ''"
          @click="currentFilter('past')"
        ) Pasadas
    .c-page__filters
      v-search(
        type="text"
        label="Buscar"
        inputStyle="row"
        name="search"
        @change="search"
        v-model="currentFilters.search"
      )
      v-select(
        label="Distritos"
        @change="search()"
        inputStyle="row"
        v-model="currentFilters.district"
        :options="G_DISTRICTS"
      )
      v-select(
        label="Marcas"
        @change="search"
        inputStyle="row"
        v-model="currentFilters.brand"
        :options="G_BRANDS"
      )
      a.e-btn.info(
        @click="$modal.show('campaign-create')"
      ) + AGREGAR CAMPAÑA
    .c-page__body
      table-current(
        v-if="currentFilters.type === 'current'"
        :items="S_CURRENTS"
      )
      table-past(
        v-else
        :items="S_LASTS"
      )
    .c-page__footer
      v-pagination
    modal(
      name="campaign-create"
      :width="550"
      :scrollable="true"
      height="auto"
      class="c-modal c-modal--form"
      :shiftY="0.2"
    )
      campaign-create(
        @success="createCampaign"
      )
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableCurrent: () => import('@/components/03-organism/tableCampaign/default'),
    tablePast: () => import('@/components/03-organism/tableCampaign/past'),
    campaignCreate: () => import('@/components/02-molecule/campaign/create'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },
  data () {
    return {
      data: '',
      currentFilters: {
        type: 'current',
        search: '',
        district: '',
        brand: ''
      },
      filters: {
      }
    }
  },

  computed: {
    ...mapState({
      S_LASTS: state => state.Campaign.S_LASTS,
      S_CURRENTS: state => state.Campaign.S_CURRENTS,
      S_DISTRICTS: state => state.District.S_DISTRICTS,
      S_BRANDS: state => state.Product.G_BRANDS
    }),
    ...mapGetters({
      G_DISTRICTS: 'District/G_DISTRICTS',
      G_BRANDS: 'Product/G_BRANDS'
    })
  },

  watch: {},
  created () {
    this.A_GET_LASTS()
    this.A_GET_CURRENT()
    this.A_GET_LOCALS()
    this.A_GET_CATEGORIES()
    this.A_GET_DISTRICTS()
    this.A_GET_BRAND()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_LASTS: 'Campaign/A_GET_LASTS',
      A_GET_CURRENT: 'Campaign/A_GET_CURRENT',
      A_GET_LOCALS: 'Local/A_GET_LOCALS',
      A_GET_CATEGORIES: 'Category/A_GET_CATEGORIES',
      A_GET_DISTRICTS: 'District/A_GET_DISTRICTS',
      A_GET_BRAND: 'Product/A_GET_BRANDS'
    }),
    createCampaign () {
      // console.log('emit form')
      this.$modal.hide('campaign-create')
      this.A_GET_CURRENT()
    },
    search () {
      if (this.currentFilters.type === 'current') {
        this.A_GET_CURRENT({
          search: this.currentFilters.search,
          district: this.currentFilters.district,
          brand: this.currentFilters.brand
        })
      } else {
        this.A_GET_LASTS({
          search: this.currentFilters.search,
          district: this.currentFilters.district,
          brand: this.currentFilters.brand
        })
      }
    },
    currentFilter (type) {
      this.currentFilters.type = type
      if (type === 'current') { this.A_GET_CURRENT() } else { this.A_GET_LASTS() }
      this.currentFilters.search = ''
      this.currentFilters.district = ''
      this.currentFilters.brand = ''
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
