<template lang="pug">
  .c-page.c-category
    v-title(
      beforePage
      title="Lista de clientes"
      subtitle="(195 clientes)"
    )
      // a.e-btn.disabled
        i.icon-apple_ico
        | Copiar
      // a.e-btn.tertiary
        i.icon-apple_ico
        | Imprimir
      // a.e-btn.secondary
        i.icon-apple_ico
        | Excel
    .c-page__filters
      v-search(
        type="text"
        label="Buscar"
        inputStyle="row"
        name="search"
        v-model="currentFilters.search"
      )
      v-select(
        label="Codigos"
        inputStyle="row"
        v-model="currentFilters.codes"
        :options="filters.codes"
      )
      .c-page__report
        ul(style="margin-top:0.2rem")
          li
            span(style="color: #B9B93A") 25
            span /195
    .c-page__body
      table-client(
        :items="S_CLIENTS"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableClient: () => import('@/components/03-organism/tableCampaign/campaignClient'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        search: '',
        codes: '0'
      },
      filters: {
        codes: [
          {
            name: 'Canjeados',
            value: '0'
          },
          {
            name: 'opcion 2',
            value: '1'
          },
          {
            name: 'opcion 3',
            value: '2'
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_CLIENTS: state => state.Client.S_CLIENTS
    })
  },

  watch: {},
  created () {
    this.A_GET_CAMPAIGN_CLIENTS(this.$route.params.id)
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CAMPAIGN_CLIENTS: 'Client/A_GET_CAMPAIGN_CLIENTS'
    }),
    closeModal (e) {
      console.log(e)
      if (e) {
        this.$modal.hide('category-create')
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
