<template lang="pug">
  .c-page
    v-title(
      title="Vendedora / Anulación"
    )
      // a.e-btn.disabled
        i.icon-printer
        | Copiar
      // a.e-btn.tertiary
        i.icon-printer
        | Imprimir
      // a.e-btn.secondary
        i.icon-printer
        | Excel
    .c-page__filters.c-page__filters--multiple
      .c-page__filters--multiple-row.start
        v-date(
          label="Fecha inicio:"
          inputStyle="row"
          format="YYYY-MM-DD"
          v-model="currentFilters.dateStart"
        )
        v-date(
          label="Fin:"
          inputStyle="row"
          format="YYYY-MM-DD"
          v-model="currentFilters.dateEnd"
        )
        v-search(
          type="text"
          inputStyle="row"
          name="search"
          v-model="currentFilters.search"
          placeholder="Felipe Arias"
        )
      .c-page__filters--multiple-row.start
        v-select(
          label="Métodos de pago:"
          inputStyle="row"
          v-model="currentFilters.methods"
          :options="filters.methods"
        )
        v-select(
          label="Tipo de cliente:"
          inputStyle="row"
          v-model="currentFilters.typeClient"
          :options="filters.typeClient"
        )
        v-select(
          label="Delivery:"
          inputStyle="row"
          v-model="currentFilters.delivery"
          :options="filters.delivery"
        )
    .c-page__body
      table-anulation(
        :items="S_SALES"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableAnulation: () => import('@/components/03-organism/tableAnulation/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        dateStart: '',
        dateEnd: '',
        search: '',
        categories: '0',
        methods: '0',
        typeClient: '1',
        delivery: '1',
        gender: 'm'
      },
      filters: {
        categories: [
          {
            name: 'Enero',
            value: '0'
          },
          {
            name: 'Febrero',
            value: '1'
          },
          {
            name: 'Marzo',
            value: '2'
          },
          {
            name: 'Abril',
            value: '3'
          },
          {
            name: 'Mayo',
            value: '4'
          },
          {
            name: 'Junio',
            value: '5'
          },
          {
            name: 'Julio',
            value: '6'
          },
          {
            name: 'Agosto',
            value: '7'
          },
          {
            name: 'Septiembre',
            value: '8'
          },
          {
            name: 'Octubre',
            value: '9'
          },
          {
            name: 'Noviembre',
            value: '10'
          },
          {
            name: 'Diciembre',
            value: '11'
          }
        ],
        methods: [
          {
            name: 'Transferencia',
            value: '0'
          },
          {
            name: 'Tarjeta',
            value: '1'
          }
        ],
        typeClient: [
          {
            name: 'Al por mayor',
            value: '1'
          },
          {
            name: 'Al por menor',
            value: '0'
          }
        ],
        delivery: [
          {
            name: 'Sin delivery',
            value: '1'
          },
          {
            name: 'Con delivery',
            value: '0'
          }
        ],
        gender: [
          {
            name: 'M',
            value: 'm'
          },
          {
            name: 'F',
            value: 'f'
          }
        ]
      },
      clientList: [
        {
          id: 0,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: 1,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: 2,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: 3,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: 4,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: 5,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: 6,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },

        {
          id: 7,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: 8,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: 9,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: 10,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: 11,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: 12,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: 13,
          type: '10',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        }
      ]
    }
  },

  computed: {
    ...mapState({
      S_SALES: state => state.Sale.S_SALES
    })
  },

  watch: {},
  created () {
    const idLocal = this.$cookies.get('AUTH_DATA').local.idLocal
    this.A_GET_SALES({ habilitado: 1, today: 0, idLocal })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_SALES: 'Sale/A_GET_SALES'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
