<template lang="pug">
  tbody
    tr
      td Envío {{ padLeft(item.idSolicitud, 5) }}
      td {{ item.nombreLocal }}
      td {{ item.fecha }}
      td {{ `${item.nombreEmpleado} ${item.apellidoPaterno} ${item.apellidoMaterno}` }}
      td.text-rigth
        //a.e-btn.e-btn--icon.info(
          :href="`https://apidona.globoazul.pe/index.php/api/tableros/solicitados/exportPdf`"
          target="_blank"
        //) Pdf
        router-link.nowrap(
          :to="{ name: 'BoardAcceptRequestProductPage', params: { id: item.idSolicitud } }"
        ) Ver solicitud
          i.icon-right
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    padLeft (value, length) {
      return (value.toString().length < length)
        ? this.padLeft('0' + value, length)
        : value
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
