<template lang="pug">
  .ed-grid.m-grid-10
    template(
      v-if="!remove"
    )
      .m-cols-2
        input-text(
          label="#COD"
          type="text"
          name="codigo"
          disabled
          v-model="item.codigo"
        )
      .m-cols-4
        input-text(
          label="Producto"
          type="text"
          name="nombre"
          placeholder="0"
          disabled
          v-model="item.nombre"
        )
      // .m-cols-4
        v-select(
          label="Producto"
          v-model="item.idProducto"
          rules="required"
          :options="G_PRODUCTS"
          @change="getProduct"
        )
      .m-cols-1
        input-text(
          label="Cantidad"
          type="number"
          :rules="`required|integer|between:1,${item.stock}`"
          name="cantidad"
          placeholder="0"
          v-model="item.solicitado"
        )
      .m-cols-1
        input-text(
          label="Stock"
          type="number"
          name="stock"
          placeholder="0"
          disabled
          v-model="item.stock"
        )
      .m-cols-2.nowrap
        br
        a.e-btn.e-btn--icon.u-m__t(
          @click="$modal.show(`confirm-remove-${id}`)"
        )
          i.icon-trash
      modal(
        :name="`confirm-remove-${id}`"
        :width="450"
        height="auto"
        :adaptive="true"
        class="c-modal"
        :shiftY="0.2"
      )
        form-confirm(
          title="Eliminar asignación"
          subtitle="¿Esta seguro de eliminar los productos asignados a este local?"
          @confirmed="confirmModal(id)"
          @denied="closeModal(`confirm-remove-${id}`)"
        )
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
    id: {
      required: true,
      type: Number
    },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      remove: false
    }
  },

  computed: {
    ...mapGetters({
      G_PRODUCTS: 'Product/G_PRODUCTS'
    })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCT: 'Product/A_GET_PRODUCT'
    }),
    closeModal (name) {
      this.$modal.hide(name)
    },
    confirmModal (id) {
      this.item.solicitado = '0'
      this.closeModal(`confirm-remove-${id}`)
      this.remove = true
    },
    async getProduct (id) {
      try {
        const { data } = await this.A_GET_PRODUCT({ id, params: { idLocal: this.$cookies.get('AUTH_DATA').local.idLocal } })
        this.item.stock = String(data.stock)
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
