<template lang="pug">
  .c-page.c-category
    v-title(
      title="Inventario"
    )
      a.e-btn.u-m__r(
        @click="check = !check"
      ) REVISAR
    .c-page__tabs
      ul
        li(
          :class="currentFilters.switch === 'list' ? 'active': ''"
          @click="currentFilters.switch = 'list'; currentFilter('list'); clearFrm()"
        ) Lista
        li(
          :class="currentFilters.switch === 'history' ? 'active': ''"
          @click="currentFilters.switch = 'history'; currentFilter('history'); clearFrm()"
        ) Historial
        li(
          :class="currentFilters.switch === 'solicitud' ? 'active': ''"
          @click="currentFilters.switch = 'solicitud'; currentFilter('solicitud'); clearFrm()"
        ) Solicitudes
    .c-page__filters
      template(v-if=" currentFilters.switch === 'history' || currentFilters.switch === 'solicitud' ")
        v-date(
            label="Fecha de Solicitud"
            inputStyle="row"
            format="YYYY-MM-DD"
            @change="search(currentFilters.switch)"
            v-model="currentFilters.dateRequest"
        )
      template(v-if=" currentFilters.switch === 'list' ")
        v-search(
          label="Buscar"
          type="text"
          inputStyle="row"
          name="search"
          @change="search(currentFilters.switch)"
          v-model="currentFilters.search"
        )
      v-select(
        label="Tipo de producto"
        inputStyle="row"
        v-model="currentFilters.typeProduct"
        @change="search(currentFilters.switch)"
        :options="filters.typesProduct"
      )
      template( v-if="currentFilters.switch === 'list'" )
        router-link.e-btn.inforouter-link.e-btn.info(
          :to="{ name: 'SaleswomanStockTakingRequestPage' }"
        ) SOLICITAR
    validation-observer(
      v-if="currentFilters.switch === 'list'"
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    )
      .c-page__body(
        v-if="currentFilters.switch === 'list'"
      )
        table-stocktaking(
          :check="check"
          :items="data.productos"
        )
      .c-page__footer(
        v-if="currentFilters.switch === 'list'"
      )
        template(
          v-if="check"
        )
          a.e-btn.secondary(
            v-if="!isLoading"
            @click="handleSubmit(onSubmit)"
          ) APLICAR INICIO
          .e-btn.secondary.e-btn--loading.m-cols-2(
            v-else
          )
            i.icon-loading
        v-pagination
    template(
      v-else
    )
      .c-page__body(
        v-if="currentFilters.switch === 'history'"
      )
        table-stocktaking-history(
          :items="S_HISTORY"
        )
      .c-page__footer(
        v-if="currentFilters.switch === 'history'"
      )
        v-pagination
      .c-page__body(
        v-if="currentFilters.switch === 'solicitud'"
      )
        table-stocktaking-request(
          :items="S_REQUEST"
        )
      .c-page__footer(
        v-if="currentFilters.switch === 'solicitud'"
      )
        v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableStocktaking: () => import('@/components/03-organism/tableStockTaking/default'),
    tableStocktakingHistory: () => import('@/components/03-organism/tableStockTaking/history'),
    tableStocktakingRequest: () => import('@/components/03-organism/tableStockTaking/request'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        productos: []
      },
      currentFilters: {
        switch: 'list',
        search: '',
        dateVencimiento: '',
        dateCut: '',
        dateRequest: '',
        local: '0',
        typeProduct: '0',
        producto: '0',
        presentacion: '0'
      },
      filters: {
        locales: [
          {
            name: 'Peppa Pig',
            value: '0'
          }
        ],
        typesProduct: [
          {
            name: 'Selecionar',
            value: '0'
          }
        ],
        productos: [
          {
            name: 'Lorem ipsum',
            value: '0'
          }
        ],
        presentaciones: [
          {
            name: 'Lorem ipsum',
            value: '0'
          }
        ]
      },
      check: false,
      isLoading: false
    }
  },

  computed: {
    ...mapState({
      S_HISTORY: state => state.Stock.S_HISTORY,
      S_REQUEST: state => state.Stock.S_REQUEST
    })
  },

  watch: {},
  async created () {
    const categories = await this.A_GET_CATEGORIES({})
    this.filters.typesProduct = categories.map(el => ({ name: el.nombre, value: String(el.idCategoria) }))
    this.currentFilter(this.currentFilters.switch)
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_HISTORY: 'Stock/A_GET_HISTORY',
      A_GET_REQUEST: 'Stock/A_GET_REQUEST',
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS',
      A_SET_STOCKVERIFICATION: 'Stock/A_SET_STOCKVERIFICATION',
      A_GET_CATEGORIES: 'Category/A_GET_CATEGORIES'
    }),
    async onSubmit () {
      try {
        this.isLoading = true
        const lotesgroup = this.data.productos.map(el => el.lotes)
        const stockVerificacion = {
          idLocal: this.$cookies.get('AUTH_DATA').local.idLocal,
          idEmpleado: this.$cookies.get('AUTH_DATA').empleado.idEmpleado,
          fecha: new Date().toJSON(),
          devolucion: 0,
          stockDetalle: lotesgroup.reduce((acc, el) => acc.concat(el), [])
        }
        const result = await this.A_SET_STOCKVERIFICATION(stockVerificacion)
        if (result.status) {
          this.check = false
          this.isLoading = false
        }
      } catch (error) {
        console.log('Something a went error:', error)
      }
    },
    async search (type) {
      this.currentFilter(type)
    },
    async currentFilter (type) {
      const idLocal = this.$cookies.get('AUTH_DATA').local.idLocal
      switch (type) {
        case 'list':
          this.data.productos = await this.A_GET_PRODUCTS({
            idLocal: idLocal,
            stateStock: 1,
            search: this.currentFilters.search,
            idCategory: this.currentFilters.typeProduct,
            dateRequest: this.currentFilters.dateRequest
          })
          break
        case 'history':
          this.data.productos = await this.A_GET_HISTORY({
            idLocal: idLocal,
            search: this.currentFilters.search,
            idCategory: this.currentFilters.typeProduct,
            dateRequest: this.currentFilters.dateRequest
          })
          break
        case 'solicitud':
          this.data.productos = await this.A_GET_REQUEST({
            idLocal: idLocal,
            search: this.currentFilters.search,
            idCategory: this.currentFilters.typeProduct,
            dateRequest: this.currentFilters.dateRequest
          })
          break
      }
    },
    async clearFrm () {
      this.currentFilters.typeProduct = '0'
      this.currentFilters.search = ''
      this.currentFilters.dateRequest = ''
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
