<template lang="pug">
  .c-page.c-saleswoman-client-create
    v-title(
      beforePage
      title="Inventario / Solicitar"
    )
    validation-observer.c-page__body(
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    )
      .c-saleswoman-client-create__seccion
        template(
          v-for="(product, key) in data.SolicitudDetalles"
        )
          row-request(
            :id="key"
            :item="product"
            @rowDelete="rowDelete"
          )
        .ed-grid.m-grid-12
          .m-cols-2
            a.e-btn--fullwidth(
              @click="addRow"
            ) AGREGAR PRODUCTO
      br
      .m-cols-10
        button.e-btn.info(
          @click="$modal.show('confirm-request')"
        ) SOLICITAR A ALMACEN
      modal(
        :name="'confirm-request'"
        :width="450"
        height="auto"
        :adaptive="true"
        class="c-modal"
        :shiftY="0.2"
      )
        form-confirm(
          title="¿Esta seguro de enviar este solicitud?"
          subtitle="Sed molestie vel magna nec ornare. Phasellus lobortis arcu facilisis, sagittis tellus in, mattis lorem. Vestibulum nulla lacus, faucibus eget placerat quis, vestibulum eu enim."
          textConfirm="ENVIAR"
          colorConfirm="info"
          :isLoading="isLoading"
          @confirmed="handleSubmit(onSubmit)"
          @denied="closeModal('confirm-request')"
        )
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default'),
    rowRequest: () => import('@/components/02-molecule/boardProduct/rowRequest'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        idLocal: this.$cookies.get('AUTH_DATA').local.idLocal,
        idEmpleado: this.$cookies.get('AUTH_ID'),
        fecha: new Date().toJSON(),
        SolicitudDetalles: [
          {
            idProducto: '',
            solicitado: '',
            cantidad: '',
            stock: ''
          }
        ]
      },
      isLoading: false
    }
  },

  computed: {},

  watch: {},
  created () {
    this.A_GET_PRODUCTS()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS',
      A_SET_REQUEST: 'Request/A_SET_REQUEST'
    }),
    addRow () {
      this.data.SolicitudDetalles.push({
        idProducto: '',
        solicitado: '',
        cantidad: '',
        stock: ''
      })
    },
    rowDelete (id) {
      this.data.SolicitudDetalles.splice(id, 1)
    },
    closeModal (name) {
      this.$modal.hide(name)
    },
    async onSubmit () {
      try {
        this.isLoading = true
        this.data.SolicitudDetalles.forEach((el, key) => {
          this.data.SolicitudDetalles[key].solicitado = el.cantidad
        })
        const data = await this.A_SET_REQUEST(this.data)
        if (data.status) {
          this.$router.push({ name: 'SaleswomanStockTakingPage' })
        } else {
          this.isLoading = false
          this.closeModal('confirm-request')
        }
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
