<template lang="pug">
  .c-page.c-saleswoman-client-create
    v-title(
      beforePage
      title="Inventario / Envio de almacén/ Transferencias del otro local."
    )
    .c-page__body
      .c-saleswoman-client-create__seccion
        .ed-grid.m-grid-12(
          v-for="(product, key) in data.transfer.transferenciaDetalles"
        )
          .m-cols-2
            input-text(
              label="#COD"
              type="text"
              name="codigoProducto"
              disabled
              v-model="product.codigoProducto"
            )
          .m-cols-4
            input-text(
              label="Producto"
              type="text"
              name="nombreProducto"
              disabled
              v-model="product.nombreProducto"
            )
          .m-cols-1
            input-text(
              label="Enviado"
              type="text"
              name="enviado"
              disabled
              v-model="product.solicitado"
            )
          .m-cols-2
            input-text(
              label="Vas a recibir"
              type="text"
              name="recibira"
              disabled
              v-model="product.cantidad"
            )
          .m-cols-3
            br
            span (Actual: {{ product.stockProducto }})
      // span Llega en {{ data.llega }} días.
      br
      br
      .m-cols-10
        button.e-btn.info(
          v-if="!isLoading"
          @click="vistar"
        ) REPORTE VISTO
        .e-btn.info.e-btn--loading(
          v-else
        )
          i.icon-loading
</template>

<script>
import { mapActions } from 'vuex'
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        transfer: {},
        llega: 'x'
      },
      isLoading: false
    }
  },

  computed: {},

  watch: {},
  async created () {
    this.data.transfer = await this.A_GET_TRANSFER({ id: this.$route.params.id })
    this.data.transfer.transferenciaDetalles.forEach((el, i) => {
      this.data.transfer.transferenciaDetalles[i].solicitado = String(el.solicitado)
      this.data.transfer.transferenciaDetalles[i].cantidad = String(el.cantidad)
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_TRANSFER: 'Transfer/A_GET_TRANSFER',
      A_VIEW_TRANSFER: 'Transfer/A_VIEW_TRANSFER'
    }),
    async vistar () {
      this.isLoading = true
      try {
        const data = await this.A_VIEW_TRANSFER(this.$route.params.id)
        if (data.status) {
          this.$router.push({ name: 'SaleswomanTransferPage' })
        }
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
