<template lang="pug">
  validation-observer(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  ).o-form.ed-grid.m-grid-3
    h3.o-form__title.m-cols-3 Agregar Producto
    .input-group.m-cols-3
      v-select(
        label="Categoría"
        v-model="data.idCategoria"
        :options="G_CATEGORIES"
      )
    .input-group.m-cols-3
      input-text(
        label="Nombre"
        type="text"
        rules="required"
        name="name"
        v-model="data.nombre"
      )
    .input-group.m-cols-1
      v-radio(
        label="¿La presentación está Kg?"
        v-model="data.presentation"
        :options="options.presentation"
        name="radio-presentation"
        inputStyle="row"
      )
    .input-group.m-cols-1(
      v-if="data.presentation !== '1'"
    )
      input-text(
        label="Presentación (unid)"
        type="number"
        rules="required|integer"
        name="unids"
        v-model="data.unids"
      )
    .input-group.m-cols-1
      input-text(
        :label="data.presentation === '1' ? 'Presentación (Kg)' : '¿Cuanto pesan? (Kg)'"
        type="number"
        rules="required|decimal"
        name="weight"
        v-model="data.weight"
      )
    .input-group.m-cols-3
      input-text(
        label="Stock*"
        type="number"
        rules="required|integer"
        name="stock"
        v-model="data.stockFisico"
      )
    .input-group.m-cols-3
      input-text(
        label="Precio"
        type="number"
        rules="required|decimal"
        name="price"
        v-model="data.precioVenta"
      )
    button.e-btn.e-btn--fullwidth.o-form__footer.m-cols-3(
      v-if="!isLoading"
      @click="handleSubmit(onSubmit)"
    ) AGREGAR
    .e-btn.e-btn--fullwidth.e-btn--loading.o-form__footer.m-cols-3(
      v-else
    )
      i.icon-loading
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/default'),
    textArea: () => import('@/components/02-molecule/formElements/area'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    vRadio: () => import('@/components/02-molecule/formElements/radio')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      isLoading: false,
      data: {
        presentation: '',
        weight: '',
        unids: '',

        codigo: '',
        descripcion: '',
        idCategoria: '',
        imagen: '',
        marca: '',
        nombre: null,
        precioVenta: null,
        stockFisico: null,
        stockLogico: ''
      },
      options: {
        presentation: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ]
      }
    }
  },

  computed: {
    ...mapGetters({
      G_CATEGORIES: 'Category/G_CATEGORIES'
    })
  },

  watch: {},
  created () {},
  mounted () {
  },
  updated () {},
  methods: {
    ...mapActions({
      A_SET_PRODUCT: 'Product/A_SET_PRODUCT'
    }),
    async onSubmit () {
      this.isLoading = true
      try {
        await this.A_SET_PRODUCT({ producto: this.data })
        this.isLoading = false
        this.$emit('success', true)
      } catch (error) {
        console.error('LOADING CREATE PRODUCT', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
