<template lang="pug">
  validation-observer(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  ).o-form.ed-grid.m-grid-3
    h3.o-form__title.m-cols-3 Editar Producto
    .input-group.m-cols-3
      v-select(
        label="Categoría"
        v-model="data.idCategoria"
        :options="G_CATEGORIES"
      )
    .input-group.m-cols-3
      input-text(
        label="Nombre"
        type="text"
        rules="required"
        name="name"
        v-model="data.nombre"
      )
    .input-group.m-cols-1
      v-radio(
        label="¿La presentación está Kg?"
        v-model="data.presentation"
        :options="options.presentation"
        name="radio-presentation"
        inputStyle="row"
      )
    .input-group.m-cols-1(
      v-if="data.presentation !== '1'"
    )
      input-text(
        label="Presentación (unid)"
        type="number"
        rules="required|integer"
        name="unids"
        v-model="data.unids"
      )
    .input-group.m-cols-1
      input-text(
        :label="data.presentation === '1' ? 'Presentación (Kg)' : '¿Cuanto pesan? (Kg)'"
        type="number"
        rules="required|decimal"
        name="weight"
        v-model="data.weight"
      )
    .input-group.m-cols-3
      input-text(
        label="Stock*"
        type="number"
        rules="required|integer"
        name="stock"
        v-model="data.stockFisico"
      )
    .input-group.m-cols-3
      input-text(
        label="Precio"
        type="number"
        rules="required|decimal"
        name="price"
        v-model="data.precioVenta"
      )
    button.e-btn.e-btn--fullwidth.o-form__footer.m-cols-3(
      v-if="!isLoading"
      @click="handleSubmit(onSubmit)"
    ) ACTUALIZAR
    .e-btn.e-btn--fullwidth.e-btn--loading.o-form__footer.m-cols-3(
      v-else
    )
      i.icon-loading
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/default'),
    textArea: () => import('@/components/02-molecule/formElements/area'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    vRadio: () => import('@/components/02-molecule/formElements/radio')
  },
  props: {
    // propierty: { required: false, type: String },
    product: {
      required: true,
      type: Object
    }
  },
  data () {
    return {
      isLoading: false,
      data: {
        idProducto: null,
        idCategoria: '',
        nombre: '',
        descripcion: '',
        presentation: '',
        weight: '',
        stockFisico: null,
        stockLogico: null,
        precioVenta: null,
        unids: '',
        marca: '',
        imagen: '',
        codigo: ''
      },
      options: {
        category: [
          {
            name: 'category 1',
            value: '0'
          },
          {
            name: 'category 2',
            value: '1'
          }
        ],
        presentation: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ]
      }
    }
  },

  computed: {
    ...mapGetters({
      G_CATEGORIES: 'Category/G_CATEGORIES'
    })
  },

  watch: {},
  created () {
    this.data.idProducto = this.product.idProducto
    this.data.nombre = this.product.nombre
    this.data.descripcion = this.product.descripcion
    this.data.idCategoria = String(this.product.idCategoria)
    this.data.stockFisico = String(this.product.stockFisico)
    this.data.presentation = String(this.product.presentacion)
    this.data.stockLogico = this.product.stockLogico
    this.data.precioVenta = this.product.precioVenta
    this.data.marca = this.product.marca
    this.data.imagen = this.product.imagen
    this.data.codigo = this.product.codigo
    this.data.unids = String(this.product.unidades)
    this.data.weight = this.product.peso
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_UPDATE_PRODUCT: 'Product/A_UPDATE_PRODUCT'
    }),
    async onSubmit () {
      this.isLoading = true
      try {
        const employee = await this.A_UPDATE_PRODUCT({ producto: this.data })
        console.log('true', employee)
        this.isLoading = false
        this.$emit('success', employee)
      } catch (error) {
        console.error('LOADING PAGE UPDATED PRODUCT', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
