<template lang="pug">
  tbody
    tr
      td {{ id + 1 }}
      td {{ item.nombreCategoria }}
      td {{ item.marca }}
      td {{ item.nombre }}
      td.nowrap S/ {{ item.precioVenta }}
      td.nowrap
        a.e-btn.e-btn--small.info(
          @click="$modal.show(`product-edit-${ item.idProducto }`)"
        ) EDITAR
        a.e-btn.e-btn--small(
          @click="$modal.show(`product-delete-${ item.idProducto }`)"
        ) ELIMINAR
        a.e-btn.e-btn--small.dark(
          v-if="item.habilitado === 1"
          @click="$modal.show(`product-desactive-${ item.idProducto }`)"
        ) DESACTIVAR
        a.e-btn.e-btn--small.secondary(
          v-if="item.habilitado === 2"
          @click="$modal.show(`product-active-${ item.idProducto }`)"
        ) ACTIVAR
    modal(
      :name="'product-edit-' + item.idProducto"
      :width="650"
      height="auto"
      :scrollable="true"
      class="c-modal c-modal--form"
      :shiftY="0.2"
    )
      product-edit(
        :product="item"
        @success="updateRow"
      )
    modal(
      :name="'product-delete-' + item.idProducto"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de eliminar este producto?"
        @confirmed="deleteItem(item.idProducto)"
        @denied="closeModal('product-delete-' + item.idProducto)"
      )
    modal(
      :name="'product-desactive-' + item.idProducto"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de desactivar esta producto?"
        textConfirm="SI, DESACTIVAR"
        @confirmed="desactiveItem(item.idProducto)"
        @denied="closeModal('product-desactive-' + item.idProducto)"
      )
    modal(
      :name="'product-active-' + item.idProducto"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de activar este producto?"
        textConfirm="SI, ACTIVAR"
        @confirmed="activeItem(item.idProducto)"
        @denied="closeModal('product-active-' + item.idProducto)"
      )
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    productEdit: () => import('@/components/02-molecule/product/edit'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    id: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_DELETE_PRODUCT: 'Product/A_DELETE_PRODUCT',
      A_DESACTIVE: 'A_DESACTIVE',
      A_ACTIVE: 'A_ACTIVE',
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS'
    }),
    closeModal (name) {
      console.log('close')
      this.$modal.hide(name)
    },
    async deleteItem (id) {
      this.closeModal('product-delete-' + id)
      this.A_DELETE_PRODUCT(id)
    },
    async desactiveItem (id) {
      await this.A_DESACTIVE({ desactivar: { nombreTabla: 'Producto', id: id } })
      this.closeModal('product-desactive-' + id)
      this.item.habilitado = 2
    },
    async activeItem (id) {
      await this.A_ACTIVE({ activar: { nombreTabla: 'Producto', id: id } })
      this.closeModal('product-active-' + id)
      this.item.habilitado = 1
    },
    updateRow (e) {
      this.item.descripcion = e.descripcion
      this.item.nombre = e.nombre
      this.item.nombreCategoria = e.nombreCategoria
      this.item.idCategoria = String(e.idCategoria)
      this.item.stockFisico = String(e.stockFisico)
      this.item.presentation = String(e.presentacion)
      this.item.stockLogico = e.stockLogico
      this.item.precioVenta = e.precioVenta
      this.item.marca = e.marca
      this.item.imagen = e.imagen
      this.item.codigo = e.codigo
      this.item.unidades = String(e.unids)
      this.item.weight = e.peso
      this.closeModal('product-edit-' + this.item.idProducto)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
