<template lang="pug">
  .c-page.c-saleswoman-client-create
    validation-observer.c-page__body(
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    )
      .c-saleswoman-client-create__seccion
        .ed-grid.m-grid-6
          .m-cols-2
            v-select(
              label="Local a transferir"
              type="text"
              name="local"
              :options="selects.locals"
              v-model="data.idLocalDestino"
              rules="required"
              @change="getLocal"
            )
          .m-cols-2
            input-text(
              label="Razón Social"
              type="text"
              name="razonSocial"
              disabled=true
              v-model="data.razonSocial"
            )
          a.e-btn.transfer(
            @click="$modal.show('confirm-transfer')"
          ) SOLICITAR TRANSFERENCIA
          modal(
            :name="'confirm-transfer'"
            :width="450"
            height="auto"
            :scrollable="true"
            class="c-modal"
            :shiftY="0.2"
          )
            form-confirm(
              title="¿Esta seguro de enviar este solicitud?"
              textConfirm="ENVIAR"
              colorConfirm="info"
              :isLoading="isLoading"
              @confirmed="handleSubmit(onSubmit)"
              @denied="closeModal('confirm-transfer')"
            )
        .c-saleswoman-client-create__seccion
          template(
            v-for="(product, key) in data.transferenciaDetalles"
          )
            row-transfer(
              :id="key"
              :item="product"
              @rowDelete="rowDelete"
            )
        br
        br
        .m-cols-10
          a(
            @click="addRow"
          ) AGREGAR PRODUCTO
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default'),
    rowTransfer: () => import('@/components/02-molecule/stocktakingTransfer/rowTransfer')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        razonSocial: '',
        idLocalDestino: '',
        idEmpleado: this.$cookies.get('AUTH_DATA').empleado.idEmpleado,
        fecha: new Date().toJSON(),
        transferenciaDetalles: [
          {
            idProducto: '',
            cantidad: '',
            stock: ''
          }
        ]
      },
      selects: {
        locals: [
          {
            name: 'Seleccione',
            value: '0'
          }
        ]
      },
      isLoading: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  async created () {
    this.A_GET_PRODUCTS({ idLocal: this.$cookies.get('AUTH_DATA').local.idLocal })
    const locals = await this.A_GET_LOCALS()
    this.selects.locals = locals.map(el => ({ name: el.nombre, value: String(el.idLocal) }))
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_LOCALS: 'Local/A_GET_LOCALS',
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS',
      A_GET_LOCAL: 'Local/A_GET_LOCAL',
      A_SET_TRANSFER: 'Transfer/A_SET_TRANSFER'
    }),
    closeModal (name) {
      this.$modal.hide(name)
    },
    addRow () {
      this.data.transferenciaDetalles.push({
        idProducto: '',
        cantidad: '',
        stock: ''
      })
    },
    rowDelete (id) {
      this.data.transferenciaDetalles.splice(id, 1)
    },
    async getLocal (idLocal) {
      const local = await this.A_GET_LOCAL({ idLocal })
      this.data.razonSocial = local.razonSocial
    },
    async onSubmit () {
      this.isLoading = true
      try {
        this.data.idLocalOrigen = this.$cookies.get('AUTH_DATA').local.idLocal
        this.data.transferenciaDetalles.forEach((el, i) => {
          this.data.transferenciaDetalles[i].solicitado = el.cantidad
        })
        const result = await this.A_SET_TRANSFER(this.data)
        console.log(result)
        if (result.status) {
          this.isLoading = false
          this.closeModal('confirm-transfer')
          this.$router.push({ name: 'SaleswomanTransferPage' })
        }
      } catch (error) {
        console.log('Something a wnet error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
