<template lang="pug">
  validation-observer(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  ).o-form
    h3.o-form__title Agregar categoría
    .input-group
      input-text(
        label="Nombre"
        type="text"
        rules="required"
        name="category"
        v-model="data.nombre"
        @enter="handleSubmit(onSubmit)"
      )
    .input-group
      input-text(
        label="Marca"
        type="text"
        rules="required"
        name="brand"
        v-model="data.descripcion"
        @enter="handleSubmit(onSubmit)"
      )
    button.e-btn.e-btn--fullwidth.o-form__footer(
      v-if="!isLoadingAuth"
      @click="handleSubmit(onSubmit)"
    ) AGREGAR
    .e-btn.e-btn--fullwidth.e-btn--loading.o-form__footer(
      v-else
    )
      i.icon-loading
    p.m-center {{ message }}
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        nombre: '',
        descripcion: ''
      },
      message: '',
      isLoadingAuth: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_CATEGORIE: 'Category/A_SET_CATEGORIE'
    }),
    async onSubmit () {
      this.isLoadingAuth = true
      try {
        const data = await this.A_SET_CATEGORIE({ categoria: this.data })
        if (data.status) {
          this.isLoading = false
          this.$emit('success', true)
        } else {
          this.message = data.message
        }
      } catch (error) {
        console.error('LOADING CREATE CATEGORIE', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
