<template lang="pug">
  validation-observer(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  ).o-form
    h3.o-form__title Editar categoría
    .input-group
      input-text(
        label="Nombre"
        type="text"
        rules="required"
        name="category"
        v-model="data.nombre"
        @enter="handleSubmit(onSubmit)"
      )
    .input-group
      input-text(
        label="Marca"
        type="text"
        rules="required"
        name="brand"
        v-model="data.descripcion"
        @enter="handleSubmit(onSubmit)"
      )
    button.e-btn.e-btn--fullwidth.o-form__footer(
      v-if="!isLoading"
      @click="handleSubmit(onSubmit)"
    ) EDITAR
    .e-btn.e-btn--fullwidth.e-btn--loading.o-form__footer(
      v-else
    )
      i.icon-loading
    p.m-center {{ message }}
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
    category: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: {
        idCategoria: null,
        nombre: '',
        descripcion: '',
        habilitado: ''
      },
      message: '',
      isLoading: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {
    this.data.idCategoria = this.category.idCategoria
    this.data.nombre = this.category.nombre
    this.data.descripcion = this.category.descripcion
    this.data.habilitado = this.category.habilitado
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_UPDATE_CATEGORIE: 'Category/A_UPDATE_CATEGORIE'
    }),
    async onSubmit () {
      this.isLoading = true
      try {
        const category = await this.A_UPDATE_CATEGORIE({ categoria: this.data })
        if (!category.data.status) {
          this.message = category.data.message
        } else {
          this.isLoading = false
          this.$emit('success', category)
        }
      } catch (error) {
        console.error('LOADING UPDATED CATEGORIE', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
