<template lang="pug">
  tbody
    tr
      td {{ id + 1 }}
      td {{ item.nombre }}
      td {{ item.descripcion }}
      td.nowrap
        a.e-btn.e-btn--small.info(
          @click="$modal.show(`category-edit-${ item.idCategoria }`)"
        ) EDITAR
        a.e-btn.e-btn--small(
          @click="$modal.show(`category-delete-${ item.idCategoria }`)"
        ) ELIMINAR
        a.e-btn.e-btn--small.dark(
          v-if="item.habilitado == 1"
          @click="$modal.show(`category-desactive-${ item.idCategoria }`)"
        ) DESACTIVAR
        a.e-btn.e-btn--small.secondary(
          v-else
          @click="$modal.show(`category-active-${ item.idCategoria }`)"
        ) ACTIVAR
    modal(
      :name="'category-edit-' + item.idCategoria"
      :width="550"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      category-edit(
        :category="item"
        @success="updateRow"
      )
    modal(
      :name="'category-desactive-' + item.idCategoria"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de desactivar esta categoría?"
        textConfirm="SI, DESACTIVAR"
        @confirmed="desactiveItem(item.idCategoria)"
        @denied="closeModal('category-desactive-' + item.idCategoria)"
      )
    modal(
      :name="'category-active-' + item.idCategoria"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de activar este categoria?"
        textConfirm="SI, ACTIVAR"
        @confirmed="activeItem(item.idCategoria)"
        @denied="closeModal('category-active-' + item.idCategoria)"
      )
    modal(
      :name="'category-delete-' + item.idCategoria"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        :title="'¿Está seguro(a) de eliminar esta categoría?'"
        @confirmed="deleteItem(item.idCategoria)"
        @denied="closeModal('category-delete-' + item.idCategoria)"
      )
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    categoryEdit: () => import('@/components/02-molecule/category/edit'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    id: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_DELETE_CATEGORY: 'Category/A_DELETE_CATEGORY',
      A_DESACTIVE_CATEGORY: 'Category/A_DESACTIVE_CATEGORY',
      A_ACTIVE_CATEGORY: 'Category/A_ACTIVE_CATEGORY'
    }),
    closeModal (e) {
      console.log(e)
      if (e) {
        this.$modal.hide(e)
      }
    },
    updateRow (e) {
      this.item.nombre = e.nombre
      this.item.descripcion = e.descripcion
      this.closeModal('category-edit-' + this.item.idCategoria)
    },
    async deleteItem (id) {
      this.closeModal('category-delete-' + id)
      const res = await this.A_DELETE_CATEGORY(id)
      console.log(res)
    },
    async desactiveItem (id) {
      console.log('desactive category')
      this.closeModal('category-desactive-' + id)
      const res = await this.A_DESACTIVE_CATEGORY(id)
      this.item.habilitado = 2
      console.log(res)
    },
    async activeItem (id) {
      console.log('active category')
      this.closeModal('category-active-' + id)
      const res = await this.A_ACTIVE_CATEGORY(id)
      this.item.habilitado = 1
      console.log(res)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
