<template lang="pug">
  tbody
    tr
      td SV{{ padLeft(item.idStockVerificacion, 5) }}
      td {{ item.nombreLocal }}
      td {{ item.fecha }}
      td {{ `${item.nombreEmpleado} ${item.apellidoPaternoEmpleado} ${item.apellidoMaternoEmpleado}` }}
      td
        router-link(
          :to="{ name: 'BoardReturnDetailsPage', params: { id: item.idStockVerificacion } }"
        ) VER DETALLE&nbsp;&nbsp;
          i.icon-right
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    padLeft (value, length) {
      return (value.toString().length < length)
        ? this.padLeft('0' + value, length)
        : value
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
