<template lang="pug">
  validation-observer.ed-grid.m-grid-10(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  )
    .m-cols-8
      input-text(
        label="#COD"
        type="text"
        name="codigoProducto"
        disabled=true
        v-model="item.codigoProducto"
      )
    .m-cols-6
      input-text(
        label="Producto"
        type="text"
        name="nombreProducto"
        disabled=true
        v-model="item.nombreProducto"
      )
    .m-cols-2
      input-text(
        label="Cantidad"
        type="number"
        name="cantidad"
        :rules="`between:1,${item.stock}`"
        disabled=true
        v-model="data.cantidad"
      )
    .m-cols-2
      br
      span.u-m__t (Total: {{ item.stock }})
    .m-cols-8
      v-select(
        label="Motivo"
        v-model="item.tipoMotivo"
        :options="selects.tiposMotivo"
        disabled
      )
    .m-cols-8
      input-text(
        v-if="item.tipoMotivo === 0"
        label="Comentario"
        name="comentario"
        type="text"
        v-model="item.comentario"
      )
    .m-cols-8
      v-radio(
        v-model="data.withDiscount"
        :options="options.discount"
        name="radio-sports"
        inputStyle="row"
      )
    .m-cols-8
      button.e-btn.info.e-btn--fullwidth(
        v-if="!isLoading"
        @click="handleSubmit(onSubmit)"
      ) DAR CONFORMIDAD
      .e-btn.info.e-btn--fullwidth.e-btn--loading(
        v-else
      )
        i.icon-loading
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default'),
    vRadio: () => import('@/components/02-molecule/formElements/radio')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    iterator: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: {
        cantidad: '',
        withDiscount: ''
      },
      selects: {
        tiposMotivo: [
          {
            name: 'Otros',
            value: '0'
          }
        ]
      },
      options: {
        discount: [
          {
            name: 'Con descuento',
            value: '1'
          },
          {
            name: 'Sin descuento',
            value: '0'
          }
        ]
      },
      isLoading: false
    }
  },

  computed: {},

  watch: {},
  created () {
    this.data.cantidad = String(this.item.cantidad)
    this.data.withDiscount = String(this.item.withDiscount)
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_ACCEPT_STOCKDEVOLUCION: 'Stock/A_ACCEPT_STOCKDEVOLUCION'
    }),
    async onSubmit () {
      try {
        this.isLoading = true
        const response = await this.A_ACCEPT_STOCKDEVOLUCION({ idStockVerificacionDetalle: this.item.idStockVerificacionDetalle, withDiscount: this.data.withDiscount })
        if (response.status) {
          this.$emit('deleteRow', this.iterator)
        }
        this.isLoading = false
      } catch (error) {
        console.log('You have a error', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
