<template lang="pug">
  tbody
    tr
      td SV{{ padLeft(item.idStockVerificacion, 5) }}
      td {{ item.nombreLocal }}
      td {{ item.fecha }}
      td {{ `${item.nombreEmpleado} ${item.apellidoPaternoEmpleado} ${item.apellidoMaternoEmpleado}` }}
      td
        i(
          :class="active ? 'icon-up':'icon-down'"
          @click="active = !active"
        )
    tr(
      v-if="active"
    )
      td(colspan="5")
        table
          tr
            th #COD
            th Producto
            th Cantidad
            th Motivo
            th Detalle del motivo
            th
          tr(
            v-for="(product, key) in item.stockVerificacionDetalle"
          )
            td {{ product.codigoProducto }}
            td {{ product.nombreProducto }}
            td {{ product.cantidad }}
            td {{ product.motivo }}
            td {{ product.comentario }}
            td
              .e-btn.e-btn--icon(
                :class="(product.habilitado === 1) ? 'info' : 'secondary'"
              ) {{ (product.habilitado === 1) ? 'CONFORME' : 'EN ESPERA'}}
              span(
                v-if="product.habilitado === 1"
              )
                span(
                  v-if="product.withDiscount === 1"
                ) Con descuento
                span(
                  v-else
                ) Sin descuento
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      active: false
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    padLeft (value, length) {
      return (value.toString().length < length)
        ? this.padLeft('0' + value, length)
        : value
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
