<template lang="pug">
  .ed-grid.m-grid-10
    .m-cols-6
      v-select(
        label="Producto"
        v-model="item.idProducto"
        rules="required"
        :options="G_PRODUCTS"
        @change="getProduct"
      )
    .m-cols-2
      input-text(
        label="Cantidad"
        type="number"
        name="cantidad"
        :rules="`required|integer|between:1,${item.total}`"
        v-model="item.cantidad"
      )
    .m-cols-2
      br
      span.u-m__t (Total: {{ item.total }})
    .m-cols-8
      v-select(
        label="Motivo"
        v-model="item.motivo"
        :options="selects.tiposMotivo"
      )
    .m-cols-8(
      v-if="item.motivo === '0'"
    )
      input-text(
        label="Escriba el motivo"
        type="text"
        name="motivo"
        rules="required"
        v-model="item.comentario"
      )
    .m-cols-8
      a.e-text-primary(
        v-if="id > 0"
        @click="$emit('removeRow', id)"
      )
        i.icon-trash
        | &nbsp;&nbsp;Eliminar
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
    id: {
      required: true,
      type: Number
    },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      selects: {
        tiposMotivo: [
          {
            name: 'Motivo 1',
            value: '1'
          },
          {
            name: 'Motivo 2',
            value: '2'
          },
          {
            name: 'Otros',
            value: '0'
          }
        ]
      }
    }
  },

  computed: {
    ...mapGetters({
      G_PRODUCTS: 'Product/G_PRODUCTS'
    })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCT: 'Product/A_GET_PRODUCT'
    }),
    async getProduct (id) {
      try {
        const { data } = await this.A_GET_PRODUCT({ id, params: { idLocal: this.$cookies.get('AUTH_DATA').local.idLocal } })
        this.item.total = data.stock
      } catch (error) {
        console.log('Something a went error', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
