<template lang="pug">
  tbody
    tr
      td {{ item.codigo }}
      td {{ item.nombreCategoria }}
      td {{ item.nombre }}
      td {{ item.stock }}
      td {{ item.precioCompra }}
      td {{ item.precioVenta }}
      td {{ item.fechaVencimiento }}
      td.nowrap(v-if="false")
        a.e-btn.e-btn--icon.secondary
          i.icon-sort
        a.e-btn.e-btn--icon
          i.icon-close
      td
        i(
          :class="active ? 'icon-up':'icon-down'"
          @click="active = !active"
        )
    tr(
      v-if="active"
    )
      td(colspan="6")
        table
          tr
            th Lote
            th Stock
            th Fecha de venc.
            th Empresa proveedora
            th N° guía de ingreso
          tr(
            v-for="(lote, key) in item.lotes"
          )
            td Lote {{ lote.idLote }}
            td {{ lote.cantidad }}
            td {{ lote.fecha_vencimiento }}
            td {{ lote.proveedor }}
            td {{ lote.nro_guia }}
      td
        p Producto por vencer
        p 15 días&nbsp;&nbsp;
          span.e-btn.e-btn--icon.e-btn--rounder.warning
            i.icon-loading
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      active: false
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
