<template lang="pug">
  validation-observer(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  ).o-form.ed-grid.m-grid-2
    h3.o-form__title.m-cols-2 Agregar campaña
    .input-group.m-cols-2
      input-text(
        label="Nombre"
        type="text"
        rules="required"
        name="name"
        v-model="data.nombre"
      )
    .input-group.m-cols-2.d-none
      v-radio(
        label="¿Todas las tiendas?"
        v-model="data.everyShop"
        :options="options.everyShops"
        name="radio-everyShop"
        inputStyle="row"
      )
    .input-group.m-cols-2
      .c-campaign__store
        .tags
          v-tag(
            v-for="item in data.idLocales" :key="item"
            :item="localName(item)"
            @closed="removeLocalTag(item)"
          )
        ul
          li(
            v-for="(item, key) in localAvailables"
            :key="key"
            @click="addLocal(item.idLocal)"
          ) {{ item.nombre }}
    .input-group.m-cols-1
      v-date(
        label="Vigencia (desde - hasta)"
        format="YYYY-MM-DD"
        @value="updateDateStart"
        v-model="data.fechaInicio"
      )
    .input-group.m-cols-1
      v-date(
        label="."
        format="YYYY-MM-DD"
        @value="updateDateEnd"
        v-model="data.fechaFin"
      )
    .input-group.m-cols-2
      input-file(
        name="banner"
        v-model="data.imagen"
        label="Banner del mailing"
      )
    .input-group.m-cols-2
      input-text(
        label="Mensaje de Whatsapp"
        type="textarea"
        rules="required|alpha_spaces"
        name="name"
        v-model="data.mensaje"
      )
    .m-cols-2.o-form__footer
      button.e-btn.e-btn--fullwidth(
        v-if="!isLoading"
        @click="handleSubmit(onSubmit)"
      ) AGREGAR
      .e-btn.e-btn--fullwidth.e-btn--loading(
        v-else
      )
        i.icon-loading
      .e-btn.e-btn--fullwidth.disabled.u-m__t CANCELAR
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/default'),
    textArea: () => import('@/components/02-molecule/formElements/area'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    vRadio: () => import('@/components/02-molecule/formElements/radio'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vTag: () => import('@/components/02-molecule/formElements/tag'),
    inputFile: () => import('@/components/02-molecule/formElements/file')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        nombre: '',
        fechaInicio: '',
        fechaFin: '',
        idLocales: [],
        imagen: '',
        mensaje: '',
        everyShop: ''
      },
      options: {
        everyShops: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ]
      },
      isLoading: false
    }
  },

  computed: {
    ...mapState({
      S_LOCALS: state => state.Local.S_LOCALS
    }),
    localAvailables () {
      const locales = []
      this.S_LOCALS.map(item => {
        if (!this.data.idLocales.includes(item.idLocal)) {
          locales.push(item)
        }
      })
      return locales
    }
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_CAMPAIGN: 'Campaign/A_SET_CAMPAIGN'
    }),
    async onSubmit () {
      this.isLoading = true
      try {
        this.data.imagen = 'demo'
        await this.A_SET_CAMPAIGN({ campana: this.data })
        this.$emit('success', true)
        this.isLoading = false
      } catch (error) {
        console.error('LOADING CREATE EMPLOYEE', error)
      }
    },
    updateDateStart (e) {
      this.data.fechaInicio = e
    },
    updateDateEnd (e) {
      this.data.fechaFin = e
    },
    addLocal (id) {
      const current = this.data.idLocales.findIndex(item => id === item)
      if (current === -1) {
        this.data.idLocales.push(id)
      } else {
        this.data.idLocales.splice(current, 1)
      }
    },
    localName (id) {
      const current = this.S_LOCALS.find(item => id === item.idLocal)
      return {
        id: current.idLocal,
        name: current.nombre
      }
    },
    removeLocalTag (item) {
      const newLocals = []
      this.data.idLocales.map((idLocal, index) => {
        if (item !== idLocal) {
          newLocals.push(idLocal)
        }
      })
      this.data.idLocales = newLocals
    }
  }
}
</script>

<style lang="css" scoped>
.d-none {
  display: none;
}
</style>
