<template lang="pug">
  tbody
    tr
      td {{ item.idCampana }}
      td {{ item.nombre }}
      td {{ item.fechaInicio }} - {{ item.fechaFin }}
      td {{ '' }}
      td
        a(@click="$modal.show(`campaign-store-${ item.idCampana }`)") Ver tiendas
      td.center
        router-link(
          v-if="item.clientes.length > 0"
          :to="{ name: 'CampaignDetails', params: { id: item.idCampana } }"
        ) Ver lista de clientes
        router-link(
          v-else
          :to="{ name: 'CampaignClientsPage', params: { id: item.idCampana } }"
        ) Agregar clientes
      td
        a.e-btn.e-btn--small.info(
          @click="$modal.show(`campaign-edit-${ item.idCampana }`)"
        ) EDITAR
        a.e-btn.e-btn--small(
          @click="$modal.show(`campaign-delete-${ item.idCampana }`)"
        ) ELIMINAR
        a.e-btn.e-btn--small.dark(
          v-if="item.habilitado === 1"
          @click="$modal.show(`campaign-desactive-${ item.idCampana }`)"
        ) DESACTIVAR
        a.e-btn.e-btn--small.secondary(
          v-if="item.habilitado === 2"
          @click="$modal.show(`campaign-active-${ item.idCampana }`)"
        ) ACTIVAR
      td
        i(
          :class="active ? 'icon-up':'icon-down'"
          @click="active = !active"
        )
    tr(
      v-if="active"
    )
      td(colspan="8")
        .c-campaign__table
          table-detail(
            :newProduct="newProduct"
            :newitem="data.newProduct"
            :editProduct="editProduct"
            :edititem="data.editProduct"
            :items="item.productos"
            @updateEditProduct="editProduct = true"
            @deleteProduct="deleteProduct"
          )
          template(
            v-if="newProduct || editProduct"
          )
            template(
              v-if="newProduct"
            )
              button(
                v-if="!isLoading"
                @click="saveProductCampaign"
              ).e-btn.info GUARDAR
              .e-btn.info.e-btn--loading.m-cols-2(
                v-else
              )
                i.icon-loading
              a.u-m__r(
                @click="newProduct = false"
              ) CANCELAR
            template(
              v-else
            )
              button(
                v-if="!isLoading"
                @click="editProductCampaign"
              ).e-btn.info GUARDAR
              .e-btn.info.e-btn--loading.m-cols-2(
                v-else
              )
                i.icon-loading
              a.u-m__r(
                @click="editProduct = false"
              ) CANCELAR
          template(
            v-else
          )
            a.u-m__r(
              @click="newProduct = true"
            )
              i.icon-plus
              | Agregar item
            //-.e-btn.info SELECCIONAR CLIENTES
        .c-campaign__footer
          p Total
            span S/ {{ data.total }}
    modal(
      :name="'campaign-store-' + item.idCampana"
      :scrollable="true"
      :width="450"
      height="auto"
      class="c-modal c-modal--form"
      :shiftY="0.2"
    )
      campaign-store(
        :stores="item.idLocales"
      )
    modal(
      :name="'campaign-edit-' + item.idCampana"
      :width="550"
      :scrollable="true"
      height="auto"
      class="c-modal c-modal--form"
      :shiftY="0.2"
    )
      campaign-edit(
        :campaign="item"
        @success="updateItem(item.idCampana)"
      )
    modal(
      :name="'campaign-delete-' + item.idCampana"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de eliminar esta campaña?"
        @confirmed="deleteItem(item.idCampana)"
        @denied="closeModal('campaign-delete-' + item.idCampana)"
      )
    modal(
      :name="'campaign-desactive-' + item.idCampana"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de desactivar esta campaña?"
        textConfirm="SI, DESACTIVAR"
        @confirmed="desactiveItem(item.idCampana)"
        @denied="closeModal('campaign-desactive-' + item.idCampana)"
      )
    modal(
      :name="'campaign-active-' + item.idCampana"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de activar esta campaña?"
        textConfirm="SI, ACTIVAR"
        @confirmed="activeItem(item.idCampana)"
        @denied="closeModal('campaign-active-' + item.idCampana)"
      )
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    campaignStore: () => import('@/components/02-molecule/store/default'),
    campaignEdit: () => import('@/components/02-molecule/campaign/edit'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default'),
    tableDetail: () => import('@/components/03-organism/tableCampaign/detail')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: {
        total: 0,
        newProduct: {
          idCategoria: '',
          idProducto: '',
          cantidad: '0',
          precioLista: '0',
          descuento: '',
          precioDescuento: 0
        },
        editProduct: {
          idCampanaProducto: '',
          idCategoria: '',
          idProducto: '',
          cantidad: '0',
          precioLista: '0',
          descuento: '',
          precioDescuento: 0
        }
      },
      newProduct: false,
      editProduct: false,
      active: false,
      isLoading: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {
    console.log('this.item.productos')
    console.log(this.item.productos)
    if (typeof this.item.productos !== 'undefined') {
      this.data.total = this.item.productos.reduce((acc, el) => acc + Number(el.precioLista), 0)
    }
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CURRENT: 'Campaign/A_GET_CURRENT',
      A_DELETE_CAMPAIGN: 'Campaign/A_DELETE_CAMPAIGN',
      A_DESACTIVE: 'A_DESACTIVE',
      A_ACTIVE: 'A_ACTIVE',
      A_SET_PRODUCT_CAMPAIGN: 'Campaign/A_SET_PRODUCT_CAMPAIGN',
      A_UPDATE_PRODUCT_CAMPAIGN: 'Campaign/A_UPDATE_PRODUCT_CAMPAIGN',
      A_DELETE_PRODUCT_CAMPAIGN: 'Campaign/A_DELETE_PRODUCT_CAMPAIGN'
    }),
    closeModal (name) {
      this.$modal.hide(name)
    },
    updateItem (id) {
      this.$modal.hide('campaign-edit-' + id)
      this.A_GET_CURRENT()
    },
    async deleteItem (id) {
      try {
        await this.A_DELETE_CAMPAIGN({ campana: { idCampana: id } })
        this.closeModal('campaign-delete-' + id)
        this.A_GET_CURRENT()
      } catch (e) {
        console.log(e)
      }
    },
    async desactiveItem (id) {
      await this.A_DESACTIVE({ desactivar: { nombreTabla: 'Campana', id } })
      this.closeModal('campaign-desactive-' + id)
      this.A_GET_CURRENT()
    },
    async activeItem (id) {
      await this.A_ACTIVE({ activar: { nombreTabla: 'Campana', id } })
      this.closeModal('campaign-active-' + id)
      this.A_GET_CURRENT()
    },
    async saveProductCampaign () {
      this.isLoading = true
      const data = {
        idCampana: this.item.idCampana,
        idProducto: this.data.newProduct.idProducto,
        cantidad: this.data.newProduct.cantidad,
        precioLista: this.data.newProduct.precioLista,
        descuento: this.data.newProduct.descuento,
        precioDescuento: Number(this.data.newProduct.precioLista) + Number(this.data.newProduct.descuento)
      }
      try {
        const result = await this.A_SET_PRODUCT_CAMPAIGN(data)
        console.log('true', result)
        this.newProduct = false
        this.isLoading = false
      } catch (error) {
        console.error('LOADING CREATE product campaign', error)
      }
    },
    async editProductCampaign () {
      this.isLoading = true
      const data = {
        idCampanaProducto: this.data.editProduct.idCampanaProducto,
        idCampana: this.item.idCampana,
        idProducto: this.data.editProduct.idProducto,
        cantidad: this.data.editProduct.cantidad,
        precioLista: this.data.editProduct.precioLista,
        descuento: this.data.editProduct.descuento,
        precioDescuento: Number(this.data.editProduct.precioLista) + Number(this.data.editProduct.descuento)
      }
      console.log(data)
      try {
        const result = await this.A_UPDATE_PRODUCT_CAMPAIGN(data)
        console.log('true', result)
        this.editProduct = false
        this.isLoading = false
      } catch (error) {
        console.error('LOADING CREATE product campaign', error)
      }
    },
    async deleteProduct (data) {
      try {
        this.item.productos.splice(data.position, 1)
        const result = await this.A_DELETE_PRODUCT_CAMPAIGN(data.idCampanaProducto)
        console.log(result)
      } catch (error) {
        console.error('LOADING CREATE product campaign', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
