<template lang="pug">
  tbody
    tr
      td {{ id + 1 }}
      td {{ item.denominacion }}
      td code{{ item.idCliente }}
      td
        span(style="font-weight: bold") 10
        span /150
      td
        span(style="font-weight: bold") S/ 120
        span / S/ 1196.00
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    id: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
