<template lang="pug">
  tbody
    tr(v-if="edit")
      td
        v-select(
          v-model="edititem.idCategoria"
          :options="G_CATEGORIES"
          @change="productList"
        )
      td
        v-select(
          v-model="edititem.idProducto"
          :options="data.products"
          @change="getProduct"
        )
      td
        input-text(
          name="presentacion"
          type="text"
          v-model="data.presentacion"
          rules="required"
        )
      td
        input-text(
          name="cantidad"
          type="number"
          v-model="edititem.cantidad"
          rules="required|integer"
        )
      td
        input-text(
          name="precio"
          type="number"
          v-model="edititem.precioLista"
          rules="required|integer"
          @change="data.precioDescuento = edititem.precioLista"
        )
      td
        v-select(
          v-model="edititem.descuento"
          :options="data.descuentos"
        )
      td S/ {{ data.precioDescuento }}
      td
        a.e-btn.e-btn--icon(
          @click="$emit('deleteProduct', { position, idCampanaProducto: item.idCampanaProducto })"
        )
          i.icon-close
    tr(v-else)
      td {{ item.nombreCategoria }}
      td {{ item.nombre }}
      td -
      td {{ item.cantidad }}
      td S/ {{ item.precioLista }}
      td {{ item.descuento }}%
      td S/ {{ item.precioDescuento }}
      td
        a.e-btn.e-btn--icon.info(
          v-if="!editProduct"
          @click="btnEdit"
        )
          i.icon-edit
        a.e-btn.e-btn--icon(
          @click="$emit('deleteProduct', { position, idCampanaProducto: item.idCampanaProducto })"
        )
          i.icon-close
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
    position: {
      required: true,
      type: Number
    },
    item: {
      required: true,
      type: Object
    },
    editProduct: {
      required: true,
      type: Boolean
    },
    edititem: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: {
        precioDescuento: this.item.precioLista,
        descuentos: [
          { name: 'Dscto', value: '0' }
        ],
        products: [
          {
            name: 'Seleccione',
            value: '0'
          }
        ]
      },
      edit: false,
      active: false,
      isLoading: false
    }
  },

  computed: {
    ...mapGetters({
      G_CATEGORIES: 'Category/G_CATEGORIES'
    })
  },

  watch: {
    editProduct () {
      if (this.editProduct === false) {
        this.edit = false
      }
    }
  },
  created () {
    this.item.idCategoria = String(this.item.idCategoria)
    this.item.idProducto = String(this.item.idProducto)
    this.item.descuento = String(this.item.descuento)
    this.item.cantidad = String(this.item.cantidad)
    this.productList(this.item.idCategoria)
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS',
      A_GET_PRODUCT: 'Product/A_GET_PRODUCT'
    }),
    async productList (id) {
      this.data.products = [{
        name: 'Seleccione',
        value: 0
      }]
      const res = await this.A_GET_PRODUCTS({ idCategory: id })
      res.forEach(element => {
        this.data.products.push({
          value: String(element.idProducto),
          name: element.nombre
        })
      })
    },
    async getProduct (id) {
      const res = await this.A_GET_PRODUCT({ idProduct: id, params: { idLocal: null } })
      this.edititem.precioLista = res.data.precioVenta
      this.data.precioDescuento = res.data.precioVenta
    },
    btnEdit () {
      this.$emit('updateEditProduct', true)
      this.edit = true
      this.edititem.idCampanaProducto = String(this.item.idCampanaProducto)
      this.edititem.idCategoria = String(this.item.idCategoria)
      this.edititem.idProducto = String(this.item.idProducto)
      this.edititem.cantidad = String(this.item.cantidad)
      this.edititem.precioLista = String(this.item.precioLista)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
