<template lang="pug">
  tbody
    tr
      td {{ item.idCampana }}
      td {{ item.nombre }}
      td {{ item.fechaInicio }} - {{ item.fechaFin }}
      td {{ item.mensaje }}
      td
        a(@click="$modal.show(`campaign-store-${ item.idCampana }`)") Ver tiendas
      td.center
        router-link(
          :to="{ name: 'CampaignDetails', params: { id: item.idCampana } }"
        ) Ver lista de clientes
      td
        span.e-text-secondary 20
        span /195
      td
        i(
          :class="active ? 'icon-up':'icon-down'"
          @click="active = !active"
        )
    modal(
      :name="'campaign-store-' + item.idCampana"
      :scrollable="true"
      :width="450"
      height="auto"
      class="c-modal c-modal--form"
      :shiftY="0.2"
    )
      campaign-store(
        :stores="item.idLocales"
      )
    tr(
      v-if="active"
    )
      td(colspan="8")
        .c-campaign__table
          .o-table
            table
              thead
                tr
                  th Categoría
                  th Producto
                  th Presentación
                  th Cantidad
                  th Precio de lista
                  th Descuento
                  th Precio con dscto.
              tbody
                template(
                  v-for="(product, key) in item.productos"
                )
                  tr
                    td {{ product.nombreCategoria }}
                    td {{ product.nombre }}
                    td -
                    td {{ product.cantidad }}
                    td S/ {{ product.precioLista }}
                    td {{ product.descuento }}%
                    td S/ {{ product.precioDescuento }}
              tfoot
                tr
                  th Total
                  td S/ {{ data.total }}
    modal(
      :name="'campaign-edit-' + item.id"
      :scrollable="true"
      :width="550"
      height="auto"
      class="c-modal"
      :shiftY="0.2"
    )
      campaign-edit(
        :campaign="item"
      )
    modal(
      :name="'campaign-delete-' + item.id"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de eliminar esta campaña?"
        @confirmed="deleteItem('campaign-delete-' + item.id)"
        @denied="closeModal('campaign-delete-' + item.id)"
      )
    modal(
      :name="'campaign-desactive-' + item.id"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de desactivar esta campaña?"
        textConfirm="SI, DESACTIVAR"
        @confirmed="desactiveItem('campaign-desactive-' + item.id)"
        @denied="closeModal('campaign-desactive-' + item.id)"
      )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    campaignEdit: () => import('@/components/02-molecule/campaign/edit'),
    campaignStore: () => import('@/components/02-molecule/store/default'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    id: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: {
        total: 0
      },
      active: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {
    this.data.total = this.item.productos.reduce((acc, el) => acc + Number(el.precioLista), 0)
  },
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
