html,
body,
input {
  font-family: "sofia_pro";
  color: $g-text-dark;
  background-color: #FAFAFA;
}
form {
  margin-bottom: 0;
}
img {
  display: inline-block;
  max-width: 100%;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  th {
    font-weight: 400;
    text-align: left;

    i {
      margin-left: 1rem;
      display: inline-block;
    }
  }
  td{
    font-weight: 300;
  }
  th,td {
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
a {
  cursor: pointer;
}