.e-btn {
  display: inline-block;
  border: none;
  font-family: "sofia_pro";
  font-size: 1rem;
  font-weight: 300;
  padding: .7rem 2rem .8rem;
  height: 40px;
  background-color: $g-primary;
  color: white;
  border-radius: .25rem;
  box-shadow: 0 10px 18px 0 rgba(62,57,107,0.02);
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  
  &:hover {
    text-decoration: none;
  }
  i {
    margin-right: .5rem;
  }
  &:focus {
    outline: none;
  }
  &--fullwidth {
    display: block;
    width: 100%;
  }
  &--loading {
    i {
      height: 0.9rem;
      display: block;
      &:before {
        animation-name: btnRotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        position: absolute;
        @keyframes btnRotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
  &--small {
    padding: 0.3rem 1em;
    height: 25px;
    font-size: .8rem;
  }
  &--icon {
    padding: .5rem;
    height: 30px;
    text-align: center;

    i {
      margin-right: 0;
    }
  }
  &--rounder {
    border-radius: 50%;
  }
  &.disabled {
    background-color: $g-disabled;
    color: $g-text-dark;
  }
  // colors
  &.secondary {
    background-color: $g-secondary;
  }
  &.tertiary {
    background-color: $g-tertiary;
  }
  &.transfer {
    background-color: $g-tertiary;
    width: 18rem;
    margin-top: 39px;
  }
  &.info {
    background-color: $g-info;
  }
  &.dark {
    background-color: $g-text-dark;
  }
  &.warning {
    background-color: $g-warning;
  }
  &.success {
    background-color: $g-success;
  }
  &.inactive {
    background-color: $g-text-dark;
  }
  //linear
  &.linear {
    background-color: transparent;
    color: $g-primary;
    box-shadow: 0 0 0 1px $g-primary;

    &.secondary {
      box-shadow: 0 0 0 1px $g-secondary;
      color: $g-secondary;
    }
    &.tertiary {
      box-shadow: 0 0 0 1px $g-tertiary;
      color: $g-tertiary;
    }
    &.info {
      box-shadow: 0 0 0 1px $g-info;
      color: $g-info;
    }
    &.dark {
      box-shadow: 0 0 0 1px $g-text-dark;
      color: $g-text-dark;
    }
  }
}
