.e-file {
    font-weight: 300;
    flex-direction: column;

    &__label {
      white-space: nowrap;
      margin-bottom: .5rem;
      display: block;
    }
    &__input {
      text-align: center;
      padding: 2.5rem;
      background-color: white;
      border: 1px dashed #EAEAEA;
      cursor: pointer;
      border-radius: 4px;

      span {
        display: block;
        margin: 1rem 0;

        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    input {
      display: none;
    }
    &.row {
      flex-direction: row;
      align-items: center;
    }
    &.row &__label{
      margin-right: 1rem;
      margin-bottom: 0;
    }
    &.width-min &__input{
      min-width: 5rem;
    }
}