input,
textarea {
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  display: block;
  width: 100%;
  appearance: none;
  font-family: inherit;
  position: relative;
  resize: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
  &::-webkit-calendar-picker-indicator {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c4c4c4;
  }
}
textarea {
  min-height: 6rem;
}
.input {
  &__error-caption {
    padding: 0;
    font-weight: 300;
    font-size: 0.9rem;
    color: $g-error;

    span {
      margin-bottom: 0 !important;
    }
  }
  &-group {
    margin: .5rem 0;
  }
}
.e-input {
  display: flex;
  flex-direction: column;
  font-weight: 300;

  label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  input {
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 38px;
    font-weight: 300;
    padding: 0 .5rem;
    box-shadow: 0 0 0 0 transparent;

    &:focus, &:hover {
      border-color: #EAEAEA;
    }
  }
  textarea {
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 300;
    padding: .5rem;
  }
  span {
    display: block;
    margin-bottom: .5rem;
  }
  &.row {
    label {
      flex-direction: row;
      align-items: center;
    }
    span {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }
  &.width-min input{
    max-width: 8rem;
  }
  &--date {
    .mx-datepicker {
      width: 100%;
    }
  }
}