$input-radio-size: 30px;

.e-radio {
  font-weight: 300;

  &__label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: .5rem;
  }
  &__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  label {
    margin: .5rem 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    span {
      display: block;
      width: $input-radio-size;
      height: $input-radio-size;
      background-color: white;
      border: 1px solid #EAEAEA;
      border-radius: 50%;
      margin-right: .5rem;
      transition: all .3s;
      position: relative;
      
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        background-color: $g-primary;
        width: 0;
        height: 0;
        border-radius: 50%;
        transition: all .2s;
      }
    }
    input {
      display: none;

      &:checked + span {
        &:before {
          width: $input-radio-size / 2;
          height: $input-radio-size / 2;
        }
      }
    }
  }
  &.row &__options{
    flex-direction: row;

    label {
      margin-right: 1rem;
      margin-top: 2.5px;
      margin-bottom: 2.5px;
    }
  }
}