.e-search {
  display: flex;
  flex-direction: column;
  font-weight: 300;

  label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &__input {
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    
    input {
      height: 38px;
      font-weight: 300;

      &::placeholder {
        font-weight: 300;
      }
    }
  }
  i {
    color: #BFBFBF;
    padding: .5rem;
  }
  span {
    display: block;
    margin-bottom: .5rem;
  }
  &.row {
    label {
      flex-direction: row;
      align-items: center;
    }
    span {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }
}