.e-select {
  display: flex;
  font-weight: 300;
  flex-direction: column;

  &__label {
    white-space: nowrap;
    margin-bottom: .5rem;
  }
  &__input {
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 9rem;
    height: 40px;
    padding: 0 1rem;
    color: #BFBFBF;
    position: relative;
    cursor: pointer;
    & > span {
      color: #646464;
    }
    i {
      transform: translateY(2px);
      color: #646464;
      margin-left: .5rem;
    }
    input {
      display: none;
    }
  }
  .hidden {
    background-color: white;
    border: solid 0px transparent;
    padding: 0 16px;
    height: 38px;
    margin-left: 2px;
    width: calc(100% - 30px);
    display: block;
    left: 0;
    position: absolute;
  }
  &__options {
    position: absolute;
    top: calc(100% + .3rem);
    left: 0;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    background-color: white;
    z-index: 10;
    width: 100%;
    max-height: 15rem;
    overflow-y: auto;
    padding-left: 0;
    list-style: none;

    li {
      padding: .5rem;
      transition: all .3s;
      cursor: pointer;

      &:hover {
        background-color: darken(#FAFAFA, 30);
        color: white;
      }
    }
  }
  &.row {
    flex-direction: row;
    align-items: center;
  }
  &.row &__label{
    margin-right: 1rem;
    margin-bottom: 0;
  }
  &.width-min &__input{
    min-width: 5rem;
  }
}