.e-tabs {
  display: flex;
  font-weight: 300;
  flex-direction: column;

  &__label {
    white-space: nowrap;
    margin-bottom: .5rem;
  }
  &__options {
    padding-left: 0;
    list-style: none;
    display: flex;
    margin-bottom: 0;

    li {
      width: 2.5rem;
      height: 2.5rem;
      background-color: #E5E5E5;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      margin-right: 1rem;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all .3s;

      i {
        display: flex;
        
        &:before {
          transform: translateY(1px);
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background-color: $g-info;
        color: white;
      }
      &.success {
        background-color: $g-success;
        color: white;
      }
      &.warning {
        background-color: $g-warning;
        color: white;
      }
    }
  }
  &.row {
    flex-direction: row;
    align-items: center;
  }
  &.row &__label{
    margin-right: 1rem;
    margin-bottom: 0;
  }
  &.width-min &__input{
    min-width: 5rem;
  }
  input {
    display: none;
  }
}