.c-tag {
  background-color: #646464;
  color: white;
  font-size: .9rem;
  border-radius: 4px;
  margin: .5rem;
  padding: .4rem 1.5rem .6rem;
  display: inline-block;

  i {
    font-size: .7rem;
    margin-right: 1rem;
    cursor: pointer;
  }
}