.e-text {
  &-primary {
    color: $g-primary;
  }
  &-secondary {
    color: $g-secondary;
  }
  &-tertiary {
    color: $g-tertiary;
  }
  &-info {
    color: $g-info;
  }
  &-dark {
    color: $g-text-dark;
  }
  &-error {
    color: $g-error;
  }
}