<template lang="pug">
  .c-page.c-category
    v-title(
      title="Mantenimiento / Empleado"
    )
    .c-page__filters.c-page__filters--multiple
      .c-page__filters--multiple-row.start
        v-search(
          type="search"
          label="Buscar"
          inputStyle="row"
          name="search"
          v-model="currentFilters.search"
          @change="search"
        )
        v-select(
          v-if="G_POSITIONS"
          label="Cargo"
          inputStyle="row"
          @change="search"
          v-model="currentFilters.position"
          :options="G_POSITIONS"
          @input="changeCurrentDistrict()"
        )
        v-select(
          v-if="districts.length > 0"
          label="Distrito"
          inputStyle="row"
          type="search"
          v-model="currentFilters.district"
          @change="search"
          :options="districts"
          @input="changeCurrentDistrict()"
        )
        a.e-btn.info(
          @click="$modal.show('employee-create')"
        ) + AGREGAR EMPLEADO
    .c-page__body
      table-employee(
        :items="S_EMPLOYEES"
      )
    //.c-page__footer
      v-pagination
    modal(
      name="employee-create"
      :width="650"
      :scrollable="true"
      height="auto"
      class="c-modal c-modal--form"
      :shiftY="0.2"
    )
      employee-create(
        @success="closeModal"
      )
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableEmployee: () => import('@/components/03-organism/tableEmployee/default'),
    employeeCreate: () => import('@/components/02-molecule/employee/create'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        position: '',
        district: '',
        children: '0',
        civilStatus: '0',
        search: ''
      },
      districts: []
    }
  },

  computed: {
    ...mapState({
      S_EMPLOYEES: state => state.Employee.S_EMPLOYEES
    }),
    ...mapGetters({
      G_DISTRICTS: 'District/G_DISTRICTS',
      G_POSITIONS: 'Position/G_POSITIONS'
    })
  },

  watch: {},
  async created () {
    this.A_GET_EMPLOYEES()
    this.A_GET_POSITIONS()
    this.A_GET_DEPARTMENTS()
    this.A_GET_PROVINCES()
    const districts = await this.A_GET_DISTRICTS()
    this.districts = districts.map(el => ({ name: el.nombre, value: String(el.idDistrito) }))
    this.districts.unshift({ name: 'Selecciona el Distrito', value: '' })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_EMPLOYEES: 'Employee/A_GET_EMPLOYEES',
      A_GET_POSITIONS: 'Position/A_GET_POSITIONS',
      A_GET_DEPARTMENTS: 'Department/A_GET_DEPARTMENTS',
      A_GET_PROVINCES: 'Province/A_GET_PROVINCES',
      A_GET_DISTRICTS: 'District/A_GET_DISTRICTS'
    }),
    search () {
      this.A_GET_EMPLOYEES({
        search: this.currentFilters.search,
        idCargo: this.currentFilters.position,
        idDistrito: this.currentFilters.district
      })
    },
    changeCurrentDistrict (e) {
      this.district = e
    },
    closeModal (e) {
      if (e) {
        this.A_GET_EMPLOYEES()
        this.$modal.hide('employee-create')
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
