<template lang="pug">
  .c-navbar
    router-link(:to="routerTo")
      img(src="@/assets/images/logo-vertical.png" class="logo")
    ul.c-navbar__list
      li(
        v-for="(item, key) in listDirections" :key="key"
      )
        router-link(
          v-if="!item.children"
          :to="item.route"
          class="content-icon"
        )
          i( :class="item.icon" )
          |
          p(class="inline item-title hide") {{ item.name }}

        template(v-else)
          span(
            @click="selectItem(key)"
            :class="key === currentSubList ? 'is-active': ''"
            class="content-icon"
          )

           i( :class="item.icon" )
           |
           p(class="inline item-title hide") {{ item.name }}

          ul.c-navbar__sublist
            li(
              v-for="(subitem, subkey) in item.children"
              :key="subkey"
              :class="subkey === currentSubList ? 'active': ''"
            )
              router-link(
                :to="subitem.route"
              ) {{ subitem.name }}
      li
        a.content-icon(
          @click="logoutAuth"
        )
          i.icon-cerrar_sesion_ico
          |
          p(class="inline item-title hide") Cerrar sesión
</template>

<script>
import { mapActions } from 'vuex'
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentSubList: 0,
      listDirections: [
        {
          name: 'Dashboard',
          icon: 'icon-home',
          route: {
            name: 'DashboardPage'
          }
        },
        {
          name: 'Reportes',
          children: [
            {
              name: 'Ventas',
              route: {
                name: 'ReportSalePage'
              }
            },
            {
              name: 'Liquidación maestro',
              route: {
                name: 'ReportLiquidationPage'
              }
            }
          ]
        },
        {
          name: 'Vendedora',
          children: [
            {
              name: 'Cliente',
              route: {
                name: 'SaleswomanClientPage'
              }
            },
            {
              name: 'Reporte',
              route: {
                name: 'SaleswomanReportPage'
              }
            },
            {
              name: 'Nueva Venta',
              route: {
                name: 'SaleswomanNotePage'
              }
            },
            {
              name: 'Anulación',
              route: {
                name: 'SaleswomanAnulationPage'
              }
            },
            {
              name: 'Liquidación',
              route: {
                name: 'SaleswomanLiquidationPage'
              }
            },
            {
              name: 'Inventario',
              route: {
                name: 'SaleswomanStockTakingPage'
              }
            },
            {
              name: 'Transferencia',
              route: {
                name: 'SaleswomanTransferPage'
              }
            },
            {
              name: 'Devolución',
              route: {
                name: 'SaleswomanReturnPage'
              }
            }
          ]
        },
        {
          name: 'Inventario Central',
          children: [
            {
              name: 'Tableros Ingresados',
              route: {
                name: 'BoardReceivedPage'
              }
            },
            {
              name: 'Tableros Devueltos',
              route: {
                name: 'BoardReturnedPage'
              }
            },
            {
              name: 'Cortes',
              route: {
                name: 'BoardCutPage'
              }
            },
            {
              name: 'Ingreso Productos',
              route: {
                name: 'BoardProductPage'
              }
            },
            {
              name: 'Pedidos',
              route: {
                name: 'BoardRequestProductPage'
              }
            },
            {
              name: 'Envíos',
              route: {
                name: 'BoardSendProductPage'
              }
            },
            {
              name: 'Devoluciones',
              route: {
                name: 'BoardReturnPage'
              }
            },
            {
              name: 'Conformidad',
              route: {
                name: 'BoardConfirmPage'
              }
            }
          ]
        },
        {
          name: 'Mantenimiento',
          children: [
            {
              name: 'Categoría',
              route: {
                name: 'CategoryPage'
              }
            },
            {
              name: 'Empleado',
              route: {
                name: 'EmployeePage'
              }
            },
            {
              name: 'Local',
              route: {
                name: 'LocalPage'
              }
            },
            {
              name: 'Producto',
              route: {
                name: 'ProductPage'
              }
            },
            {
              name: 'Asignación',
              route: {
                name: 'AssignmentPage'
              }
            }
          ]
        },
        {
          name: 'Campaña',
          route: {
            name: 'CampaignPage'
          }
        },
        {
          name: 'Supervisor',
          children: [
            {
              name: 'Descuentos',
              route: {
                name: 'DisscountsPage'
              }
            }
          ]
        },
        {
          name: 'Configuracion',
          route: {
            name: 'ConfigurationPage'
          }
        }
      ],
      routerTo: '/'
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {
    // console.log(this.$cookies.get('AUTH_DATA').local)
    if (this.$cookies.get('AUTH_DATA').empleado.idCargo === 1) {
      this.routerTo = '/'
      this.listDirections = [
        {
          name: 'Dashboard',
          icon: 'icon-estadisticas_ico',
          route: {
            name: 'DashboardPage'
          }
        },
        {
          name: 'Reportes',
          icon: 'icon-diario_hojas_ico',
          children: [
            {
              name: 'Ventas',
              route: {
                name: 'ReportSalePage'
              }
            },
            {
              name: 'Liquidación maestro',
              route: {
                name: 'ReportLiquidationPage'
              }
            }
          ]
        },
        {
          name: 'Mantenimiento',
          icon: 'icon-creador_ico',
          children: [
            {
              name: 'Cliente',
              route: {
                name: 'SaleswomanClientPage'
              }
            },
            {
              name: 'Categoría',
              route: {
                name: 'CategoryPage'
              }
            },
            {
              name: 'Empleado',
              route: {
                name: 'EmployeePage'
              }
            },
            {
              name: 'Local',
              route: {
                name: 'LocalPage'
              }
            },
            {
              name: 'Producto',
              route: {
                name: 'ProductPage'
              }
            },
            {
              name: 'Asignación',
              route: {
                name: 'AssignmentPage'
              }
            }
          ]
        },
        {
          name: 'Campaña',
          icon: 'icon-fechas_ico',
          route: {
            name: 'CampaignPage'
          }
        }
      ]
    }
    if (this.$cookies.get('AUTH_DATA').empleado.idCargo === 3 && this.$cookies.get('AUTH_DATA').local.length > 0) {
      this.routerTo = { name: 'DisscountsPage' }
      this.listDirections = [
        {
          name: 'Supervisor',
          icon: 'icon-gestion_ico',
          children: [
            {
              name: 'Descuentos',
              route: {
                name: 'DisscountsPage'
              }
            }
          ]
        }
      ]
    }
    if (this.$cookies.get('AUTH_DATA').empleado.idCargo === 2 && this.$cookies.get('AUTH_DATA').empleado.local !== null) {
      this.routerTo = { name: 'SaleswomanNotePage' }
      this.listDirections = [
        {
          name: 'Vendedora',
          icon: 'icon-ma_ico',
          children: [
            {
              name: 'Cliente',
              route: {
                name: 'SaleswomanClientPage'
              }
            },
            {
              name: 'Nueva Venta',
              route: {
                name: 'SaleswomanNotePage'
              }
            },
            {
              name: 'Anulación',
              route: {
                name: 'SaleswomanAnulationPage'
              }
            },
            {
              name: 'Liquidación',
              route: {
                name: 'SaleswomanLiquidationPage'
              }
            },
            {
              name: 'Reporte de ventas',
              route: {
                name: 'SaleswomanReportPage'
              }
            },
            {
              name: 'Inventario',
              route: {
                name: 'SaleswomanStockTakingPage'
              }
            },
            {
              name: 'Transferencia',
              route: {
                name: 'SaleswomanTransferPage'
              }
            },
            {
              name: 'Devolución',
              route: {
                name: 'SaleswomanReturnPage'
              }
            }
          ]
        }
      ]
    }
    if (this.$cookies.get('AUTH_DATA').empleado.idCargo === 4) {
      this.routerTo = { name: 'BoardReceivedPage' }
      this.listDirections = [
        {
          name: 'Inventario Central',
          icon: 'icon-megas_ico',
          children: [
            {
              name: 'Tableros Ingresados',
              route: {
                name: 'BoardReceivedPage'
              }
            },
            {
              name: 'Tableros Devueltos',
              route: {
                name: 'BoardReturnedPage'
              }
            },
            {
              name: 'Cortes',
              route: {
                name: 'BoardCutPage'
              }
            },
            {
              name: 'Ingreso Productos',
              route: {
                name: 'BoardProductPage'
              }
            },
            {
              name: 'Pedidos',
              route: {
                name: 'BoardRequestProductPage'
              }
            },
            {
              name: 'Envíos',
              route: {
                name: 'BoardSendProductPage'
              }
            },
            {
              name: 'Devoluciones',
              route: {
                name: 'BoardReturnPage'
              }
            },
            {
              name: 'Conformidad',
              route: {
                name: 'BoardConfirmPage'
              }
            }
          ]
        }
      ]
    }
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_LOGOUT: 'Auth/A_LOGOUT'
    }),
    logoutAuth () {
      this.A_LOGOUT()
      this.$router.push({ name: 'LoginForm' })
    },
    selectItem (key) {
      if (key === this.currentSubList) {
        this.currentSubList = null
      } else {
        this.currentSubList = key
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
