<template lang="pug">
  tbody
    tr
      td {{ item.idCliente }}
      td {{ item.denominacion }}
      td
        template(v-if="item.compras.length > 0")
          span {{ $moment(item.compras[item.compras.length - 1].fecha, 'YYYY-MM-DD').format('DD/MM/YYYY') }}
      td.center {{ item.total }}
      td.center
        router-link(
          :to="{ name: 'SaleswomanClientDetailPage', params: { dni: item.numeroDocumento } }"
        ) Ver más
          i.icon-right.u-m__l
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    id: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_DELETE_CATEGORY: 'Category/A_DELETE_CATEGORY',
      A_DESACTIVE_CATEGORY: 'Category/A_DESACTIVE_CATEGORY',
      A_ACTIVE_CATEGORY: 'Category/A_ACTIVE_CATEGORY'
    }),
    closeModal (e) {
      console.log(e)
      if (e) {
        this.$modal.hide(e)
      }
    },
    async deleteItem (id) {
      this.closeModal('category-delete-' + id)
      const res = await this.A_DELETE_CATEGORY(id)
      console.log(res)
    },
    async desactiveItem (id) {
      console.log('desactive category')
      this.closeModal('category-desactive-' + id)
      const res = await this.A_DESACTIVE_CATEGORY(id)
      this.item.habilitado = 2
      console.log(res)
    },
    async activeItem (id) {
      console.log('active category')
      this.closeModal('category-active-' + id)
      const res = await this.A_ACTIVE_CATEGORY(id)
      console.log(res)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
