<template lang="pug">
  tbody
    tr
      td {{ item.idDocumentoVenta }}
      td {{ $moment(item.fecha, 'YYYY-MM-DD').format('DD/MM/YYYY') }}
      td {{ documento }}
      td {{ item.producto[0].nombre }}
      td.center {{ item.cantidad }}
      td.center {{ item.precioUnitarioProducto }}
      td.center {{ item.total }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    id: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    documento () {
      let documento = 'Nota: '
      if (this.item.tipoDocumento === '1') {
        documento = 'Factura: '
      }
      if (this.item.tipoDocumento === '2') {
        documento = 'Boleta: '
      }
      return documento + ' ' + this.item.serie + ' - ' + this.item.numero
    }
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
