<template lang="pug">
  tbody
    tr
      td {{ item.codigo }}
      td {{ item.tipoProducto }}
      td {{ item.presentacion }}
      td {{ item.stock }}
      td {{ item.precioCompra }}
      td {{ item.precioVenta }}
      td {{ item.fechaVencimiento }}
      td.nowrap
        a.e-btn.e-btn--icon.secondary
          i.icon-edit
        a.e-btn.e-btn--icon
          i.icon-close
      td
        span.e-text-info
          i.icon-down
          | CONFORME
      td
        i(
          :class="active ? 'icon-up':'icon-down'"
          @click="active = !active"
        )
    tr(
      v-if="active"
    )
      td(colspan="8")
        table
          tr
            th Lote
            th Stock
            th Fecha de venc.
            th Empresa proveedora
            th N° guía de ingreso
          tr(
            v-for="(lote, key) in item.lotes"
          )
            td Lote {{ lote.idLote }}
            td {{ lote.stock }}
            td {{ lote.vencimiento }}
            td {{ lote.proveedor }}
            td {{ lote.guia }}
      td(colspan="2")
        p Producto por vencer
        p 15 días&nbsp;&nbsp;
          span.e-btn.e-btn--icon.warning
            i.icon-down
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      active: false
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
