<template lang="pug">
  tbody
    tr
      td {{ item.nombreLocalOrigen }}
      td {{ item.nombreLocalDestino }}
      td {{ item.razonSocialEmpresaDestino }}
      td
        router-link(
          v-if="item.habilitado === 3"
          :to="{ name: 'SaleswomanStockTakingTransferPage', params: { id: item.idTransferencia } }"
        ).e-btn.inforouter-link.e-btn.info VER TRANFERENCIA
        a.e-btn.inforouter-link.e-btn.secondary(
          v-else
        ) CONFORME
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputCheckbox: () => import('@/components/02-molecule/formElements/checkbox'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      active: false
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
