<template lang="pug">
  .ed-grid.m-grid-8
    .m-cols-4
      v-select(
        label="Producto"
        v-model="item.idProducto"
        :options="G_PRODUCTS"
        rules="required|integer|min_value:0"
        @change="getProduct"
      )
    .m-cols-1
      input-text(
        label="Cantidad"
        type="number"
        :rules="`required|integer|between:1,${item.stock}`"
        name="cantidad"
        placeholder="0"
        v-model="item.cantidad"
      )
    .m-cols-1
      input-text(
        label="Stock"
        type="number"
        name="stock"
        placeholder="0"
        disabled
        v-model="item.stock"
      )
    .m-cols-2.nowrap
      br
      // a.e-btn.e-btn--icon.info.u-m__t
        i.icon-edit
      a.e-btn.e-btn--icon.u-m__t(
        @click="$emit('rowDelete')"
      )
        i.icon-trash
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
    id: {
      required: true,
      type: Number
    },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      active: false
    }
  },

  computed: {
    ...mapGetters({
      G_PRODUCTS: 'Product/G_PRODUCTS'
    })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCT: 'Product/A_GET_PRODUCT'
    }),
    async getProduct (id) {
      try {
        const { data } = await this.A_GET_PRODUCT({ id, params: { idLocal: this.$cookies.get('AUTH_DATA').local.idLocal } })
        this.item.stock = Number(data.stock).toFixed(0)
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
