<template lang="pug">
  validation-observer.c-page.c-saleswoman-client-create(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  )
    v-title(
      beforePage
      :title="`Solicitud / Enviar a ${data.nombreLocal}`"
    )
    .c-page__body
      .c-saleswoman-client-create__seccion
        template(
          v-for="(product, key) in data.solicitudDetalles"
        )
          row-assign(
            :id="key"
            :item="product"
            :idLocal="data.idLocal"
          )
        br
      //  a(
          @click="addRow"
        ) AGREGAR PRODUCTO
      br
      button.e-btn.info(
        @click="$modal.show('confirm-accept')"
      ) ENVIAR A LOCAL
      modal(
        :name="'confirm-accept'"
        :width="450"
        height="auto"
        :adaptive="true"
        class="c-modal"
        :shiftY="0.2"
      )
        form-confirm(
          title="¿Esta seguro de enviar este solicitud?"
          subtitle="Sed molestie vel magna nec ornare. Phasellus lobortis arcu facilisis, sagittis tellus in, mattis lorem. Vestibulum nulla lacus, faucibus eget placerat quis, vestibulum eu enim."
          textConfirm="ENVIAR"
          colorConfirm="info"
          :isLoading="isLoading"
          @confirmed="handleSubmit(onSubmit)"
          @denied="closeModal('confirm-accept')"
        )
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    rowAssign: () => import('@/components/02-molecule/request/rowRequest'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')

  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {},
      selects: {
        locals: [
          {
            name: 'Seleccione',
            value: '0'
          }
        ]
      },
      isLoading: false
    }
  },

  computed: {
    ...mapState({
      S_REQUEST: state => state.Request.S_REQUEST
    })
  },

  watch: {},
  async created () {
    this.A_GET_PRODUCTS({ onlyStore: 1 })
    this.data = await this.A_GET_REQUEST({ id: this.$route.params.id })
    this.data.solicitudDetalles.forEach((el, i) => {
      this.data.solicitudDetalles[i].idProducto = String(el.idProducto)
      this.data.solicitudDetalles[i].solicitado = String(el.solicitado)
      this.data.solicitudDetalles[i].stock = String(el.stock)
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS',
      A_GET_REQUEST: 'Request/A_GET_REQUEST',
      A_UPDATE_REQUEST: 'Request/A_UPDATE_REQUEST'
    }),
    closeModal (name) {
      this.$modal.hide(name)
    },
    addRow () {
      this.data.productos.push({
        idProducto: '',
        cantidad: '',
        stock: ''
      })
    },
    async onSubmit () {
      try {
        this.isLoading = true
        this.data.solicitudDetalles.forEach((el, key) => {
          this.data.solicitudDetalles[key].cantidad = el.solicitado
        })
        console.log('data', this.data)
        const data = await this.A_UPDATE_REQUEST(this.data)
        if (data.status) {
          this.$router.push({ name: 'SaleswomanStockTakingPage' })
        } else {
          this.isLoading = false
          this.closeModal('confirm-request')
        }
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
