<template lang="pug">
  .c-page.c-category
    v-title(
      title="SOLICITUDES"
    )
      a.e-btn(
        href="https://apidona.globoazul.pe/index.php/api/tableros/solicitados/exportPdf?habilitado=2"
        target="_blank"
      )
        i.icon-printer
        | Pdf
      a.e-btn.secondary(
        href="https://apidona.globoazul.pe/index.php/api/tableros/solicitados/reporteExcel?habilitado=2"
        target="_blank"
      )
        i.icon-excel_ico
        | Excel
    .c-page__filters
    .c-page__body
      table-request(
        :items="S_REQUESTS"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    tableRequest: () => import('@/components/03-organism/tableRequest/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        search: '',
        dateVencimiento: '',
        dateCut: '',
        local: '0',
        typeProduct: '0',
        producto: '0',
        presentacion: '0'
      },
      filters: {
        locales: [
          {
            name: 'Peppa Pig',
            value: '0'
          }
        ],
        typesProduct: [
          {
            name: 'Interno',
            value: '0'
          }
        ],
        productos: [
          {
            name: 'Lorem ipsum',
            value: '0'
          }
        ],
        presentaciones: [
          {
            name: 'Lorem ipsum',
            value: '0'
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_REQUESTS: state => state.Request.S_REQUESTS
    })
  },

  watch: {},
  created () {
    this.A_GET_REQUESTS({ habilitado: 2 })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_REQUESTS: 'Request/A_GET_REQUESTS'
    }),
    updateDateSend (e) {
      this.currentFilters.dateEnvio = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
