<template lang="pug">
  .c-page.c-saleswoman-client-create
    v-title(
      beforePage
      title="Registrar tableros"
    )
    validation-observer.c-page__body(
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    )
      .c-saleswoman-client-create__seccion
        h3 Nuevo tablero recibido / Editar tablero
        .ed-grid.m-grid-8
          //.m-cols-2
            input-text(
              label="#COD"
              type="text"
              rules="required|alpha_spaces"
              name="codigo"
              placeholder="Código"
              v-model="data.codigo"
            )
          .m-cols-2
            v-select(
              label="Tipo de tablero"
              v-model="data.idTipoTablero"
              :options="selects.typesBoard"
            )
          .m-cols-2
            input-text(
              label="Cantidad"
              type="number"
              rules="required|integer"
              name="cantidad"
              placeholder="0"
              v-model="data.cantidad"
            )
          .m-cols-4
          .m-cols-2
            v-date(
              label="Fecha de ingreso:"
              format="YYYY-MM-DD"
              @value="updateDateStart"
              v-model="data.fechaIngreso"
            )
          .m-cols-2
            v-date(
              label="Fecha de producción:"
              format="YYYY-MM-DD"
              @value="updateDateEnd"
              v-model="data.fechaVencimiento"
            )
        button.e-btn.info(
          v-if="!isLoading"
          @click="handleSubmit(onSubmit)"
        ) AGREGAR TABLERO
        .e-btn.info.e-btn--loading(
          v-else
        )
          i.icon-loading
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        codigo: '',
        idTipoTablero: '',
        cantidad: '',
        fechaIngreso: '',
        fechaVencimiento: ''
      },
      selects: {
        typesBoard: [
          {
            name: 'Seleccione tablero',
            value: '0'
          }
        ]
      },
      isLoading: false
    }
  },

  computed: {},

  watch: {},
  async created () {
    const typesBoard = await this.A_GET_TYPESBOARD()
    this.selects.typesBoard = typesBoard.map(el => ({ name: el.nombre, value: String(el.idTipoTablero) }))
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_BOARD: 'Board/A_SET_BOARD',
      A_GET_TYPESBOARD: 'Board/A_GET_TYPESBOARD'
    }),
    updateDateStart (e) {
      this.data.fechaIngreso = e
    },
    updateDateEnd (e) {
      this.data.fechaVencimiento = e
    },
    async onSubmit () {
      this.isLoading = true
      try {
        await this.A_SET_BOARD(this.data)
        this.isLoading = false
        this.$router.push({ name: 'BoardReceivedPage' })
      } catch (error) {
        console.error('LOADING CREATE BOARD', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
