<template lang="pug">
  .c-page.c-category
    v-title(
      title="Tablero recibidos"
      subtitle="(200 de 1000 tableros)"
    )
      a.e-btn(
        v-if="!isLoadingExcel"
        href="https://apidona.globoazul.pe/index.php/api/tablero/exportPdf"
        target="_blank"
      )
        i.icon-printer
        | Pdf
      a.e-btn.secondary(
        v-if="!isLoadingExcel"
        href="https://apidona.globoazul.pe/index.php/api/tablero/reporteExcel"
        target="_blank"
      )
        i.icon-excel_ico
        | Excel
      .e-btn.secondary.e-btn--loading(
        v-else
      )
        i.icon-loading
      router-link.e-btn.info(
        :to="{ name: 'BoardReceivedCreatePage' }"
      ) NUEVO TABLERO
    .c-page__filters
      v-select(
        label="Tipo de tablero"
        inputStyle="row"
        v-model="currentFilters.type"
        :options="filters.types"
      )
      v-date(
        label="Fecha de ingreso:"
        inputStyle="row"
        format="YYYY-MM-DD"
        @value="updateDateStart"
        v-model="currentFilters.dateStart"
      )
      v-date(
        label="Fecha de producción:"
        inputStyle="row"
        format="YYYY-MM-DD"
        @value="updateDateEnd"
        v-model="currentFilters.dateEnd"
      )
    .c-page__body
      table-received(
        :items="S_BOARDS"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableReceived: () => import('@/components/03-organism/tableReceived/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        dateStart: '',
        dateEnd: '',
        type: '0'
      },
      filters: {
        types: [
          {
            name: 'Tradicional',
            value: '0'
          }
        ]
      },
      isLoadingExcel: false
    }
  },

  computed: {
    ...mapState({
      S_BOARDS: state => state.Board.S_BOARDS
    })
  },

  watch: {},
  created () {
    this.A_GET_BOARDS()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_BOARDS: 'Board/A_GET_BOARDS',
      A_REPORT_BOARDS: 'Board/A_REPORT_BOARDS'
    }),
    updateDateStart (e) {
      this.currentFilters.dateStart = e
    },
    updateDateEnd (e) {
      this.currentFilters.dateEnd = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
