<template lang="pug">
  .c-page.c-category
    v-title(
      title="ESTA PANTALLA NO ESTA EN XD"
    )
    .c-page__tabs
      ul
        li(
          :class="currentFilters.switch === 'request' ? 'active': ''"
          @click="currentFilters.switch = 'request'"
        ) Solicitudes
        li(
          :class="currentFilters.switch === 'history' ? 'active': ''"
          @click="currentFilters.switch = 'history'"
        ) Historial
    .c-page__filters
      v-select(
        label="Local"
        inputStyle="row"
        v-model="currentFilters.local"
        :options="filters.locales"
      )
    .c-page__body(
      v-if="currentFilters.switch === 'request'"
    )
      table-return(
        :items="returns"
      )
    .c-page__body(
      v-else
    )
      table-history(
        :items="histories"
      )
    .c-page__footer
      v-pagination
</template>

<script>
// import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableReturn: () => import('@/components/03-organism/tableReturn/default'),
    tableHistory: () => import('@/components/03-organism/tableReturn/history'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        switch: 'request',
        local: '0'
      },
      filters: {
        locales: [
          {
            name: 'Peppa pig',
            value: '0'
          }
        ]
      },
      returns: [
        {
          id: 6,
          codigo: 'ABC500',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana'
        },
        {
          id: 7,
          codigo: 'ABC499',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana'
        },
        {
          id: 8,
          codigo: 'ABC498',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana'
        }
      ],
      histories: [
        {
          id: 1,
          codigo: 'ABC500',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana',
          productos: [
            {
              codigo: 'PROD1',
              tipoProducto: 'Lorem ipsum',
              cantidad: '25',
              presentacion: 'Lorem ipsum',
              tipoMotivo: 'Consectetur',
              motivo: '-',
              disscount: '1'
            },
            {
              codigo: 'PROD2',
              tipoProducto: 'Lorem ipsum',
              cantidad: '25',
              presentacion: 'Lorem ipsum',
              tipoMotivo: 'Consectetur',
              motivo: '-',
              disscount: '1'
            }
          ]
        },
        {
          id: 2,
          codigo: 'ABC499',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana'
        },
        {
          id: 3,
          codigo: 'ABC498',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana'
        },
        {
          id: 4,
          codigo: 'ABC498',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana'
        },
        {
          id: 5,
          codigo: 'ABC498',
          local: 'Peppa Pig',
          fecha: '17-12-2021',
          vendedora: 'Luciana'
        }
      ]
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    updateDateVencimiento (e) {
      this.currentFilters.dateVencimiento = e
    },
    updateDateCut (e) {
      this.currentFilters.dateCut = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
