<template lang="pug">
  .c-page.c-saleswoman-client-create
    v-title(
      beforePage
      title="Inventario / Devolución"
    )
    .c-page__tabs
      ul
        li(
          :class="currentFilters.switch === 'request' ? 'active': ''"
          @click="currentFilters.switch = 'request'"
        ) Solicitud
        li(
          :class="currentFilters.switch === 'history' ? 'active': ''"
          @click="currentFilters.switch = 'history'"
        ) Historial
    .c-saleswoman-client-create__seccion.u-p__t(
      v-if="currentFilters.switch === 'request'"
    )
      validation-observer(
        ref="observer"
        v-slot="{ handleSubmit }"
        tag="form"
        @submit.prevent
      )
        template(
          v-for="(product, key) in data.productos"
        )
          row-request(
            :id="key"
            :item="product"
            @removeRow="removeRow"
          )
        br
        a.e-text-info(
          @click="addRow"
        ) AÑADIR PRODUCTO
        .c-page__footer
          a.e-btn.tertiary(
            @click="$modal.show('confirm-return')"
          ) DEVOLVER TODO
        modal(
          :name="'confirm-return'"
          :width="450"
          height="auto"
          :adaptive="true"
          class="c-modal"
          :shiftY="0.2"
        )
          form-confirm(
            title="¿Esta seguro de enviar este solicitud?"
            subtitle="Sed molestie vel magna nec ornare. Phasellus lobortis arcu facilisis, sagittis tellus in, mattis lorem. Vestibulum nulla lacus, faucibus eget placerat quis, vestibulum eu enim."
            textConfirm="ENVIAR"
            colorConfirm="info"
            :isLoading="isLoading"
            @confirmed="handleSubmit(onSubmit)"
            @denied="closeModal('confirm-return')"
          )
    .c-saleswoman-client-create__seccion.u-p__t(
      v-else
    )
      table-history(
        :items="S_STOCKDEVOLUCIONS"
      )
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default'),
    rowRequest: () => import('@/components/02-molecule/return/rowRequest'),
    tableHistory: () => import('@/components/03-organism/tableStocktakingReturn/history')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        idLocal: this.$cookies.get('AUTH_DATA').local.idLocal,
        idEmpleado: this.$cookies.get('AUTH_DATA').empleado.idEmpleado,
        fecha: new Date().toJSON(),
        devolucion: 1,
        productos: [
          {
            idProducto: '',
            cantidad: '',
            total: '0',
            motivo: '0',
            comentario: ''
          }
        ]
      },
      currentFilters: {
        switch: 'request'
      },
      isLoading: false
    }
  },

  computed: {
    ...mapState({
      S_STOCKDEVOLUCIONS: state => state.Stock.S_STOCKDEVOLUCIONS
    })
  },

  watch: {},
  created () {
    this.A_GET_PRODUCTS({ idLocal: this.$cookies.get('AUTH_DATA').local.idLocal })
    this.A_GET_STOCKDEVOLUCIONS({ idLocal: this.$cookies.get('AUTH_DATA').local.idLocal })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS',
      A_SET_STOCKDEVOLUCION: 'Stock/A_SET_STOCKDEVOLUCION',
      A_GET_STOCKDEVOLUCIONS: 'Stock/A_GET_STOCKDEVOLUCIONS'
    }),
    closeModal (name) {
      this.$modal.hide(name)
    },
    removeRow (id) {
      this.data.productos.splice(id, 1)
    },
    addRow () {
      this.data.productos.push({
        idProducto: '',
        cantidad: '',
        total: '0',
        motivo: '0',
        comentario: ''
      })
    },
    async onSubmit () {
      try {
        this.isLoading = true
        const result = await this.A_SET_STOCKDEVOLUCION(this.data)
        if (result.status) {
          this.A_GET_STOCKDEVOLUCIONS({ idLocal: this.$cookies.get('AUTH_DATA').local.idLocal })
          this.data.productos = []
          this.addRow()
          this.closeModal('confirm-return')
          this.isLoading = false
        }
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
