<template lang="pug">
  tbody
    tr
      td T{{ padLeft(item.idTablero, 5) }}
      td {{ item.nombreTipoTablero }}
      td {{ item.cantidad }}
      td {{ item.fecha_ingreso }}
      td {{ item.fecha_vencimiento }}
      td.m-right
        router-link(
          v-if="item.countCortes === 0"
          :to="{ name: 'BoardReceivedEditPage', params: { idBoard: item.idTablero } }"
        ).e-btn.e-btn--icon.info
          i.icon-edit
        a.e-btn.e-btn--icon(
          @click="$modal.show(`confirm-delete-${item.idTablero}`)"
        )
          i.icon-trash
      td.nowrap
        router-link(
          :to="{ name: 'BoardReturnedCreatePage', params: { id: item.idTablero } }"
        ) REGRESAR TABLERO
    modal(
      :name="`confirm-delete-${item.idTablero}`"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="Eliminar tablero"
        subtitle="¿Esta seguro de eliminar este tablero?"
        @confirmed="deleteCut(item.idTablero)"
        @denied="closeModal(`confirm-delete-${item.idTablero}`)"
      )
      p.m-center {{ message }}
</template>

<script>
// import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

import { mapActions } from 'vuex'

export default {
  components: {
    // component
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      message: ''
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_BOARDS: 'Board/A_GET_BOARDS',
      A_DELETE_BOARD: 'Board/A_DELETE_BOARD'
    }),
    padLeft (value, length) {
      return (value.toString().length < length)
        ? this.padLeft('0' + value, length)
        : value
    },
    async deleteCut (idTablero) {
      await this.A_DELETE_BOARD(idTablero)
      await this.A_GET_BOARDS()
      this.closeModal('confirm-delete-' + idTablero)
    },
    closeModal (name) {
      this.$modal.hide(name)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
