<template lang="pug">
  .o-table
    table
      thead
        tr
          th
            span # INGRESO
            i.icon-sort
          th
            span Fecha de solicitud
            i.icon-sort
          th
            span Fecha de entrega
            i.icon-sort
          th
            span Procedencia
            i.icon-sort
          th
            span Vendedora
            i.icon-sort
          th(colspan=2)
            span Estado
            i.icon-sort
      template(
        v-for="(item, key) in items"
      )
        row-stocktaking-history(
          :key="key"
          :id="key"
          :item="item"
        )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    rowStocktakingHistory: () => import('@/components/02-molecule/stockTaking/rowHistory')
  },
  props: {
    // propierty: { required: false, type: String },
    items: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: '',
      stateRow: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
