<template lang="pug">
  .c-page.c-category
    v-title(
      title="Mantenimiento / Producto"
    )
      // a.e-btn.disabled
        i.icon-apple_ico
        | Copiar
      // a.e-btn.tertiary
        i.icon-apple_ico
        | Imprimir
      // a.e-btn.secondary
        i.icon-apple_ico
        | Excel
    .c-page__filters
      v-search(
        type="search"
        label="Buscar"
        inputStyle="row"
        name="search"
        @change="search"
        v-model="currentFilters.search"
      )
      //v-select(
        label="Categorías"
        inputStyle="row"
        @change="search"
        v-model="currentFilters.categories"
        :options="filters.categories"
      //)
      v-select(
        label="Marcas"
        inputStyle="row"
        @change="search"
        v-model="currentFilters.brands"
        :options="filters.brands"
      )
      a.e-btn.info(
        @click="$modal.show('product-create')"
      ) + AGREGAR PRODUCTO
    .c-page__body
      table-product(
        :items="S_PRODUCTS"
      )
    .c-page__footer
      v-pagination
    modal(
      name="product-create"
      :width="650"
      height="auto"
      :scrollable="true"
      class="c-modal c-modal--form"
      :shiftY="0.2"
    )
      product-create(
        @success="createProduct"
      )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    tableProduct: () => import('@/components/03-organism/tableProduct/default'),
    productCreate: () => import('@/components/02-molecule/product/create'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        search: '',
        categories: '',
        brands: ''
      },
      filters: {
        categories: [
          {
            name: 'opcion 1',
            value: '0'
          },
          {
            name: 'opcion 2',
            value: '1'
          },
          {
            name: 'opcion 3',
            value: '2'
          }
        ],
        brands: [
          {
            name: 'Doña Pepa',
            value: 'Doña Pepa'
          },
          {
            name: 'Lambayecano',
            value: 'Lambayecano'
          },
          {
            name: 'San Roque',
            value: 'San Roque'
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_PRODUCTS: state => state.Product.S_PRODUCTS
    })
  },

  watch: {},
  created () {
    this.A_GET_PRODUCTS({ all: 1 })
    this.A_GET_CATEGORIES()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PRODUCTS: 'Product/A_GET_PRODUCTS',
      A_GET_CATEGORIES: 'Category/A_GET_CATEGORIES'
    }),
    search () {
      this.A_GET_PRODUCTS({
        all: 1,
        search: this.currentFilters.search,
        marca: this.currentFilters.brands
      })
    },
    createProduct (e) {
      if (e) {
        this.$modal.hide('product-create')
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
