<template lang="pug">
  .c-page
    v-title(
      title="Reportes / Liquidación Maestro"
    )
      // a.e-btn.disabled
        i.icon-paper
        | Copiar
      // a.e-btn.tertiary
        i.icon-paper
        | Imprimir
      // a.e-btn.secondary
        i.icon-paper
        | Excel
    .c-page__filters.c-page__filters--multiple.regular
      .c-page__filters--multiple-row.start
        v-date(
          label="Fecha:"
          inputStyle="row"
          format="YYYY-MM-DD"
          @value="updateDateStart"
          v-model="currentFilters.dateStart"
        )
      .c-page__filters--multiple-row
        v-select(
          label="Métodos de pago:"
          inputStyle="row"
          v-model="currentFilters.methods"
          :options="filters.methods"
        )
        v-select(
          label="Tipo de cliente:"
          inputStyle="row"
          v-model="currentFilters.clients"
          :options="filters.clients"
        )
        v-select(
          label="Pto de venta asignado:"
          inputStyle="row"
          v-model="currentFilters.products"
          :options="filters.products"
        )
        input-text(
          label="Total liquidado:"
          type="number"
          inputStyle="row width-min"
          rules="integer"
          name="price"
          placeholder="S/. 3500"
          v-model="currentFilters.total"
        )
    .c-page__body
      table-report-liquidation(
        :items="S_LIQUIDATION_MASTER"
      )
    .c-page__footer
      v-pagination
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default'),
    tableReportLiquidation: () => import('@/components/03-organism/tableLiquidation/report'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        type: 'active',
        dateStart: '',
        methods: '',
        clients: '',
        total: ''
      },
      filters: {
        methods: [
          {
            name: 'Transferencia',
            value: '0'
          },
          {
            name: 'Pago Efectivo',
            value: '1'
          }
        ],
        clients: [
          {
            name: 'Al por mayor',
            value: '0'
          },
          {
            name: 'Al por menor',
            value: '1'
          }
        ],
        products: [
          {
            name: 'Exportación',
            value: '0'
          },
          {
            name: 'Importacion',
            value: '1'
          }
        ]
      },
      listSale: [
        {
          id: '0',
          type: 'Chris Alexander Moscoso López',
          date: '2020 - 12 - 17',
          total: '1196.00'
        },
        {
          id: '1',
          type: 'Chris Alexander Moscoso López',
          date: '2020 - 12 - 17',
          total: '1196.00'
        },
        {
          id: '2',
          type: 'Chris Alexander Moscoso López',
          date: '2020 - 12 - 17',
          total: '1196.00'
        },
        {
          id: '3',
          type: 'Chris Alexander Moscoso López',
          date: '2020 - 12 - 17',
          total: '1196.00'
        },
        {
          id: '4',
          type: 'Chris Alexander Moscoso López',
          date: '2020 - 12 - 17',
          total: '1196.00'
        },
        {
          id: '5',
          type: 'Chris Alexander Moscoso López',
          date: '2020 - 12 - 17',
          total: '1196.00'
        }
      ]
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    ...mapState({
      S_LIQUIDATION_MASTER: state => state.Sale.S_LIQUIDATION_MASTER
    })
  },

  watch: {},
  created () {
    this.A_GET_LIQUIDATION_MASTER()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_LIQUIDATION_MASTER: 'Sale/A_GET_LIQUIDATION_MASTER'
    }),
    updateDateStart (e) {
      this.currentFilters.dateStart = e
    },
    updateDateEnd (e) {
      this.currentFilters.dateEnd = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
