<template lang="pug">
  .c-page
    v-title(
      title="Reportes / Liquidación Maestro"
      beforePage
    )
      // a.e-btn.disabled
        i.icon-paper
        | Copiar
      // a.e-btn.tertiary
        i.icon-paper
        | Imprimir
      // a.e-btn.secondary
        i.icon-paper
        | Excel
    .c-page__filters.c-page__filters--multiple.regular
      .c-page__filters--multiple-row
        h2 Leonela Feliz
        input-text(
          label="Total liquidado:"
          type="number"
          inputStyle="row width-min"
          rules="integer"
          name="price"
          placeholder="S/. 3500"
          disabled
          v-model="currentFilters.total"
        )
      .c-page__filters--multiple-row
        v-select(
          label="Métodos de pago:"
          inputStyle="row"
          v-model="currentFilters.methods"
          :options="filters.methods"
        )
        v-select(
          label="Tipo de cliente:"
          inputStyle="row"
          v-model="currentFilters.clients"
          :options="filters.clients"
        )
        v-select(
          label="Pto de venta asignado:"
          inputStyle="row"
          v-model="currentFilters.products"
          :options="filters.products"
        )
        v-date(
          label="Fecha:"
          inputStyle="row"
          format="YYYY-MM-DD"
          @value="updateDateStart"
          v-model="currentFilters.dateStart"
        )
    .c-page__body
      table-detail-liquidation(
        :items="listSale"
      )
    .c-page__footer
      v-pagination
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    vDate: () => import('@/components/02-molecule/formElements/date'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    inputText: () => import('@/components/02-molecule/formElements/default'),
    tableDetailLiquidation: () => import('@/components/03-organism/tableLiquidation/detail'),
    vPagination: () => import('@/components/02-molecule/pagination/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        type: 'active',
        dateStart: '',
        methods: '',
        clients: '',
        total: '3500'
      },
      filters: {
        methods: [
          {
            name: 'Transferencia',
            value: '0'
          },
          {
            name: 'Pago Efectivo',
            value: '1'
          }
        ],
        clients: [
          {
            name: 'Al por mayor',
            value: '0'
          },
          {
            name: 'Al por menor',
            value: '1'
          }
        ],
        products: [
          {
            name: 'Exportación',
            value: '0'
          },
          {
            name: 'Importacion',
            value: '1'
          }
        ]
      },
      listSale: [
        {
          id: '10772',
          product: 'Lorem ipsum',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: '10772',
          product: 'Lorem ipsum',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: '10772',
          product: 'Lorem ipsum',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: '10772',
          product: 'Lorem ipsum',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        },
        {
          id: '10772',
          product: 'Lorem ipsum',
          serie: 'NV10',
          code: '6797',
          subtotal: '225.00',
          amount: '265.50'
        }
      ]
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    updateDateStart (e) {
      this.currentFilters.dateStart = e
    },
    updateDateEnd (e) {
      this.currentFilters.dateEnd = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
