<template lang="pug">
  .c-page
    v-title(
      title="Mantenimiento / Local"
    )
    .c-page__filters
      v-search(
        type="text"
        label="Buscar"
        inputStyle="row"
        name="search"
        @change="search"
        v-model="currentFilters.search"
      )
      a.e-btn.info(
        @click="$modal.show('local-create')"
      ) + AGREGAR LOCAL
    .c-page__body
      table-local(
        :items="S_LOCALS"
      )
    .c-page__footer
      v-pagination
    modal(
      name="local-create"
      :width="650"
      :scrollable="true"
      height="auto"
      class="c-modal c-modal--form"
      :shiftY="0.2"
    )
      local-create(
        @success="closeModal"
      )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vTitle: () => import('@/components/02-molecule/title/default'),
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    tableLocal: () => import('@/components/03-organism/tableLocal/default'),
    vPagination: () => import('@/components/02-molecule/pagination/default'),
    localCreate: () => import('@/components/02-molecule/local/create')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        search: ''
      }
    }
  },

  computed: {
    ...mapState({
      S_LOCALS: state => state.Local.S_LOCALS
    })
  },

  watch: {},
  created () {
    this.A_GET_LOCALS()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_LOCALS: 'Local/A_GET_LOCALS'
    }),
    search () {
      this.A_GET_LOCALS({
        search: this.currentFilters.search
      })
    },
    closeModal (e) {
      if (e) {
        this.$modal.hide('local-create')
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
