<template lang="pug">
  validation-observer(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  ).o-form.ed-grid.m-grid-6
    h3.o-form__title.m-cols-6 Agregar local
    .input-group.m-cols-6
      input-text(
        label="Nombre"
        type="text"
        rules="required"
        name="nombre"
        v-model="data.nombre"
      )
    .input-group.m-cols-6
      input-text(
        label="Descripción"
        type="text"
        rules="required"
        name="descripcion"
        v-model="data.descripcion"
      )
    .input-group.m-cols-3
      v-select(
        v-model="data.idDepartamento"
        label="Departamento"
        name="deparments"
        :options="G_DEPARTMENTS"
        @change="reloadProvince"
        :selected="data.idDepartamento"
      )
    .input-group.m-cols-3
      v-select(
        v-model="data.idProvincia"
        name="provinces"
        label="Provincia"
        :options="G_PROVINCES"
        :selected="data.idProvincia"
      )
    .input-group.m-cols-6
      input-text(
        label="Dirección"
        type="text"
        rules="required"
        name="address"
        v-model="data.direccion"
      )
    .input-group.m-cols-3
      input-text(
        label="Numero de contacto"
        type="number"
        rules="integer"
        name="contact"
        v-model="data.celular"
      )
    .input-group.m-cols-3
      input-text(
        label="Aforo"
        type="number"
        rules="required"
        name="aforo"
        v-model="data.aforo"
      )
    .input-group.m-cols-6
      .e-input
        label Horario de atención
    template(
      v-for="(day, key) in options.week"
    )
      .input-group.m-cols-2
        label.e-checkbox
          input(
            type="checkbox",
            v-model="data.horario[key].habilitado"
          )
          span
            i.icon-check
          p {{ day }}
      .input-group.m-cols-2
        v-select(
          v-model="data.horario[key].ingreso"
          :options="options.hours.start"
        )
      .input-group.m-cols-2
        v-select(
          v-model="data.horario[key].salida"
          :options="options.hours.final"
        )
    .input-group.m-cols-2
      v-radio(
        label="Tiene regalo"
        v-model="data.present"
        :options="options.present"
        name="present"
        inputStyle="row"
      )
    .input-group.m-cols-6
      v-select(
        v-model="data.idEmpresa"
        name="business"
        label="Empresa"
        :options="G_BUSINESS"
      )
    .input-group.m-cols-6
      input-text(
        label="Token (NubeFacT)"
        type="text"
        rules="required"
        name="token"
        v-model="data.token"
      )
    button.e-btn.e-btn--fullwidth.o-form__footer.m-cols-6(
      v-if="!isLoading"
      @click="handleSubmit(onSubmit)"
    ) AGREGAR
    .e-btn.e-btn--fullwidth.e-btn--loading.o-form__footer.m-cols-6(
      v-else
    )
      i.icon-loading
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/default'),
    vSelect: () => import('@/components/02-molecule/formElements/select'),
    vRadio: () => import('@/components/02-molecule/formElements/radio'),
    inputCheckbox: () => import('@/components/02-molecule/formElements/checkbox')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        aforo: '',
        idProvincia: '',
        idDepartamento: '',
        idEmpresa: '',
        descripcion: '',
        direccion: '',
        nombre: '',
        celular: null,
        token: '',
        horario: [
          { habilitado: false, dia: '1', ingreso: '09:00:00', salida: '18:00:00' },
          { habilitado: false, dia: '2', ingreso: '09:00:00', salida: '18:00:00' },
          { habilitado: false, dia: '3', ingreso: '09:00:00', salida: '18:00:00' },
          { habilitado: false, dia: '4', ingreso: '09:00:00', salida: '18:00:00' },
          { habilitado: false, dia: '5', ingreso: '09:00:00', salida: '18:00:00' },
          { habilitado: false, dia: '6', ingreso: '09:00:00', salida: '18:00:00' },
          { habilitado: false, dia: '7', ingreso: '09:00:00', salida: '18:00:00' }
        ],
        present: ''
      },
      options: {
        week: ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'],
        hours: {
          start: [
            { name: '08:00', value: '08:00:00' },
            { name: '09:00', value: '09:00:00' },
            { name: '10:00', value: '10:00:00' }
          ],
          final: [
            { name: '17:00', value: '17:00:00' },
            { name: '18:00', value: '18:00:00' },
            { name: '19:00', value: '19:00:00' }
          ]
        },
        present: [
          { name: 'Si', value: '1' },
          { name: 'No', value: '0' }
        ]
      },
      isLoading: false
    }
  },

  computed: {
    ...mapGetters({
      G_DEPARTMENTS: 'Department/G_DEPARTMENTS',
      G_PROVINCES: 'Province/G_PROVINCES',
      G_BUSINESS: 'Local/G_BUSINESS'
    })
  },

  watch: {
  },
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_LOCAL: 'Local/A_SET_LOCAL',
      A_GET_PROVINCES: 'Province/A_GET_PROVINCES'
    }),
    async onSubmit () {
      this.isLoading = true
      try {
        await this.A_SET_LOCAL({ local: this.data })
        this.isLoading = false
        this.$emit('success', true)
      } catch (error) {
        console.error('LOADING CREATE LOCAL', error)
      }
    },
    async reloadProvince (e) {
      await this.A_GET_PROVINCES(e)
      this.data.provincia = this.G_PROVINCES[0].value
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
