<template lang="pug">
  tbody
    tr
      td {{ id + 1 }}
      td {{ item.nombre }}
      td {{ item.direccion }}
      td
        a.e-btn.e-btn--small.info(
          @click="$modal.show(`local-edit-${ item.idLocal }`)"
        ) EDITAR
        a.e-btn.e-btn--small(
          @click="$modal.show(`local-delete-${ item.idLocal }`)"
        ) ELIMINAR
        template
          a.e-btn.e-btn--small.secondary(
            v-if="item.habilitado === 2"
            @click="$modal.show(`local-active-${ item.idLocal }`)"
          ) ACTIVAR
          a.e-btn.e-btn--small.dark(
            v-else
            @click="$modal.show(`local-desactive-${ item.idLocal }`)"
          ) DESACTIVAR
    modal(
      :name="'local-edit-' + item.idLocal"
      :width="650"
      :scrollable="true"
      height="auto"
      class="c-modal c-modal--form"
      :shiftY="0.2"
    )
      local-edit(
        :local="item"
        @success="updateItem"
      )
    modal(
      :name="'local-delete-' + item.idLocal"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de eliminar local?"
        textConfirm="SI, ELIMINAR"
        @confirmed="deleteItem(item.idLocal)"
        @denied="closeModal('local-delete-' + item.idLocal)"
      )
    modal(
      :name="'local-desactive-' + item.idLocal"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de desactivar local?"
        textConfirm="SI, DESACTIVAR"
        @confirmed="desactiveItem(item.idLocal)"
        @denied="closeModal('local-desactive-' + item.idLocal)"
      )
    modal(
      :name="'local-active-' + item.idLocal"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
      :shiftY="0.2"
    )
      form-confirm(
        title="¿Está seguro(a) de activar local?"
        textConfirm="SI, ACTIVAR"
        @confirmed="activeItem(item.idLocal)"
        @denied="closeModal('local-active-' + item.idLocal)"
      )
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    localEdit: () => import('@/components/02-molecule/local/edit'),
    formConfirm: () => import('@/components/02-molecule/formConfirm/default')
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    },
    id: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_DELETE_LOCAL: 'Local/A_DELETE_LOCAL',
      A_DESACTIVE: 'A_DESACTIVE',
      A_ACTIVE: 'A_ACTIVE',
      A_GET_LOCALS: 'Local/A_GET_LOCALS'
    }),
    closeModal (name) {
      this.$modal.hide(name)
    },
    async deleteItem (id) {
      await this.A_DELETE_LOCAL(id)
      this.A_GET_LOCALS()
      this.closeModal('local-delete-' + id)
    },
    async desactiveItem (id) {
      await this.A_DESACTIVE({ desactivar: { nombreTabla: 'Local', id } })
      await this.A_GET_LOCALS()
      this.closeModal('local-desactive-' + id)
    },
    async activeItem (id) {
      await this.A_ACTIVE({ activar: { nombreTabla: 'Local', id } })
      await this.A_GET_LOCALS()
      this.closeModal('local-active-' + id)
    },
    async updateItem (e) {
      if (e) {
        this.item.nombre = e.nombre
        this.item.descripcion = e.descripcion
        this.item.idDepartamento = e.idDepartamento
        this.item.idProvincia = e.idProvincia
        this.item.direccion = e.direccion
        this.item.celular = e.celular
        this.item.aforo = e.aforo
        this.item.horario = e.horario
        this.item.regalo = e.regalo
        this.item.idEmpresa = e.idEmpresa
        this.item.token = e.token
        this.closeModal('local-edit-' + this.item.idLocal)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
