<template lang="pug">
  .c-pagination
    span {{ current }} / {{ countPage }}
    .c-pagination__navigate
      i(
        @click="leftPage"
      ).icon-left
      span.current {{ current }}
      i(
        @click="rightPage"
      ).icon-right
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    currentPage: {
      require: false,
      type: Number,
      default: 1
    },
    limitPage: {
      require: false,
      type: Number,
      default: 1
    },
    totalPage: {
      require: false,
      type: Number,
      default: 1
    }
  },

  data () {
    return {
      data: '',
      current: 1,
      countPage: 1
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {
    totalPage () {
      this.countPage = Math.ceil(this.totalPage / this.limitPage)
      if (this.countPage < this.current) {
        this.current = this.countPage
      } else {
        this.current = this.currentPage
      }
    }
  },
  created () {
    this.current = this.currentPage
    this.countPage = Math.ceil(this.totalPage / this.limitPage)
  },
  mounted () {},
  updated () {},
  methods: {
    leftPage () {
      if (this.current > 1) {
        this.current--
        this.$emit('leftPage', this.current)
      }
    },
    rightPage () {
      console.log('aqui', this.current)
      if (this.current < this.countPage) {
        this.current++
        this.$emit('rightPage', this.current)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
